<div class="candidat-card col-md-6"  ng-class="{
        'ghost': !candidature.application_completed,
        'showing_details': $parent.$parent.candidat_id == candidature.id,
        'application_complete': candidature.application_complete,
        'remote_interview': candidature.remote_interview,
        'selected_for_interview': candidature.selected_for_interview,
        'selected': candidature.selected,
      }">

    <div class="corner" ng-class="{'red' : !candidature.application_complete && candidature.application_completed, 'green' : candidature.application_complete}"> </div>


        <div class="thumbnail">
          <a class="" ui-sref="candidatures.list.candidat({id: candidature.id})" ng-click="$parent.$parent.candidat_id = candidature.id;" >
          <div>
            <div class="col-xs-4 col-md-4">
              <div class="photo">

                  <fresnoy-thumbnail ng-if="candidature.artist.user.profile.photo && candidature.application_completed"
                  thurl="candidature.artist.user.profile.photo" thwidth="70" thheight="75"></fresnoy-thumbnail>
                  <img class="" ng-if="!candidature.artist.user.profile.photo || !candidature.application_completed" src="images/anonymous.jpg" alt="..">

              </div>
            </div>
            <div class="col-xs-8 col-md-8 no-gutter">
              <div class="row">
                <div class="col-xs-8 col-md-8">
                  <div class="user-infos">
                    <div>
                      <span class="user-last_name preserve-info">{{ candidature.artist.user.last_name }}</span>
                      <span class="oneline nationality hide-infos">
                        <span ng-repeat="nationality in candidature.artist.user.profile.nationality.split(', ') track by $index">
                          <span ng-if='nationality' class="flag-icon flag-icon-{{nationality | lowercase}}" title="{{country.codeToCountry[nationality]}}" />
                        </span>
                      </span>
                    </div>
                    <div class="user-first_name preserve-info">{{ candidature.artist.user.first_name }}</div>
                    <div class="user-birthdate preserve-info">{{ candidature.artist.user.profile.birthdate | ageFilter}} ans</div>
                    <div ng-show="candidature.artist.user.profile.mother_tongue" class="langues hide-infos"> Parle
                      {{LANGUAGES_NAME_short[candidature.artist.user.profile.mother_tongue].englishName.split(' ')[0]}},
                      <span ng-if="candidature.artist.user.profile.other_language">
                        <span class="language" ng-repeat="language in candidature.artist.user.profile.other_language.split(', ')  track by $index">
                          <span class="name">{{LANGUAGES_NAME_short[language].englishName.split(' ')[0]}}</span></span></span>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-md-4 .no-gutter">
                  <div class="candidature-infos-icon">
                    <div ng-if="candidature.selected_for_interview && !candidature.wait_listed && !candidature.selected"><i class="btn-lg glyphicon glyphicon-user grey"></i></div>
                    <div ng-if="candidature.wait_listed && !candidature.selected"><i class="btn-lg glyphicon glyphicon-ok grey"></i></div>
                    <div ng-if="candidature.selected"><i class="btn-lg glyphicon glyphicon-ok green"></i></div>
                  </div>
                  <span class="candidature-number">{{candidature.current_year_application_count}}</span>
                </div>
              </div>
            </div>


          <div class="candidature-infos">

            <!-- non sleectionné -->
            <span ng-if="candidature.unselected">Non sélectionné</span>

            <!-- Annoté -->
            <span ng-if="candidature.has_observation">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Des notes personnelles ou partagées sont disponibles"></span>
            </span>
            

            <!-- NON VISé -->
            <span ng-if="candidature.application_completed && !candidature.application_complete">
              Dossier validé en ligne
              <strong>- Non visé</strong>
            </span>
            <span ng-if="candidature.application_complete && !candidature.unselected">
              <!-- VISé -->
              <span ng-if="!candidature.selected_for_interview && !candidature.wait_listed_for_interview && !candidature.wait_listed && !candidature.selected && !candidature.selected">Dossier visé</span>
              <!-- entretien -->
              <span ng-if="candidature.selected_for_interview && !candidature.wait_listed && !candidature.selected">
                Sélectionné<ng-pluralize count="candidature.artist.user.profile.gender.indexOf('F')" when="{'0': 'e', 'other': ''}"></ng-pluralize>
                pour l'entretien</span>
              <!-- entretien liste attente -->
              <span ng-if="!candidature.wait_listed && candidature.wait_listed_for_interview && candidature.position_in_interview_waitlist">Liste d'attente pour l'entretien en position : {{candidature.position_in_interview_waitlist}}</span>
              <!-- slectionné liste attente -->
              <span ng-if="candidature.wait_listed && !candidature.selected">En liste d'attente  position : {{candidature.position_in_waitlist}}</span>
              <!-- selectionné -->
              <span ng-if="!candidature.unselected && candidature.selected">Sélectioné<ng-pluralize count="candidature.artist.user.profile.gender.indexOf('F')" when="{'0': 'e', 'other': ''}"
                <ng-pluralize count="candidature.artist.user.profile.gender" when="{'F': 'e', 'other': ''}" />
              </span>
            </span>
            <span ng-if='!candidature.application_completed' class="bar" ng-style='{"width" : ""+candidature.progress+"%"}'> {{candidature.progress}}%</span>
          </div>
        </div></a>
      </div>


</div>
