<div class="student-card col-md-2">
  <a ui-sref="school.student({id: student.id})">
    <div class="thumbnail">
      <fresnoy-thumbnail ng-if="student.artist.artist_photo" thurl="student.artist.artist_photo" thwidth="300" thheight="200"></fresnoy-thumbnail>
      <fresnoy-thumbnail ng-if="!student.artist.artist_photo && student.artist.user.photo" thurl="'media/'+student.artist.user.photo" thwidth="300" thheight="200"></fresnoy-thumbnail>
      <img ng-if="!student.artist.user.photo && !student.artist.artist_photo" src="images/anonymous.jpg" alt="..">
      <div class="caption">
        <strong ng-if='student.artist.nickname'>{{ student.artist.nickname }}</strong>
        <span ng-if='!student.artist.nickname'>
          {{  student.artist.user.first_name }} <strong>{{ student.artist.user.last_name }}</strong>
        </span>
      </div>
      </div>
    </div>
  </a>
</div>
