.modal-dialog{
    min-width: 70%;
}

.main-container {
    margin-top: 50px;
}

ul.promotions {
    margin-top: 10px;

    a.active {
        background-color: #eee;
    }
}

li.promotion {
    a {
        width: 100%;
    }
    span, a {
        display:inline-block;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    span {
        font-size: 1em;
        padding: 4px;
    }
}

.student-card {
    img{
      max-height: 200px;
    }
    .caption {
      text-align: center;
      height: 60px;
      overflow: hidden;
    }
}

/*-- Student --*/
.links {
    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li.websites {
        display: inline-block;

        ul {
            display: inline-block;

            li.website {
                display: inline-block;
                padding-right: 3px;
            }

            li.website:after {
                content: ',';
            }

            li.website:last-child:after{
                content: '';
            }

        }
    }
}


/*-- Artwork --*/

.artwork-card {
    overflow: hidden;

    span.title {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }
}

.flag {
    height: 18px;
}

.nav-tabs {
    margin-top: 10px;
    a {
      cursor: pointer;
    }
    h3 {
        display: inline-block;
        float: left;
        vertical-align: middle;
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        margin-top: 0px;
        margin-bottom: 0;
    }
}

div.api-field {
    margin-bottom: 20px;;
}

.artwork-about .tab-content {
    padding-top: 10px;
}

.lightbox-image-container {
  video{
    width: 100%
  }
}

/* header */
.navbar-brand {
    img {
        margin-top: -4px;
    }
}


.header {
    display: block;
    height: 200px;
    position: relative;

    .overlay {
        background-color: none;
        background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 4px);

        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
    }

    img {
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    h1 {
        position: absolute;

        left: 10px;
        bottom: 40px;
        z-index: 2;
        color: white;
        background-color: black;
        padding: 3px;
        font-weight: bold;
    }
    h2 {
        position: absolute;
        z-index: 2;

        left: 15px;
        bottom: 10px;
        z-index: 2;
        color: white;
        background-color: black;
        padding: 3px;
        font-weight: bold;
        font-size: 1.4em;

    }
}




.nature {

    &:first-letter {
        text-transform: uppercase;
    }
    ul.genres{
      display: inline;
      margin-left: 0px;

      li:after {
          content: ',';
      }

      li:last-child:after{
          content: '';
      }

    }

    ul.authors {
        display: inline-block;
        list-style-type: none;
        padding-left: 0;

        li:after {
            content: ',';
        }

        li:last-child:after{
            content: '.';
        }

        .lastname {
            text-transform: uppercase;
        }
    }


}

.technic {

  ul {

    li:nth-child(n+2):before {
       /* tous sauf premier */
      content:"/ ";
    }

    li.duration {
      // background-color: #666;
      // color: white;
      //padding: 0;
    }

  }

}

.quicksearch {
    i.loading-glyph {
        color: white;
        padding-left: 5px;
    }
    ul {
        margin: 0px;
        padding: 0px;
        max-width: 30%;

        li {
            a {
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 5px;
                padding-top: 5px;
            }
        }
    }
}


// Candidature
body.logged {
    padding-top:70px;
}
body.fr {
  .fr{display: inline-block;}
  .en{display: none;}
}
body.en {
  .en{display: inline-block;}
  .fr{display: none;}
}

.student-app{
    h1{
      margin-top: 0px;
      &:after{
          content:"";
          margin: 5px;
          height:5px;
          width: 50px;
          background: black;
          display: block;
      }
    }
    .content {
      margin-top: 50px;
      padding: 40px;
      box-shadow: 0px 0px 5px black;
      position: relative;
    }
    .btn{
        background: black;
        padding: 5px 10px;
        color:white;
        border-radius: 0px;
        &.green {
          background-color: green;
        }
        &.block{
          display: block;
        }
        &.btn-inv{
          background: none;
          border: 1px solid black;
          color:black;
        }
        &.photo-remove{
          margin: 10px 0px;
        }
    }
    input, select, textarea{
      width:100%;
      margin: 5px 0px;
      border: 0px;
      border-bottom: 3px solid black;
      margin:0px;
      margin-top: 20px;
      &:focus{
        outline:none;
        background-color: rgba(0,0,0,.05)
      }
      &.ng-invalid.ng-touched{
        background-color:none;
        ~label .field-state{
          background: red;
        }
      }
      &.ng-valid-required, &.ng-invalid-required{
        ~label .field-state{
          background: orange;
        }
      }
      &.ng-valid{
        ~label .field-state{
          background: green;
        }
      }
      &[type='checkbox'],&[type='radio'] {
        /*
         width: 30px;
         height: 30px;
         */
         width: auto;
         display: inline-block;
        &.one{
          margin: 20px;
          ~ label {
            width: 75%;
            vertical-align: top;
            text-align: left;
            display:inline-block;
            &.big{
              font-size: 1.1em
            }
          }
        }

      }
      ~ .help-block{
        text-align: right;
        margin: 0px;
        &.error{
          color: red;
        }
      }
    }
    label.topborder{
      border-top: 3px solid black;
    }
    label {

      text-align: right;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 0.7em;
      color:grey;
      display: inline-block;
      width: 100%;

      .field-state{
        width:7px;
        height: 7px;
        background: black;
        display: inline-block;
      }
    }
    .summary {
      input{
        width:auto;
        display: inline-block;
        margin: 5px 0px;
        border: 0px;
      }
      label{
        text-align: right;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 0.7em;
        color:grey;
        display: inline-block;
        width: auto;
      }
    }
    .navigation{
      margin: 30px 0px;
      &.footer {
        position: absolute;
        bottom:-10px;
        right: 5px;
      }
      &.header{
        position: absolute;
        margin: 0px 0px;
        top:-20px;
        right: 0px;
        a{
          font-size: 0.8em;
          color: grey;
        }
      }
    }
    .data-writing{
        position: absolute;
        right: 10px;
        background: green;
        color: white;
        border-radius: 5px;
        padding: 2px 5px;

        -webkit-transition: 0.1s linear all;
      	transition: 0.1s linear all;
      	opacity: 1;
        &.ng-hide{
          opacity:0;
        }
        &.ng-hide{
          display: inline-block !important;
        }
    }

    .photo-upload{
      width: 100%;
      height: 200px;
      margin: auto;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      background-color: #BBB;
    }
    .mediabox{
      width: 100%;
      min-height: 50px;
      border:1px solid black;
      background-color: #DDD;
      margin: 30px 0px;

      &.dragover{
        background-color: green;
      }

    }

    .item-list.active{
      .item-infos{
        display:block;
      }
      .item-summary{
        display:none;
      }
    }
    .item-list{
      padding-bottom: 10px;
      .item-infos
      {
        display: none;
      }
      .item-summary{
        background: grey;
        cursor: pointer;
        padding: 10px 10px;
      }
      .item-infos{}
      .remove{
        margin: 10px 0px;
      }
    }

    .remove, .remove-confirm {
      cursor: pointer;
      height: 30px;
      width: 100%;
      background-color: #f88;
      opacity: 0.5;
      background-image: url(http://icon-icons.com/icons2/934/PNG/512/trash-can-black-symbol_icon-icons.com_72914.png);
      background-size: auto 20px;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
    }
    .remove-confirm {
      opacity:1;
      background-position: left;
      text-align: center;
      .yes, .no {
        color:black;
        width:50px;
        display: inline-block;
        :hover{
          opacity: "0.8"
        }
      }
      .no {
        content:"X";
      }
    }


    .formElt{
      margin: 50px 0px;

    }


}


 span[ng-show*="error"] {
    color:red;
 }

 .disabled{
   opacity: 0.2
 }

.btn{
  &.has-error{
    opacity: 0.2;
    pointer-events:none;
  }
  &.green, &.grey{
    color: white;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
  &.green{
    background: green;
  }
  &.grey{
    background: grey;
  }
}

label{

}

 label,
 input[type="submit"]
  {
   display: block;
 }

 .inline{
   display: inline-block;
 }
 .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}



// print
@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .tab-content > .tab-pane {
        display: block !important; opacity: 1 !important;
        visibility: visible;
    }
}
