.modal-dialog{
    min-width: 70%;
}

.main-container {
    margin-top: 50px;
}

ul.promotions {
    margin-top: 10px;

    a.active {
        background-color: #eee;
    }
}

li.promotion {
    a {
        width: 100%;
    }
    span, a {
        display:inline-block;
        padding-top: 4px;
        padding-bottom: 4px;
    }

    span {
        font-size: 1em;
        padding: 4px;
    }
}

.student-card {
    img{
      max-height: 200px;
    }
    .caption {
      text-align: center;
      height: 60px;
      overflow: hidden;
    }
}

/*-- Student --*/
.links {
    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li.websites {
        display: inline-block;

        ul {
            display: inline-block;

            li.website {
                display: inline-block;
                padding-right: 3px;
            }

            li.website:after {
                content: ',';
            }

            li.website:last-child:after{
                content: '';
            }

        }
    }
}


/*-- Artwork --*/

.artwork-card {
    overflow: hidden;

    span.title {
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
    }
}

.flag {
    height: 18px;
}

.nav-tabs {
    margin-top: 10px;
    a {
      cursor: pointer;
    }
    h3 {
        display: inline-block;
        float: left;
        vertical-align: middle;
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        margin-top: 0px;
        margin-bottom: 0;
    }
}

div.api-field {
    margin-bottom: 20px;;
}

.artwork-about .tab-content {
    padding-top: 10px;
}

.lightbox-image-container {
  video{
    width: 100%
  }
}

/* header */
.navbar-brand {
    img {
        margin-top: -4px;
    }
}


.header {
    display: block;
    height: 200px;
    position: relative;

    .overlay {
        background-color: none;
        background-image: repeating-linear-gradient(45deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 4px);

        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
    }

    img {
        position: absolute;
        top: 0px;
        min-height: 100%;
        min-width: 100%;
        width:auto;
        z-index: 0;
    }

    h1 {
        position: absolute;

        left: 10px;
        bottom: 40px;
        z-index: 2;
        color: white;
        background-color: black;
        padding: 3px;
        font-weight: bold;
    }
    h2 {
        position: absolute;
        z-index: 2;

        left: 15px;
        bottom: 10px;
        z-index: 2;
        color: white;
        background-color: black;
        padding: 3px;
        font-weight: bold;
        font-size: 1.4em;

    }
}




.nature {

    &:first-letter {
        text-transform: uppercase;
    }
    ul.genres{
      display: inline;
      margin-left: 0px;

      li:after {
          content: ',';
      }

      li:last-child:after{
          content: '';
      }

    }

    ul.authors {
        display: inline-block;
        list-style-type: none;
        padding-left: 0;

        li:after {
            content: ',';
        }

        li:last-child:after{
            content: '.';
        }

        .lastname {
            text-transform: uppercase;
        }
    }


}

.technic {

  ul {

    li:nth-child(n+2):before {
       /* tous sauf premier */
      content:"/ ";
    }

    li.duration {
      // background-color: #666;
      // color: white;
      //padding: 0;
    }

  }

}

.quicksearch {
    i.loading-glyph {
        color: white;
        padding-left: 5px;
    }
    ul {
        margin: 0px;
        padding: 0px;
        max-width: 30%;

        li {
            a {
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 5px;
                padding-top: 5px;
            }
        }
    }
}


// print
@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    .tab-content > .tab-pane {
        display: block !important; opacity: 1 !important;
        visibility: visible;
    }
}
