<div class="landing-page">


    <h1>
      <span class="fr">Concours {{campain.promotion.starting_year}}</span>
      <span class="en">{{campain.promotion.starting_year}} Entrance exam</span>
    </h1>


    <div>

        <h2>
          <span class="fr">Procédure de sélection <br/>Inscription</span>
          <span class="en">Selection procedure <br/>Enrolment</span>
        </h2>

        <div class="navigation">
          <div class="btn block"><a class="btn" ui-sref="candidature.terms-of-access" ng-click="setLang('fr');">
            Commencer (en français)</a>
          </div>
            <br/>
          <div class="btn block"><a class="btn" ui-sref="candidature.terms-of-access" ng-click="setLang('en');" >
            Start (in english)</a>
          </div>
        </div>

    </div>

</div>



</div>
