<div class="landing-page">


    <h1>
      <span class="fr">Concours {{campaign.promotion.starting_year}}</span>
      <span class="en">{{campaign.promotion.starting_year}}</span>
    </h1>
    <div>

        <h2 class="">
          <span class="fr">Procédure d'inscription</span>
          <span class="en">Application procedure</span>
        </h2>
        <small class="fr">
        Du {{ campaign.candidature_date_start | date : "d MMMM" | translate_en_to_fr | lowercase }}
           au
           {{ campaign.candidature_date_end | no_timezone | date : "d MMMM yyyy à HH'h'mm" | translate_en_to_fr | lowercase }}
           (heure de Paris)
       </small>
       <small class="en">
       From {{ campaign.candidature_date_start | date : "MMMM d" }}
          to
          {{ campaign.candidature_date_end | no_timezone | date : "MMMM d, yyyy '-' H'h'mm" }} (Paris time)
      </small>

        <div class="navigation">
          <div class="btn block"><a class="btn" ui-sref="candidature.terms-of-access" ng-click="setLang('fr');">
            Commencer (en français)</a>
          </div>
            <br/>
          <div class="btn block"><a class="btn" ui-sref="candidature.terms-of-access" ng-click="setLang('en');" >
            Start (in english)</a>
          </div>
        </div>

    </div>

</div>



</div>
