<div class="landing-page">

  <!--
    <h1>
      <span class="fr">Concours 2018</span>
      <span class="en">2018 Entrance exam</span>
    </h1>
    <h2>
      <span class="fr">Procédure de sélection <br/>Inscription</span>
      <span class="en">Selection procedure <br/>Enrolment</span>
    </h2>


    <div class="navigation">
      <a class="btn lang" ui-sref="candidature.terms-of-access" ng-click="setLang('fr');">Français</a>
      <a class="btn lang" ui-sref="candidature.terms-of-access" ng-click="setLang('en');" >English</a>
    </div>
 -->
 <h1>
   <span class="fr">Concours 2018</span>
   <span class="en">2018 Entrance exam</span>
 </h1>





  <div class="fr">
    <p>L'inscription en ligne sera effective au 1er février 2018, en attendant vous pouvez préparer ces documents au format numérique :</p>
    <ul>
      <li>Justificatif d'identité (numérisation du passeport ou de la carte d'identité)</li>
      <li>Une photo d'identité</li>
      <li>Copies de titres ou diplômes </li>
      <li>Cv détaillé</li>
      <li>Lettre de motivation</li>
      <li>Projet envisagé pour la 1<span class="exposant">re</span> année</li>
      <li>Références artistiques pour ce projet</li>
      <li>Projet envisagé pour la 2<span class="exposant">nde</span> année</li>
      <li>Références artistiques pour ce projet</li>
      <li>Vidéo de présentation d'oeuvres réalisées (20 minutes maximum)</li>
    </ul>

  </div>

  <div class="en">
    <p>Online enrolment open on February 1, in the meantime you can prepare these documents in digital format: </p>
    <ul>
      <li>Proof of identity (scan of passport or identity card)</li>
      <li>A passport photo</li>
      <li>Copies of certificates and diplomas </li>
      <li>Detailled CV </li>
      <li>A cover letter outlining your motivations</li>
      <li>Proposed project for the 1st year</li>
      <li>Artistic references for this project  </li>
      <li>Proposed project for the 2nd year</li>
      <li>Artistic references for this project </li>
      <li>A video presenting your works (20 minutes)</li>
    </ul>

  </div>


  <a href="http://www.lefresnoy.net/sites/prod/files/2018/downloads/basic-page/inscription//procedure-selection-2018.pdf"
    target="_blank">
    Télécharger la procédure de sélection
  </a>



</div>
