<div class="terms-of-access">
  <h1>
    <span class="fr">Conditions d'accès</span>
    <span class="en">Access Conditions</span>
  </h1>

  <div class="fr">
    <p>La procédure de sélection est ouverte à tous les candidats, sans distinction de sexe ou de nationalité, âgés de 35 ans au plus
       au 1<span class="exposant">er</span> janvier de l’année du concours (nés après le <span ng-bind="campaign.date_of_birth_max | date : 'd MMMM yyyy' | translate_en_to_fr | lowercase
       "/>).
       <br/><strong>Un justificatif vous sera demandé dans les prochaines pages.</strong>
    </p>
    <p>Les candidats doivent pouvoir justifier :</p>
    <ul><li>soit du Baccalauréat (ou équivalence reconnue) et 5 années d’études attestées par un titre ou diplôme,</li>
        <li>soit du Baccalauréat (ou équivalence reconnue) et 7 années d’expérience artistique ou professionnelle, et sous réserve de joindre au dossier d’inscription administrative un argumentaire, d'une page maximum, précisant en quoi leur expérience les a préparés au cursus du Fresnoy.</li>
    </ul>
    <p>La participation à la procédure de sélection est gratuite.</p>
      <p><blockquote>Les candidatures présentées sous cette deuxième condition ferons l’objet d’un examen par une commission spéciale, apte à les évaluer et à les valider, et dont les décisions sont sans appel.</blockquote></p>
  </div>
  <div class="en">
    <p>The selection procedure is open to all candidates, of any sex or nationality, aged 35 years maximum on
      1st January of the current year (i.e. born after <span ng-bind="campaign.date_of_birth_max | date : 'd MMMM yyyy'"/>).</p>
    <p>The candidates must be able to provide proof of either:</p>
    </ul><li>A levels or Baccalauréat (or recognized equivalent) and 5 years of study validated by a diploma; (or)</li>
    <li>A levels or Baccalauréat (or recognized equivalent) and 7 years of artistic or professional experience; in this case,
       a one page argument should be sent with the administrative application to explain how this experience is relevant to the course at Le Fresnoy. </li>
    </ul>
    <p>The candidates in the second case will sit a specific examination set by a special committee, who will judge and validate their application. Their decision is final. </p>
    <p>Participation in the selection procedure is free.</p>
  </div>
  <form name="form">
    <div class="field">
      <input type="checkbox"
        id="accept"
        ng-model="accept"
        name="cAccept"
        ng-init='accept=false'
        class="one check"
        required
      />
      <label for="accept" class="one check pointer">
        <span class="fr">J'ai pris connaissance des conditions d'accès, je suis né(e) après le
          <span ng-bind="campaign.date_of_birth_max | date : 'd MMMM yyyy' | translate_en_to_fr | lowercase" />.</span>
        <span class="en">I hereby certify that I acknowledge the general access conditions, I was born after
          <span ng-bind="campaign.date_of_birth_max | date : 'd MMMM yyyy'"/>.</span>
      </label>
    </div>
  </form>

  <div class="navigation">
    <a class="btn prev" ui-sref="candidature"><span class="fr">Retour</span><span class="en">Back</span></a>
    <a class="btn next" ng-class="{ 'has-error': accept != true }" ui-sref="candidature.terms-of-access-2"><span class="fr">Continuer</span><span class="en">Continue</span></a>
  </div>
</div>
