<div class="terms-of-access">
  <h1>
    <span class="fr">Conditions d'accès</span>
    <span class="en">Conditions for participation</span>
  </h1>

  <div class="fr">
    <p>La procédure de sélection est ouverte à tous les candidats, sans distinction de sexe ou de nationalité, âgés de 35 ans au plus au 1<span class="exposant">er</span> janvier de l’année du concours (nés après le 31 décembre <span ng-bind="(current_year-age_max)" />) -
       <br/><strong>Un justificatif vous sera demandé dans les prochaines pages.</strong>
    </p>
    <p>Les candidats doivent pouvoir justifier :</p>
    <ul><li>soit du Baccalauréat (ou équivalence reconnue) et 5 années d’études attestées par un titre ou diplôme,</li>
        <li>soit du Baccalauréat (ou équivalence reconnue) et 7 années d’expérience artistique ou professionnelle, et sous réserve de joindre au dossier d’inscription administrative un argumentaire, une page maximum, précisant en quoi leur expérience les a préparés au cursus du Fresnoy.</li>
    </ul>
      <p>Les candidatures présentées sous cette deuxième condition auront fait l’objet d’un examen par une commission spéciale, apte à les évaluer et à les valider, et dont les décisions sont sans appel.</p>
      <p>La participation à la procédure de sélection est gratuite. Les frais de voyage et de séjour des candidats pour les épreuves d’admission sont à la charge des candidats.</p>
  </div>
  <div class="en">
    <p>The selection procedure is open to all candidates, of any sex or nationality, aged 35 years maximum on 1st January of the current year (i.e. born after 31st December <span ng-bind="(current_year-age_max)" />).</p>
    <p>The candidates must be able to provide proof of:</p>
    </ul><li>A levels or Baccalauréat (or recognized equivalent) and 5 years of study validated by a diploma; (or)</li>
    <li>A levels or Baccalauréat (or recognized equivalent) and 7 years of artistic or professional experience; in this case, a one page argument should be sent with the administrative application to explain how this experience is relevant to the course at Le Fresnoy. </li>
    </ul>
    <p>The candidates in the second case will sit a specific examination set by a special committee, who will judge and validate their application. Their decision is final. Participation in the selection procedure is free. Travel costs and living expenses of candidates during the entrance examinations are at the charge of the candidate.</p>
  </div>
  <form name="form">
    <div class="field">
      <input type="checkbox"
        id="accept"
        ng-model="accept"
        name="cAccept"
        ng-init='accept=false'
        class="one check"
        required
      />
      <label for="accept" class="one check pointer">
        <span class="fr">J'ai pris connaissance des conditions d'accès, je suis né après le 31 décembre <span ng-bind="(current_year-age_max)" />.</span>
        <span class="en">I have read the conditions of access, I was born after December 31 <span ng-bind="(current_year-age_max)" /></span>
      </label>
    </div>
  </form>

  <div class="navigation">
    <a class="btn prev" ui-sref="candidature"><span class="fr">Retour</span><span class="en">Back</span></a>
    <a class="btn next" ng-class="{ 'has-error': accept != true }" ui-sref="candidature.terms-of-access-2"><span class="fr">Continuer</span><span class="en">Continue</span></a>
  </div>
</div>
