<div class="personnal-infos">

  <h1>Selection</h1>
  <div class="data-writing" ng-show="writingData"><span class="fr">Enregistrement</span><span class="en">Save data</span></div>

  <div ng-show="navigation_inter_page == 0" class="" >

          <form name="form1" ng-submit="form1.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">

                        <div class="field">
                          <input id="name" type="text"  ng-model="user.last_name" ng-model-options='{ debounce: 1000 }' ng-change="save(user)" name="uName" required />
                          <div ng-show="form1.uName.$touched && form1.uName.$invalid" ng-messages="form1.uName.$error" class="help-block error">
                            <div ng-message="required">
                              <span class="fr">Obligatoire</span>
                              <span class="en">required</span>
                            </div>
                          </div>
                          <label for="name">
                            <span class="field-state required"></span>
                            <span class="fr">Nom</span>
                            <span class="en">Name</span>
                          </label>
                        </div>


                        <div class="field">
                          <input id="first-name" type="text"  ng-model="user.first_name" ng-model-options='{ debounce: 1000 }' ng-change="save(user)" name="uFirstName" required />
                          <div ng-show="form1.uName.$touched && form1.uFirstName.$invalid" ng-messages="form1.uFirstName.$error" class="help-block error">
                            <div ng-message="required">
                              <span class="fr">Obligatoire</span>
                              <span class="en">Required</span>
                            </div>
                          </div>
                          <label for="first-name">
                            <span class="field-state required"></span>
                            <span class="fr">Prénom</span>
                            <span class="en">First Name</span>
                          </label>
                        </div>


                        <div class="field">
                          <select id="gender" ng-model="user.profile.gender" ng-change="save(user)" name="uGender" required>
                            <option value="">------</option> <!-- not selected / blank option -->
                            <option ng-repeat="(code, value) in gender" value="{{code}}">{{value[language]}}</option>
                          </select>
                          <div ng-show="form1.uGender.$touched && form1.uGender.$invalid" ng-messages="form1.uGender.$error" class="help-block error">
                            <div ng-message="required">
                              <span class="fr">Obligatoire</span>
                              <span class="en">Required</span>
                            </div>
                            <div ng-message="gender">
                              <span class="fr">Valeur éronnée</span>
                              <span class="en">Value Error</span>
                            </div>
                          </div>
                          <label for="gender">
                            <span class="field-state required" ng-class="{ 'error': form1.uGender.$error, 'valid':form1.uGender.$valid, 'touched': form1.uGender.$touched }"></span>
                            <span class="fr">Genre</span>
                            <span class="en">Gender</span>
                          </label>
                        </div>



                        <div class="field">

                          <input hidden readonly type="text" ng-min="birthdateMax" name="uBirthDate" ng-max="birthdateMin" ng-model="user.profile.birthdate"
                           ng-change="save(user)" required />
                          <datepicker id="birthdate"
                              date-format='yyyy-MM-dd'
                              date-set="{{user.profile.birthdate}}"
                              date-min-limit="{{birthdateMax}}"
                              date-max-limit="{{birthdateMin}}"
                          >
                              <input readonly type="text" ng-model="user.profile.birthdate" ng-change="save(user)" required />
                          </datepicker>
                          <div ng-show="form1.uBirthDate.$touched && form1.uBirthDate.$invalid" ng-messages="form1.uBirthDate.$error" class="help-block error">
                            <div ng-message="required">
                              <span class="fr">Obligatoire</span>
                              <span class="en">Required</span>
                            </div>
                            <div ng-message="min">
                              <span class="fr">Il faut avoir moins de 35 ans (être nés avant  le {{deadline_text}}) </span>
                              <span class="en">to be completed</span>
                            </div>
                            <div ng-message="max">
                              <span class="fr">Il faut être majeur pour s'inscrire</span>
                              <span class="en">to be completed</span>
                            </div>
                          </div>
                          <label for="birthdate">
                            <span class="field-state required"></span>
                            <span class="fr">Date de naissance</span>
                            <span class="en">Birthdate</span>
                          </label>
                        </div>




                      <div class="field">
                        <input hidden name='uNationality' id="nationality" type="text" ng-model="user.profile.nationality"  required />
                        <div ng-repeat="item in nationality track by $index" >
                          <select
                            ng-model="nationality[$index]"
                            ng-change="user.patch({'profile':{'nationality': nationality.join(splitChar)}}); user.profile.nationality = nationality.join(splitChar);"
                            >
                              <option value="">----</option>
                              <option ng-repeat="(country, code) in countries" value="{{code}}">{{country}} ({{code}})</option>
                          </select>
                          <div class="remove" ng-show="!removeConfirmation[$index]"
                               ng-init='removeConfirmation[$index]=false'
                               ng-click="removeConfirmation[$index]=!removeConfirmation[$index]">
                          </div>
                          <div class="remove-confirm" ng-show="removeConfirmation[$index]"
                               ng-click="removeConfirmation[$index]=!removeConfirmation[$index]">
                            <span class="fr">Supprimer ? </span><span class="en">Delete ?</span>
                            <a class="no"><span class="fr">Annuler</span><span class="en">Cancel</span></a>
                            <a class="yes" ng-click="nationality.splice($index,1); user.profile.nationality = nationality.join(splitChar); user.patch({'profile':{'nationality': nationality.join(splitChar)}})">Ok</a>
                          </div>
                        </div>

                        <div>
                          <a class="btn" ng-click="nationality.push(array())">
                            <span class="fr"> + ajouter une nationalité </span>
                            <span class="en"> + add natonality</span>
                          </a>
                        </div>


                        <div ng-show="form1.uNationality.$touched && form1.uNationality.$invalid" ng-messages="form1.uNationality.$error" class="help-block error">
                          <div ng-message="required">
                            <span class="fr">Obligatoire</span>
                            <span class="en">Required</span>
                          </div>
                        </div>
                        <label class="topborder" for="nationality">
                          <span class="field-state required"></span>
                          <span class="fr">Nationalité</span>
                          <span class="en">Nationality</span>
                        </label>
                      </div>




                      <div class="field">
                        <select id="birth-country" ng-change="save(user)" ng-model="user.profile.birthplace_country" name="uBirthCountry" required>
                          <option value="">-- Select a Country --</option>
                          <option ng-repeat="(country,code) in countries" value="{{code}}">{{country}}</option>
                        </select>
                        <div ng-show="form1.uBirthCountry.$touched && form1.uBirthCountry.$invalid" ng-messages="form1.uBirthCountry.$error" class="help-block error">
                          <div ng-message="required">
                            <span class="fr">Obligatoire</span>
                            <span class="en">Required</span>
                          </div>
                          <div ng-message="birthcountry">
                            <span class="fr">Valeur éronnée</span>
                            <span class="en">Value Error</span>
                          </div>
                        </div>
                        <label for="birth-country">
                          <span class="field-state required" ng-class="{ 'error': form1.uGender.$error, 'valid':form1.uGender.$valid, 'touched': form1.uGender.$touched }"></span>
                          <span class="fr">Pays de naissance</span>
                          <span class="en">Gender</span>
                        </label>
                      </div>


                      <div class="field">
                        <input  ng-model="candidature.identity_card" hidden required />
                        <div id="id-justification" class="btn"
                          ng-model="candidature.identity_card"
                          ngf-select="uploadFile(candidature.identity_card, candidature, 'identity_card') " ngf-capture="'camera'"
                          ngf-accept="'image/*, application/pdf'"
                          ngf-pattern="'image/*,application/pdf'"
                          ngf-model-invalid="invalidFileJustification"
                          name="jID"
                          required
                          >
                          <span ng-show="!candidature.identity_card">envoyer</span>
                          <span ng-show="candidature.identity_card" >Changer</span>

                        </div>
                        
                        <a target='_blank'
                          href="{{candidature.identity_card}}">
                          <img ng-show="candidature.identity_card.toLowerCase().indexOf('pdf')>0" height="30px"
                           src="images/file-pdf.png" />
                          <img ng-show="(candidature.identity_card.toLowerCase().indexOf('.png')>0 ||
                          candidature.identity_card.toLowerCase().indexOf('.gif')>0
                          || candidature.identity_card.toLowerCase().indexOf('.jpg')>0)" height="30px"
                           src="images/file-image.png" />
                        </a>

                        <div ng-show="form1.jID.$invalid" ng-messages="form1.jID.$error" class="help-block error">
                          <div ng-message="required">
                            <span class="fr">Obligatoire</span>
                            <span class="en">Required</span>
                          </div>
                        </div>
                        <div ng-show="invalidFileJustification.$errorMessages" ng-messages="invalidFileJustification.$errorMessages" class="help-block error">

                          <div ng-message="pattern">
                            <span class="fr">Formats accepés : jpg / png / gif / pdf</span>
                            <span class="en">Accepted formats : jpg / png / gif / pdf</span>
                          </div>
                          <div ng-message="identity_card">
                            <span class="fr">Valeur éronnée</span>
                            <span class="en">Value Error</span>
                          </div>
                        </div>
                        <label class="topborder" for="id-justification">
                          <span class="field-state required" ng-class="{ 'error': form1.jID.$error, 'valid':form1.jID.$valid, 'touched': form1.jID.$touched }"></span>
                          <span class="fr">Justificatif d'identité (JPG / PDF)</span>
                          <span class="en">Justification (JPG / PDF)</span>
                        </label>

                      </div>


                      <div class="field">
                        <input ng-change="save(user)" type="text"
                               placeholder="" name="uInsuranceNumber"
                               ng-model="user.profile.social_insurance_number"
                              />
                        <div ng-show="form1.uInsuranceNumber.$touched && form1.uInsuranceNumber.$invalid" ng-messages="form1.uInsuranceNumber.$error" class="help-block error">
                          <div ng-message="required">
                            <span class="fr">Obligatoire</span>
                            <span class="en">Required</span>
                          </div>
                        </div>
                        <label for="insurance-number">
                          <span class="field-state"></span>
                          <span class="fr">Numéro de sécurité sociale</span>
                          <span class="en">Insurance number</span>
                        </label>
                      </div>


                      <div class="navigation">
                        <a class="btn" ui-sref="candidature.option">
                          Retour
                        </a>
                        <a class="btn" ng-click='navigation_inter_page = 1'>
                          Continue
                        </a>
                      </div>


              </form>



  </div>


  <div ng-show="navigation_inter_page == 1" class="">


    <form name="form2" ng-submit="form2.$valid && submit()" class="css-form" novalidate>

        <div class="field">
            <textarea
               name="uHomelandAdress"
               ng-model="user.profile.homeland_address"
               id="homeland_country"
               placeholder="23 rue de J. KENNEDY
    APPT 12"
              ng-change="save(user)"
              ng-model-options='{ debounce: 1000 }'
              required
            /></textarea>
            <div ng-show="form2.uHomelandAdress.$touched && form2.uHomelandAdress.$invalid" ng-messages="form2.uHomelandAdress.$error" class="help-block error">
              <div ng-message="required">
                <span class="fr">Obligatoire</span>
                <span class="en">Required</span>
              </div>
            </div>
            <label for="homeland_country">
              <span class="field-state"></span>
              <span class="fr">Adresse</span>
              <span class="en">Adress</span>
            </label>
        </div>



        <div class="field">

            <input type="text"
               name="uHomelandZip"
               id="homeland_zip"
               ng-model="user.profile.homeland_zipcode"
               ng-model-options='{ debounce: 1000 }'
               ng-change="save(user)"
               required
            />
            <div ng-show="form2.uHomelandZip.$touched && form2.uHomelandZip.$invalid" ng-messages="form2.uHomelandZip.$error" class="help-block error">
              <div ng-message="required">
                <span class="fr">Obligatoire</span>
                <span class="en">Required</span>
              </div>
            </div>
            <label for="homeland_zip">
              <span class="field-state"></span>
              <span class="fr">Code postal</span>
              <span class="en">Zip code</span>
            </label>
        </div>


        <div class="field">

            <input type="text"
               name="uHomelandCity"
               id="homeland_city"
               ng-model="user.profile.homeland_town"
               ng-change="save(user)"
               ng-model-options='{ debounce: 1000 }'
               required
            />
            <div ng-show="form2.uHomelandCity.$touched && form2.uHomelandCity.$invalid" ng-messages="form2.uHomelandCity.$error" class="help-block error">
              <div ng-message="required">
                <span class="fr">Obligatoire</span>
                <span class="en">Required</span>
              </div>
            </div>
            <label for="homeland_city">
              <span class="field-state"></span>
              <span class="fr">Ville</span>
              <span class="en">City</span>
            </label>
        </div>

        <div class="field">

              <select ng-model="user.profile.homeland_country"
                      id="homeland_country"
                      name="uHomelandCountry"
                      ng-change="save(user)"
                      required
                      >
                <option value="">-- Select a Country --</option>
                <option ng-repeat="(country,code) in countries" value="{{code}}">{{country}}</option>
              </select>
              <div ng-show="form2.uHomelandCountry.$touched && form2.uHomelandCountry.$invalid" ng-messages="form2.uHomelandCountry.$error" class="help-block error">
                <div ng-message="required">
                  <span class="fr">Obligatoire</span>
                  <span class="en">Required</span>
                </div>
              </div>
              <label for="homeland_country">
                <span class="field-state"></span>
                <span class="fr">Pays</span>
                <span class="en">Homeland Country</span>
              </label>
        </div>

        <div class="field">

              <input
                id="phone"
                type="text"
                ng-change="save(user)"
                placeholder="+33320283982"
                name="uHomelandPhone"
                ng-pattern="phone_pattern"
                ng-model="user.profile.homeland_phone"
                ng-change="save(user)"
                ng-minlength="10" ng-maxlength="20" required
                hidden
              />
              <input
                type="text"
                placeholder="33"
                class="inline-block phone_code"
                ng-model="phone_country"
                ng-change="user.profile.homeland_phone = '+' + phone_country +' '+ phone_number;"
              />
              <input
                type="text"
                placeholder="123456789"
                ng-model="phone_number"
                ng-change="user.profile.homeland_phone = '+' + phone_country + ' ' + phone_number;"
                class="inline-block phone_number"
              />

              <div ng-show="user.profile.homeland_phone && form2.uHomelandPhone.$invalid" ng-messages="form2.uHomelandPhone.$error" class="help-block error">
                <div ng-message="required">
                  <span class="fr">Obligatoire</span>
                  <span class="en">Required</span>
                </div>
                <div ng-message="maxlength">
                  <span class="fr">Pas plus de 20 signes</span>
                  <span class="en">Phone no not more than 20 char</span>
                </div>
                <div ng-message="pattern">
                  <span class="fr">Le numéro doit être du type [+33 123456789]</span>
                  <span class="en">Number type [+33 123456789]</span>
                </div>
              </div>
              <label for="phone">
                <span class="field-state"></span>
                <span class="fr">Numéro de téléphone</span>
                <span class="en">Phone number</span>
              </label>
        </div>


      </form>


      <div class="navigation">
        <a class="btn" ng-click="navigation_inter_page = 0">
          Retour
        </a>
        <a class="btn" ng-click='navigation_inter_page = 2'>
          Continue
        </a>
      </div>




  </div>


  <div ng-show="navigation_inter_page == 2" class="">

    <form name="form3" ng-submit="form3.$valid && submit()" class="css-form" novalidate>


      <div class="field">
        <input
          type="text"
          ng-model="user.profile.family_status"
          ng-change="save(user)"
          name="uFamilyStatus"
         />
          <div ng-show="form3.uFamilyStatus.$invalid" ng-messages="form3.uFamilyStatus.$error" class="help-block error">
            <div ng-message="required">
              <span class="fr">Obligatoire</span>
              <span class="en">Required</span>
            </div>
          </div>
          <label for="family-status">
            <span class="field-state"></span>
            <span class="fr">Situation familiale</span>
            <span class="en">
              Family Status
            </span>
          </label>
      </div>


      <div class="field">

            <select
              id="mother-tongue"
              ng-model="user.profile.mother_tongue"
              name="uMotherTongue"
              ng-change="save(user)"
              required>
              <option value="">{{languageSelectOption[language]}}</option>
              <option ng-repeat="(name, item) in LANGUAGES" value="{{name.split('-')[0]}}">
                {{item.englishName}} ({{name}})
              </option>
            </select>
            <div ng-show="form3.uMotherTongue.$touched && form3.uMotherTongue.$invalid" ng-messages="form3.uMotherTongue.$error" class="help-block error">
              <div ng-message="required">
                <span class="fr">Obligatoire</span>
                <span class="en">Required</span>
              </div>
            </div>
            <label for="mother-tongue">
              <span class="field-state"></span>
              <span class="fr">Langue maternelle</span>
              <span class="en">Mother Tongues</span>
            </label>

      </div>



      <div class="field">


            <input
              type="text"
              id="other-languages"
              ng-model="user.profile.other_language"
              ng-init = "initLanguages()"
              hidden
              />

            <div
              ng-repeat="item in other_language"
             >

              <select
                ng-model="other_language[$index]"
                ng-change="user.patch({'profile':{'other_language': other_language.join(splitChar)}}); user.profile.other_language = other_language.join(splitChar);"
                >
                <option value="">{{languageSelectOption[language]}}</option>
                <option ng-repeat="(name, item) in LANGUAGES" value="{{name.split('-')[0]}}">
                  {{item.englishName}} ({{name}})
                </option>
              </select>
              <div class="remove" ng-show="!removeConfirmation[$index]"
                   ng-init='removeConfirmation[$index]=false'
                   ng-click="removeConfirmation[$index]=!removeConfirmation[$index]">
              </div>
              <div class="remove-confirm" ng-show="removeConfirmation[$index]"
                   ng-click="removeConfirmation[$index]=!removeConfirmation[$index]"
              >
                <a class="no">Cancel</a>
                <a class="yes" ng-click="other_language.splice($index,1); user.profile.other_language = other_language.join(splitChar); user.patch({'profile':{'other_language': other_language.join(splitChar)}})">Ok</a>
              </div>

              </div>

            <div>
              <a class="btn" ng-click="other_language.push(array())">
                <span class="fr">Ajouter une langue</span>
                <span class="en">Add a language</span>
              </a>
            </div>
            <label class="topborder" for="other-languages">
              <span class="field-state"></span>
              <span class="fr">Autres langues parlées</span>
              <span class="en">Other languages</span>
            </label>

      </div>
      </form>


      <div class="navigation">
        <a class="btn" ng-click="navigation_inter_page = 1">
          Retour
        </a>
        <a class="btn" ng-click="navigation_inter_page = 3">
          Continue
        </a>
      </div>


  </div>


  <div ng-show="navigation_inter_page == 3" class="" >

    <form name="form4" ng-submit="form4.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">


        <div class="field">
                <input id="photo" ng-model="user.profile.photo" required hidden />
                <div class="photo-upload" ng-model="user.profile.photo"
                  ngf-select="uploadPhoto(user.profile.photo, user, form)"
                  name="uPhoto"
                  ngf-capture="'camera'"
                  ngf-max-size="1MB"
                  ng-style="{'background-image':'url('+user.profile.photo+')','background-color':'transparent'}"
                  ngf-accept="'image/*'"
                  ngf-pattern="'image/*'"
                  ngf-model-invalid="invalidPhoto"
                  >
                  <span ng-if="!user.profile.photo">Choisir une photo</span>
                </div>

                <label class="topborder" for="photo">
                  <div ng-show="form4.uPhoto.$invalid" ng-messages="form4.uPhoto.$error" class="help-block error">

                    <div ng-message="required">
                      <span class="fr">Obligatoire</span>
                      <span class="en">Required</span>
                    </div>
                  </div>
                  <div ng-show="invalidPhoto.$errorMessages" ng-messages="invalidPhoto.$errorMessages"
                       class="help-block error">

                    <div ng-message="pattern">
                      <span class="fr">Formats accepés : jpg / png / gif / pdf</span>
                      <span class="en">Required</span>
                    </div>
                    <div ng-message="maxSize">
                      <span class="fr">Photo trop importante < 10MB</span>
                      <span class="en">max size 10MB</span>
                    </div>
                  </div>
                  <span class="field-state"></span>
                  <span class="fr">Photo d'identité (image)</span>
                  <span class="en">Id Photo (image only) </span>
                </label>
        </div>


      </form>
      <div class="navigation">
        <a class="btn" ng-click="navigation_inter_page = 2">
          Retour
        </a>
        <a class="btn" ui-sref="candidature.cursus">
          Continue
        </a>
      </div>
  </div>
</div>
