<div class="terms-of-access">
   <h1>
      <span class="fr">Procédure de sélection</span>
      <span class="en">Selection procedure</span>
   </h1>
   <h2>
      <span class="fr">Compétences linguistiques</span>
      <span class="en">Language skills</span>
   </h2>
   <div class="fr">
      <p>Les candidats doivent posséder une connaissance du français et de l’anglais parlés. Toutes les étapes de la procédure de sélection
        (dossier et entretien oral) se font en français ou en anglais, au choix du candidat.
         <br/> Il est rappelé aux candidats admis que les études au Fresnoy se font ensuite en français.
      </p>
   </div>
   <div class="en">
      <p>Candidates must have knowledge of spoken French and English. All the stages of the selection procedure
        (application and interviews) are in French or English, as the candidate wishes.
         <br/>Candidates admitted to Le Fresnoy are reminded that the courses are conducted in French.
      </p>
   </div>
   <h2><span class="fr">Calendrier</span>
      <span class="en">Schedule</span>
   </h2>
   <div class="fr">
      <p>
         La sélection des étudiants est annuelle et se déroulera en une seule session selon les étapes et le calendrier suivants&nbsp;:
      </p>
      <ul>
         <li>Dossier de candidature (inscription administrative et dossier artistique), enregistrement en ligne, au plus tard le
           <strong>{{ campaign.candidature_date_end | date : "EEEE d MMMM yyyy à HH'h'" | translate_en_to_fr | lowercase }}, heure de Paris</strong>
           (un mail de confirmation de votre inscription vous sera adressé à la fin
de la procédure d’enregistrement de votre candidature, il est indispensable pour sa validation)</li>
         <li>Présélection sur dossier, annonce des résultats le
           <strong>{{ campaign.interviews_publish_date | date : "EEEE d MMMM yyyy" | translate_en_to_fr | lowercase }}</strong>
         </li>
         <li>Entretiens oraux du<br/>
            {{ campaign.interviews_start_date | date : "EEEE d MMMM" | translate_en_to_fr | lowercase }}
            au
            {{ campaign.interviews_end_date | date : "EEEE d MMMM yyyy" | translate_en_to_fr | lowercase }},
            annonce des résultats le
            <strong>{{ campaign.selected_publish_date | date : "EEEE d MMMM yyyy" | translate_en_to_fr | lowercase }}</strong>
          </li>
      </ul>
   </div>
   <div class="en">
      <p>The selection process is annual; it will take place according to the following schedule:</p>
      <ul>
         <li>Administrative registration and dispatch of artistic dossier no later than midnight on<br/>
          <strong>{{ campaign.candidature_date_end | date : "EEEE MMMM d, yyyy  'at' h a" }}, (Paris time)</strong>
         <li>1st selection of applications.
           List published online on
            <strong>{{ campaign.interviews_publish_date | date : "EEEE MMMM d, yyyy" }}</strong>
         </li>
         <li>Interviews, from
           {{ campaign.interviews_start_date | date : "EEEE MMMM d" }} to
           {{ campaign.interviews_end_date | date : "EEEE MMMM d, yyyy" }}.
           List made public and on line on
           <strong>{{ campaign.selected_publish_date | date : "EEEE MMMM d, yyyy" }}</strong>.</li>
      </ul>
   </div>
   <div class="navigation">
      <a class="btn prev" ui-sref="candidature.terms-of-access"><span class="fr">Retour</span><span class="en">Back</span></a>
      <a class="btn next" ui-sref="candidature.account.create-user"><span class="fr">Continuer</span><span class="en">Continue</span></a>
   </div>
</div>
