<div class="terms-of-access">
   <h1>
      <span class="fr">Procédure de sélection</span>
      <span class="en">Selection procedure</span>
   </h1>
   <h2>
      <span class="fr">Compétences linguistiques</span>
      <span class="en">Language skills</span>
   </h2>
   <div class="fr">
      <p>Les candidats doivent posséder une connaissance du français et de l’anglais parlés. Toutes les étapes de la procédure de sélection (dossier et entretien oral), se font en français ou en anglais, au choix du candidat.
         <br/> Il est rappelé aux candidats admis que les études au Fresnoy se font ensuite en français.
      </p>
   </div>
   <div class="en">
      <p>Candidates must have knowledge of spoken French and English. All the stages of the selection procedure (application and interviews) are in French or English, as the candidate wishes.
         <br/>Candidates admitted to Le Fresnoy are reminded that the course is carried out in French.
      </p>
   </div>
   <h2><span class="fr">Calendrier</span>
      <span class="en">Schedule</span>
   </h2>
   <div class="fr">
      <p>
         La sélection des étudiants est annuelle et se déroulera en une seule session selon les étapes et le calendrier suivants :
      </p>
      <ul>
         <li>Dossier de candidature (inscription administrative et dossier artistique), enregistrement en ligne, envoi postal ou dépôt au plus tard le vendredi 28 avril 2017 minuit (le cachet de la poste faisant foi),</li>
         <li>Présélection sur dossier, du lundi 15 au vendredi 19 mai 2017, annonce des résultats le mardi 23 mai 2017</li>
         <li>Entretiens oraux du lundi 3 au vendredi 7 juillet 2017, annonce des résultats le lundi 10 juillet 2017</li>
      </ul>
   </div>
   <div class="en">
      <p>"The selection process is annual; it will take place according to the following schedule:</p>
      <ul>
         <li>Administrative registration and dispatch of artistic dossier no later than midnight on Friday April 28, 2017(as per postmark),
         <li>1st Selection of applications from Monday May 15 to Friday May 19, 2017 list made public and on line on Tuesday May 23, 2017,</li>
         <li>Interviews, from Monday July 3 to Friday July 7, 2017 list made public and on line on Monday July 10, 2017.</li>
      </ul>
   </div>
   <div class="navigation">
      <a class="btn prev" ui-sref="candidature.terms-of-access"><span class="fr">Retour</span><span class="en">Back</span></a>
      <a class="btn next" ui-sref="candidature.account.create-user"><span class="fr">Continuer</span><span class="en">Continue</span></a>
   </div>
</div>
