<div class="cursus">

  <h1>
    <span class="fr">Inscription</span>
    <span class="en">Registration</span>

  </h1>

  <div class="" ng-show="navigation_inter_page == 0" >
    <div class="help-pane" ng-if='display_help'>
        <span class="close" ng-click="show_help(false)">x</span>
        <h1>Aide</h1>
          <p><u>Cocher la case correspondant à votre situation</u></p>
          <p>
          Les candidats doivent pouvoir justifier :
          <ul><li>soit du Baccalauréat (ou équivalence reconnue)
          et 5 années d’études attestées par un titre ou
          diplôme,</li>
          <li>soit du Baccalauréat (ou équivalence
          reconnue) et 7 années d’expérience artistique
          ou professionnelle, et sous réserve de joindre
          au dossier d’inscription administrative un
          argumentaire, une page maximum, précisant
          en quoi leur expérience les a préparés au
          cursus du Fresnoy.
        </li></ul>
        </p>
    </div>




    <form name="form" ng-submit="form.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">

            <div class="field">
            <p>Cocher la case correspondant à votre situation : </p>
                    <input type="radio"
                      id="master-degree"
                      ng-model="candidature.master_degree"
                      ng-change="candidature.patch({master_degree: candidature.master_degree})"
                      name="cMaster"
                      ng-value="true"
                      class="one check "
                    />
                    <label for="master-degree" class="checkbox one big pointer">
                      <span class="fr">J'ai un master (bac + 5)</span>
                      <span class="en">Master degree</span>
                    </label>

            </div>
            <div class="field">

                    <input type="radio"
                      id="no-master-degree"
                      ng-model="candidature.master_degree"
                      ng-change="candidature.patch({master_degree: candidature.master_degree})"
                      name="cMaster"
                      ng-value="false"
                      class="one check"
                    />
                    <label for="no-master-degree" class="checkbox one big pointer">
                      <span class="fr">BAC + 7 années<br/><small>d'expérience professionnelle attestée</small></span>
                      <span class="en">//////////////</span>
                    </label>

            </div>

            <div ng-if="candidature.master_degree==false">
              <p>Dites nous en quoi cette expérience vous a préparé au Fresnoy (1 page)</p>
              <input id="exp-justification" ng-model="candidature.experience_justification" required hidden />
              <div ng-model="candidature.experience_justification"
                class="media-upload"
                ng-if="!candidature.experience_justification"
                ngf-select="uploadFileExp(candidature.experience_justification, candidature, 'experience_justification')"
                ngf-capture="'camera'"
                accept="application/pdf"
                ngf-accept="'application/pdf'"
                ngf-pattern="'application/pdf'"
                ngf-model-invalid="invalidExperienceJustification"
                name="jExp"
                required
                >

                <span class="upload-file" />
              </div>
              <div class="item" ng-if="candidature.experience_justification" ng-init='RC_exp=false'>
                <a class="link" target='_blank' href="{{candidature.experience_justification}}"><img  /></a>
                <span class="name">{{candidature.experience_justification.split('.').pop()}}</span>
                <span class="trash" ng-click="RC_exp=true" />
                <div class="delete-pane" ng-show="RC_exp">
                    <span class="trash" ng-click="candidature.experience_justification=''; RC_exp=false" />
                    <span class="name"><span class="fr">Supprimer</span><span class="en">Delete</span></span>
                    <span class="cancel" ng-click="RC_exp=false"></span>
                </div>
              </div>

              <div ng-show="invalidExperienceJustification.$errorMessages" ng-messages="item.invalidExperienceJustification.$errorMessages" class="help-block error">
                <div ng-message="pattern">
                  <span class="fr">Format accepté :pdf</span>
                  <span class="en">Accepted format : pdf</span>
                </div>
              </div>
              <label class="topborder" for="exp-justification">
                <span class="field-state"></span>
                <span class="fr">Justification d'expérience</span>
                <span class="en">Experience justification</span>
              </label>

            </div>



      </form>

      <div class="navigation">
        <a class="btn" ui-sref="candidature.personnal-infos">
          Retour
        </a>
        <a class="btn" ng-click="navigation_inter_page = 1">
          Continue
        </a>
      </div>

  </div>


  <div ng-show="navigation_inter_page == 1">

          <p>
              Envoi de votre CV :
          </p>

  <div class="field">

          <input name="cCV" ng-model="candidature.curriculum_vitae" hidden required />
          <div id="cv"
            class="media-upload"
            ng-if="!candidature.curriculum_vitae"
            ng-model="candidature.curriculum_vitae"
            name="cJustification"
            ngf-select="uploadFile(candidature.curriculum_vitae, candidature, 'curriculum_vitae') " ngf-capture="'camera'"
            accept="application/pdf"
            ngf-accept="'application/pdf'"
            ngf-pattern="'application/pdf'"
            ngf-model-invalid="invalidCV"
            required
            >
            <span class="upload-file" />
          </div>

          <div class="item" ng-if="candidature.curriculum_vitae" ng-init='RC_CV=false'>
            <a class="link" target='_blank' href="{{candidature.curriculum_vitae}}"><img  /></a>
            <span class="name">{{candidature.curriculum_vitae.split('.').pop()}}</span>
            <span class="trash" ng-click="RC_CV=true" />
            <div class="delete-pane" ng-show="RC_CV">
                <span class="trash" ng-click="candidature.curriculum_vitae=''; RC_CV=false" />
                <span class="name"><span class="fr">Supprimer</span><span class="en">Delete</span></span>
                <span class="cancel" ng-click="RC_CV=false"></span>
            </div>
          </div>

          <div ng-show="invalidCV.$errorMessages" ng-messages="invalidCV.$errorMessages" class="help-block error">
            <div ng-message="pattern">
              <span class="fr">Ce n'est pas un fichier pdf</span>
              <span class="en">Only Pdf accepted</span>
            </div>
          </div>

          <div ng-show="form.cCV.$touched && form.cJustification.$invalid" ng-messages="form.cCV.$error" class="help-block error">
            <div ng-message="required">
              <span class="fr">Obligatoire</span>
              <span class="en">Required</span>
            </div>
            <div ng-message="justification_letter">
              <span class="fr">Valeur éronnée</span>
              <span class="en">Value Error</span>
            </div>
          </div>
          <label class="topborder" for="cv">
            <span class="field-state required"></span>
            <span class="fr">CV</span>
            <span class="en">CV</span>
          </label>

        </div>

        <div class="navigation">
          <a class="btn" ng-click="navigation_inter_page = 0">
            Retour
          </a>
          <a class="btn" ng-click="navigation_inter_page = 2"
          >
            Continue
          </a>
        </div>
  </div>

  <div ng-show="navigation_inter_page == 2">
    <div class="help-pane" ng-if='display_help'>
        <span class="close" ng-click="show_help(false)">x</span>
        <h1>Aide</h1>
          <p>Cursus</p>
    </div>

    <p>Résumé du parcours artistique : </p>

            <div class="field">
                        <textarea
                          id="cursus"
                            ng-model="user.profile.cursus"
                            ng-model-options='{ debounce: 1000 }'
                            ng-change="user.patch({profile : {'cursus': user.profile.cursus}})"
                            placeholder="2003 - Master de philosophie à Lille3
            2005 - Résidence  New York
            2008 - "
                            rows="10"
                            name=uCursus
                            required
                        />
                        <div ng-show="form.uCursus.$touched && form.uCursus.$invalid" ng-messages="form.uCursus.$error" class="help-block error">
                          <div ng-message="required">
                            <span class="fr">Obligatoire</span>
                            <span class="en">required</span>
                          </div>
                        </div>
                        <label for="cursus">
                          <span class="field-state required"></span>
                          <span class="fr">Cursus</span>
                          <span class="en">Cursus</span>
                        </label>
                </div>


                <div class="field">

                      <div ng-repeat="item in cursus_justifications.media | orderBy:'1*position' track by $index"
                            ng-model="cursus_justifications.media"
                            name="uCursus"
                            class="item-list">

                          <div class="item" ng-if="item.file || item.picture" ng-init='RC_CursusJustif[$index]=false'>
                            <a class="link" target='_blank' href="{{item.file || item.picture}}"><img  /></a>
                            <input class="name no-border" type="text" placeholder="Nom" ng-model="item.label" ng-change="item.patch({label: item.label})" class="no-border" required />
                            <span class="trash" ng-click="RC_CursusJustif[$index]=true" />
                            <div class="delete-pane" ng-show="RC_CursusJustif[$index]">
                                <span class="trash" ng-click="removeItem(cursus_justifications.media, $index); RC_CursusJustif[$index]=false" />
                                <span class="name"><span class="fr">Supprimer</span><span class="en">Delete</span></span>
                                <span class="cancel" ng-click="RC_CursusJustif[$index]=false"></span>
                            </div>
                          </div>

                        </div>

                        <div>
                          <div ng-model="file"
                            class="media-upload"
                            ngf-select="uploadFile(file, cursus_justifications)"
                            ngf-capture="'camera'"
                            accept="image/*, application/pdf"
                            ngf-accept="'image/*, application/pdf'"
                            ngf-pattern="'image/*,application/pdf'"
                            ngf-model-invalid="invalidFileCursusJustification"
                            name="jCursus"
                            required
                            >
                            <span class="upload-file" />
                          </div>
                          <div ng-show="invalidFileCursusJustification.$errorMessages" ng-messages="item.invalidFileCursusJustification.$errorMessages" class="help-block error">
                            <div ng-message="pattern">
                              <span class="fr">Formats acceptés : jpg / png / gif / pdf</span>
                              <span class="en">Accepted formats : jpg / png / gif / pdf</span>
                            </div>
                          </div>
                          <label class="topborder" for="cursus">
                            <span class="field-state required"></span>
                            <span class="fr">Ajouter un justificatif (diplôme, certification, ... )</span>
                            <span class="en">Add a document (degree, certificatie, ... )</span>
                          </label>
                        </div>

                        <p></p>


                  </div>

                  <div class="navigation">
                    <a class="btn" ng-click="navigation_inter_page = 1">
                      Retour
                    </a>
                    <a class="btn" ng-click="navigation_inter_page = 3"
                    >
                      Continue
                    </a>
                  </div>
      </div>
      <div ng-show="navigation_inter_page == 3">
        <div class="help-pane" ng-if='display_help'>
            <span class="close" ng-click="show_help(false)">x</span>
            <h1>Aide</h1>
              <p>Déjà candidaté</p>
        </div>
        <form name="form1" ng-submit="form.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">
              <div class="field">

                      <input type="checkbox"
                        id="firstime"
                        ng-model="candidature.first_time"
                        ng-change="candidature.patch({first_time: candidature.first_time})"
                        name="cFirst"
                        ng-value="true"
                        class="one check"
                      />
                      <label for="firstime" class="big pointer">
                        <span class="fr">Je me suis déjà présenté(e) à la sélection des candidatures du Fresnoy - Studio national</span>
                        <span class="en"></span>
                      </label>
                      <div ng-if='candidature.first_time'>
                        <span>En quelle année ?</span>
                        <input type="number"
                          id="last-candidature"
                          ng-model="candidature.last_application_year"
                          ng-change="candidature.patch({last_application_year: candidature.last_application_year})"
                          name="cLastCandidature"
                          class="one"
                          ng-show=candidature.first_time
                          required
                        />
                        <label for="last-candidature" class="checkbox">
                          <span class="field-state required" ></span>
                          <span class="fr">Année</span>
                          <span class="en">Year</span>
                        </label>
                      </div>

              </div>
        </form>



        <div class="navigation">
          <a class="btn" ng-click="navigation_inter_page = 2">Retour</a>
          <a class="btn" ui-sref="candidature.documents">Continue</a>
        </div>
      </div>

</div>
