<div class="summary">
  <h1>Selection</h1>
  <div class="data-writing" ng-show="writingData"><span class="fr">Enregistrement</span><span class="en">Save data</span></div>

  <div ng-show="navigation_inter_page == 0" >


    <form name="form" ng-submit="form.$valid && submit()" class="css-form" novalidate>

        <h2>Personnal Information</h2>
        <div><span class="fr">Nom</span><span class="en">Name</span> : <input type="text" ng-model="user.last_name" readonly required/><span class="isvalid"></div>
        <div><span class="fr">Prénom</span><span class="en">First name</span> : <input type="text" ng-model="user.first_name" readonly required/><span class="isvalid"></div>
        <div><span class="fr">Genre</span><span class="en">Gender</span> : <input type="text" ng-model="user.profile.gender" readonly required/><span class="isvalid"></div>
        <div><span class="fr">Date de Naissance</span><span class="en">Bithdate</span> : <input type="text" ng-model="user.profile.birthdate" readonly required/><span class="isvalid"></div>
        <div><span class="fr">Nationalité(s)</span><span class="en">Nationality</span> : <input type="text" ng-model="user.profile.nationality" readonly required/><span class="isvalid"></div>
        <div><span class="fr">Pays de naissance</span><span class="en">Birth Country</span> : <input type="text" ng-model="user.profile.birthplace_country" readonly required/><span class="isvalid"></div>
        <div><span class="fr">Téléchargement de la carte d'identité</span><span class="en">Upload Id Card</span> <input class="hidden" type="text" ng-model="candidature.identity_card" readonly required hidden /><span class="isvalid"></div>

        <a ui-sref="candidature.personnal-infos">modifier les information</a>
        <h2>Cursus</h2>
        <div><span class="fr">Master</span><span class="en">Master</span> : <input type="text" ng-model="candidature.master_degree" readonly required/><span class="isvalid"></div>

        <a ui-sref="candidature.cursus">modifier les information</a>


    </form>




      <div class="navigation">
        <a class="btn" ui-sref="candidature.documents">
          Retour
        </a>
        <a class="btn"  ng-class="{ 'has-error': form.$invalid }" ng-click="navigation_inter_page = 1">
          Continue
        </a>
      </div>



  </div>


  <div ng-show="navigation_inter_page == 1" >




      <h2>Finalisation</h2>

        <p>
          Votre candidature est
            maintenant complète.
            Pour la valider
            définitivement, cliquez
            sur le bouton ci-dessous
        </p>

            <a class="block btn green" ng-init="validation=false" ng-show="!validation" ng-click="validation = !validation">
              Valider
            </a>

            <div class="" ng-if="validation" >

              <p class="text-danger">
                La validation est définitve.
Vous ne pourrez plus la
changer une fois validée.


              </p>
              <p class="text-danger">
                Cliquez sur le bouton ci-dessous pour
                confirmer:
              </p>
              <a class="block btn green" ui-sref="candidature.completed" ng-click="candidature.patch({application_completed: true})">
                J'ai compris<br/>
                Validation définitive
              </a>
            </div>



  </div>
</div>
