<div class="option">
  <h1>
    <span class="fr">Inscription</span>
    <span class="en">Inscription</span>
  </h1>


  <div class="">
      <div class="fr">
        <h2>Liste des documents nécessaires (au format numérique)</h2>
        <ul>
          <li>Justificatif d'identité (numérisation du passeport ou de la carte d'identité)</li>
          <li>Une photo d'identité</li>
          <li>Copies de titres ou diplômes </li>
          <li>CV détaillé</li>
          <li>Lettre de motivation</li>
          <li>Projet envisagé pour la 1<span class="exposant">re</span> année</li>
          <li>Références artistiques pour ce projet</li>
          <li>Projet envisagé pour la 2<span class="exposant">de</span> année</li>
          <li>Références artistiques pour ce projet</li>
          <li>Vidéo de présentation d'œuvres réalisées</li>
        </ul>

        <h2>Sauvegarde des données</h2>
        <p>Toutes les données sont sauvegardées en temps réel, vous pouvez revenir à tout moment sur votre candidature pour la modifier</p>
        <p>Pour plus d'information, <a class="pointer" ui-sref="candidature.user-guide">suivez le guide</a></p>
      </div>

      <div class="en">
        <h2>List of documents (in digital format):</h2>
        <ul>
          <li>Proof of identity (scan of passport or identity card)</li>
          <li>A passport photo</li>
          <li>Copies of certificates and diplomas </li>
          <li>Detailled CV </li>
          <li>A cover letter outlining your motivations</li>
          <li>Proposed project for the 1st year</li>
          <li>Artistic references for this project  </li>
          <li>Proposed project for the 2nd year</li>
          <li>Artistic references for this project </li>
          <li>A video presenting your works </li>
        </ul>


        <h2>Save</h2>
        <p>All information will be saved in real time, you can return to your application at any time to complete/make changes</p>
        <p>For more information, <a class="pointer" ui-sref="candidature.user-guide">follow the guide</a></p>
      </div>

      <div class="bg-grey">
      <p>
        Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par
        Le Fresnoy - Studio national pour la sélection des candidats<br/>
    Elles sont conservées pendant 5 ans et sont destinées aux services pédagogie, informatique, pole web<br/>
    Conformément à la loi <a href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee" target="_blank">« informatique et libertés »</a>,
    vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant :
    le service Informatique : <a href="mailto:informatique@lefresnoy.net">informatique@lefresnoy.net</a><br/>
    Nous vous informons de l’existence de la liste d'opposition au démarchage téléphonique « Bloctel »,
    sur laquelle vous pouvez vous inscrire ici : <a href="https://conso.bloctel.fr/" target="_blank">https://conso.bloctel.fr/</a><br/>

      </p>
     </div>







      <div class="navigation">
         <a class="btn next" ui-sref="candidature.administrative-informations">
           <span class="fr">Continuer</span><span class="en">Continue</span>
         </a>
      </div>

  </div>

</div>
