<div class="help-pane" ng-show='display_help' ng-init="show_help(false);">
   <span class="close" ng-click="show_help(false)">x</span>
   <h1><class class="fr">Aide</class><class class="en">Help</class></h1>
   <div class="fr">
      <p>La Procédure de sélection est ouverte à toutes les personnes, sans distinction de genre ou de nationalité, âgées de 35 ans au plus 
         au 1er janvier de l’année du concours (nées après le <span ng-bind="campaign.date_of_birth_max | date : 'd MMMM yyyy'  | translate_en_to_fr" />).</p>
      <p>L'INE signifie "Identifiant National Elève". Ce numéro est composé de neuf chiffres et deux lettres depuis la rentrée 2018
        (auparavant, il comportait dix chiffres et une lettre).
        Il est indiqué en haut sur le relevé de notes du baccalauréat en tant qu'« identifiant national ».
        Seuls les étudiants ayant passé leur baccalauréat à partir de 1995 possèdent un numéro BEA.
        <a href="https://fr.wikipedia.org/wiki/Num%C3%A9ro_BEA">Source Wikipédia</a> </p>
   </div>
   <div class="en">
      <p>The selection procedure is open to all candidates, of any sex or nationality, aged 35 years maximum on 1st January of the current year
        (i.e. born after
        <span ng-bind="campaign.date_of_birth_max | date : 'd MMMM yyyy'" />).</p>
      <p>INE number is for people who have studied in France.</p>
   </div>
</div>

<div class="administrative-information">
   <h1>
      <span class="fr">Informations administratives</span>
      <span class="en">Administrative information</span>
   </h1>
      
      <form name="form1" ng-submit="form1.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">

          <!--
            
         FIRST NAME

          -->

        <div class="field">
           <input id="first-name" type="text"  ng-model="user.first_name" ng-model-options='{ debounce: 1000 }'
                  ng-change="user.patch({'first_name': user.first_name, 'profile':{'id': user.profile.id}})" name="uFirstName" required />
           <div ng-show="form1.uName.$touched && form1.uFirstName.$invalid" ng-messages="form1.uFirstName.$error" class="help-block error">
              <div ng-message="required">
                 <span class="fr">Obligatoire</span>
                 <span class="en">Required</span>
              </div>
           </div>
           <label for="first-name">
           <span class="field-state required"></span>
           <span class="fr">Prénom (état civil tel qu’indiqué sur la carte d’identité)</span>
           <span class="en">Given name (as indicated on your passport/ID card)</span>
           </label>
        </div>
         <!--
            
         LAST NAME

          -->

         <div class="field">
            <input id="name" type="text"  ng-model="user.last_name"
                  ng-model-options='{ debounce: 1000 }'
                  ng-change="user.patch({'last_name': user.last_name, 'profile':{'id': user.profile.id}})" name="uName" required />
            <div ng-show="form1.uName.$touched && form1.uName.$invalid" ng-messages="form1.uName.$error" class="help-block error">
               <div ng-message="required">
                  <span class="fr">Obligatoire</span>
                  <span class="en">required</span>
               </div>
            </div>
            <label for="name">
            <span class="field-state required"></span>
            <span class="fr">Nom (état civil tel qu’indiqué sur la carte d’identité)</span>
            <span class="en">Surname (as indicated on your passport/ID card)</span>
            </label>
         </div>

          <!--
            
         ARTIST NAME

          -->


         <div class="field">
            <input id="nickname" type="text"  ng-model="artist.nickname"
                  ng-model-options='{ debounce: 1000 }'
                  ng-change="artist.patch({'nickname': artist.nickname})" name="aNickname" />
            <label for="name">

            <span class="fr">Nom d’usage, nom d’artiste ou pseudonyme (si différent de l’état civil)</span>
            <span class="en">Everyday name, artist’s name or pseudonym (if different from your ID)</span>
            </label>
         </div>
         <blockquote>
         <p class="fr">Si vous complétez le champ ci-dessus, c’est ce deuxième nom qui sera utilisé dans la communication et les documents pédagogiques tout au long de votre scolarité au Fresnoy.</p>
         <p class="en">If you fill in the box above, it is this second name which will be used in communications and on teaching documents throughout your time at Le Fresnoy.</p>
         </blockquote>
          <!--
            
         GENDER

          -->

         <div class="field">
            <select id="gender" ng-model="user.profile.gender"
               ng-change="user.patch({'profile':{'gender': user.profile.gender}})" name="uGender" required>
               <option value=""> --- </option>
               <option ng-repeat="(code, value) in gender" value="{{code}}">{{value[language]}}</option>
            </select>
            <div ng-show="form1.uGender.$touched && form1.uGender.$invalid" ng-messages="form1.uGender.$error" class="help-block error">
               <div ng-message="required">
                  <span class="fr">Obligatoire</span>
                  <span class="en">Required</span>
               </div>
               <div ng-message="gender">
                  <span class="fr">Valeur éronnée</span>
                  <span class="en">Value Error</span>
               </div>
            </div>
            <label for="gender">
            <span class="field-state required" ng-class="{ 'error': form1.uGender.$error, 'valid':form1.uGender.$valid, 'touched': form1.uGender.$touched }"></span>
            <span class="fr">Genre</span>
            <span class="en">Gender</span>
            </label>
         </div>
          <!--
            
         BIRTH DATE

          -->

         <div class="field">

             <input ng-if="is_safari" placeholder="{{campaign.date_of_birth_max | date:'dd/MM/yyyy'}}" type="text"
              name="uBirthDate"
              ng-model="safari_birthdate_value"
              ng-keyup="safari_keyup($event, this)"
              ng-change="safari_birthdate_value = safari_birthdate_change(safari_birthdate_value);
                user.profile.birthdate = safari_birthdate_value.split('/').reverse().join('-');
                user.patch({'profile':{'birthdate': user.profile.birthdate}});
                "
              required />

             <input ng-if="!is_safari"  placeholder="{{campaign.date_of_birth_max | date:'dd/MM/yyyy'}}"  
              type="date" ng-min="birthdateMin" name="uBirthDate"
              ng-max="birthdateMax" ng-model="birthdate.value"
              ng-change="user.profile.birthdate = (birthdate.value | date:'yyyy-MM-dd');
              user.patch({'profile':{'birthdate': user.profile.birthdate}}); " 
              required />



              <div ng-show="form1.uBirthDate.$touched && form1.uBirthDate.$invalid" ng-messages="form1.uBirthDate.$error" class="help-block error">
                 <div ng-message="required">
                    <span class="fr">Obligatoire</span>
                    <span class="en">Required</span>
                 </div>
                 <div ng-message="min">
                    <span class="fr">Il faut avoir moins de 35 ans (être né après  le <span ng-bind="campaign.date_of_birth_max | date : 'd MMMM yyyy'  | translate_en_to_fr" />) </span>
                    <span class="en">to be completed</span>
                 </div>
                 <div ng-message="max">
                    <span class="fr">Il faut être majeur pour s'inscrire</span>
                    <span class="en">to be completed</span>
                 </div>
              </div>
              <label for="birthdate">
              <span class="field-state required"></span>
              <span class="fr">Date de naissance : jj/mm/aaaa </span>
              <span class="en">Birthdate : dd/mm/yyyy</span>
              </label>
         </div>

         <!--
            
         BIRTH COUNTRY

          -->

         <div class="field">
            <select id="birth-country"
               ng-change="user.patch({'profile':{'birthplace_country': user.profile.birthplace_country}})"
               ng-model="user.profile.birthplace_country"
               name="uBirthCountry" required>
               <option value="">-- Select a Country --</option>
               <option ng-repeat="(country,code) in countries" value="{{code}}">{{country}}</option>
            </select>
            <div ng-show="form1.uBirthCountry.$touched && form1.uBirthCountry.$invalid" ng-messages="form1.uBirthCountry.$error" class="help-block error">
               <div ng-message="required">
                  <span class="fr">Obligatoire</span>
                  <span class="en">Required</span>
               </div>
               <div ng-message="birthcountry">
                  <span class="fr">Valeur éronnée</span>
                  <span class="en">Value Error</span>
               </div>
            </div>
            <label for="birth-country">
            <span class="field-state required" ng-class="{ 'error': form1.uGender.$error, 'valid':form1.uGender.$valid, 'touched': form1.uGender.$touched }"></span>
            <span class="fr">Pays de naissance</span>
            <span class="en">Birth Country</span>
            </label>
         </div>

         <!--

         BIRTH PLACE

          -->

         <div class="field">
            <input id="birthplace" type="text"  ng-model="user.profile.birthplace"
                  ng-model-options='{ debounce: 1000 }'
                  ng-change="user.patch({'profile':{'birthplace': user.profile.birthplace}})" name="uBirthplace" />
            <label for="name">

            <span class="fr">Ville de naissance</span>
            <span class="en">Place of birth</span>
            </label>
         </div>

         <!--

         NATIONALITY

          -->

         <div class="field">
            <div ng-repeat="item in nationality track by $index" >
               <div class="item" ng-init='removeConfirmation[$index]=false'>
                  <span class="flag-icon flag-icon-{{item | lowercase}}" />
                  <span class="name" ng-bind="getCountrie(item)" />
                  <span class="trash" ng-click="removeConfirmation[$index]=true" />
                  <div class="delete-pane" ng-show="removeConfirmation[$index]">
                     <span class="trash" ng-click="nationality.splice($index,1);
                        user.profile.nationality = nationality.join(splitChar);
                        user.patch({'profile':{'nationality': nationality.join(splitChar)}});
                        removeConfirmation[$index]=false" />
                     <span class="name"><span class="fr">Supprimer</span><span class="en">Delete</span></span>
                     <span class="cancel" ng-click="removeConfirmation[$index]=false"></span>
                  </div>
               </div>
            </div>
            <select
              name="uSelectNationality"
               ng-model = "nation"
               ng-change="nationality.push(nation); user.profile.nationality = nationality.join(splitChar);
               user.patch({'profile':{'nationality': user.profile.nationality}}); nation=''"
               >
               <option value="">----</option>
               <option ng-repeat="(country, code) in countries" value="{{code}}">{{country}} ({{code}})</option>
            </select>
            <div ng-show="form1.uSelectNationality.$touched && form1.uNationality.$invalid" ng-messages="form1.uNationality.$error" class="help-block error">
               <div ng-message="required">
                  <span class="fr">Obligatoire</span>
                  <span class="en">Required</span>
               </div>
            </div>
            <input hidden name='uNationality' id="nationality" type="text" ng-model="user.profile.nationality" required />
            <label class="" for="nationality">
                <span class="field-state"></span>
                <span class="fr"><span ng-show="nationality.length>0">Autre </span>Nationalité</span>
                <span class="en"><span ng-show="nationality.length>0">Other </span>Nationality</span>
            </label>
         </div>

          <!--

            ID CARD

          -->


         <div class="field">
            <input  ng-model="candidature.identity_card" hidden required />
            <div
               ng-show="!candidature.identity_card"
               id="id-justification"
               class="media-upload"
               ng-model="candidature.identity_card"
               ngf-select="uploadFile(candidature.identity_card, candidature, 'identity_card')"
               ngf-drop="uploadFile(candidature.identity_card, candidature, 'identity_card')"
               ngf-capture="'camera'"
               ngf-accept="'image/*, application/pdf'"
               ngf-pattern="'image/*,application/pdf'"
               ngf-model-invalid="invalidFileJustification"
               name="jID"
               required
               >
               <span class="upload-file" />
            </div>
            <div class="item" ng-if="candidature.identity_card" ng-init='RC_id=false'>
               <a class="link" target='_blank' href="{{candidature.identity_card}}"><img  /></a>
               <span class="name">{{candidature.identity_card.split('.').pop()}}</span>
               <span class="trash" ng-click="RC_id=true" />
               <div class="delete-pane" ng-show="RC_id">
                  <span class="trash" ng-click="candidature.identity_card=null; RC_id=false; candidature.patch({'identity_card':candidature.identity_card});" />
                  <span class="name"><span class="fr">Supprimer</span><span class="en">Delete</span></span>
                  <span class="cancel" ng-click="RC_id=false"></span>
               </div>
            </div>
            <label class="topborder" for="id-justification">
               <div ng-show="form1.jID.$invalid && form1.jID.$touched" ng-messages="form1.jID.$error" class="help-block error">
                  <div ng-message="required">
                     <span class="fr">Obligatoire</span>
                     <span class="en">Required</span>
                  </div>
               </div>
               <div ng-show="invalidFileJustification.$errorMessages" ng-messages="invalidFileJustification.$errorMessages" class="help-block error">
                  <div ng-message="pattern">
                     <span class="fr">Formats acceptés : jpg / png / gif / pdf</span>
                     <span class="en">Accepted formats : jpg / png / gif / pdf</span>
                  </div>
               </div>
               <span class="field-state required" ng-class="{ 'error': form1.jID.$error, 'valid':form1.jID.$valid, 'touched': form1.jID.$touched }"></span>
               <span class="fr">Justificatif d'identité (Passeport ou Carte d'identité) en cours de validité (JPG / PDF)</span>
               <span class="en">PROOF OF IDENTITY (VALID PASSEPORT OR IDENTITY CARD) </span>
            </label>
         </div>

         <!--
         INE
            Identifiant National Etudiant Unique
            10 chiffres + 1 lettre ou 9 chiffres + 2 lettres
          -->
         <div class="field">
            <input
               type="text"
               name="cINE"
               ng-model="candidature.INE"
               ng-change="candidature.patch({'INE': candidature.INE});"
               placeholder="10 chiffres + 1 lettre (ou 9 + 2)"
               />
            <label for="cINE">
            <span class="fr">Numéro Identifiant National Etudiant Unique (INE/BEA, pour les personnes ayant étudié en France)</span>
            <span class="en">INE number (for people who have studied in France)</span>
            </label>
         </div>


         <div class="field">
            <input
               type="text"
               placeholder="" name="uInsuranceNumber"
               ng-model="user.profile.social_insurance_number"
               ng-change="user.patch({'profile':{'social_insurance_number': user.profile.social_insurance_number}});"
               />
            <div ng-show="form1.uInsuranceNumber.$touched && form1.uInsuranceNumber.$invalid" ng-messages="form1.uInsuranceNumber.$error" class="help-block error">
               <div ng-message="required">
                  <span class="fr">Obligatoire</span>
                  <span class="en">Required</span>
               </div>
            </div>
            <label for="insurance-number">
            <span class="fr">Numéro de sécurité sociale</span>
            <span class="en">Insurance number</span>
            </label>
         </div>
      </form>
   <div class="navigation">
      <a class="btn prev" ui-sref="candidature.options"><span class="fr">Retour</span><span class="en">Back</span></a>
      <a class="btn next" ui-sref="candidature.contact-informations"><span class="fr">Continuer</span><span class="en">Continue</span></a>
   </div>
</div>
