<div class="help-pane" ng-show='display_help' ng-init="show_help(false)">
   <span class="close" ng-click="show_help(false)">x</span>
   <h1><class class="fr">Aide</class><class class="en">Help</class></h1>
   <div class="fr">
     <p><u>Cocher la case correspondant à votre situation</u></p>
     <p>
        Les candidats doivent pouvoir justifier :
     <ul>
        <li>soit du Baccalauréat (ou équivalence reconnue) et 5 années d’études attestées par un titre ou diplôme,</li>
        <li>soit du Baccalauréat (ou équivalence reconnue) et 7 années d’expérience artistique ou professionnelle,
          et sous réserve de joindre au dossier d’inscription administrative un argumentaire, une page maximum,
          précisant en quoi leur expérience les a préparés au cursus du Fresnoy.<br/>
          Les candidatures présentées sous cette deuxième
            condition feront l’objet d’un examen par une
            commission spéciale, apte à les évaluer et à les
            valider, et dont les décisions seront sans appel.
        </li>
     </ul>
     </p>
   </div>
   <div class="en">
      <p>The candidates must be able to provide proof of:<ul>
         <li> A levels or Baccalauréat (or recognized equivalent) and 5 years of study validated by a diploma; (or)</li>
         <li>A levels or Baccalauréat (or recognized equivalent) and 7 years of artistic or professional experience; in
           this case, a one page argument should be sent with the administrative application to explain how
           this experience is relevant to the course at Le Fresnoy. <br/>
           The candidates in the second case will sit a specific examination set by a special committee, who will
           evaluate and validate their application. Their decision is final. Participation in the selection
           procedure is free. Travel costs and living expenses of candidates during the entrance examinations
           are at the charge of the candidate.</li>
</ul></p>
   </div>
</div>

<div class="curiculum">
   <h1>
      <span class="fr">Cursus</span>
      <span class="en">Cursus</span>
   </h1>
   <form name="form" ng-submit="form.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">
      <div class="field">
         <p class="fr">Cochez la case correspondant à votre situation : </p>
         <p class="en">Please tick the corresponding box: </p>
         <input type="radio"
            id="master-degree"
            ng-model="candidature.master_degree"
            ng-change="candidature.patch({master_degree: candidature.master_degree})"
            name="cMaster"
            ng-value="'Y'"
            class="one check "
            />
         <label for="master-degree" class="checkbox one big pointer">
         <span class="fr">J'ai un master (bac + 5)</span>
         <span class="en">I have a master's degree (bac + 5, high school diploma + 5 years)</span>
         </label>
         <div ng-if="candidature.master_degree=='Y'">
           <p><span class='fr'>Un justificatif du diplôme sera nécessaire à la page suivante</span>
           <span class='en'>Proof of your diploma will be required on the next page</span>
          </p>
         </div>
      </div>
      <div class="field">
         <input type="radio"
            id="pending-master-degree"
            ng-model="candidature.master_degree"
            ng-change="candidature.patch({master_degree: candidature.master_degree})"
            name="cMaster"
            ng-value="'P'"
            class="one check"
            />
         <label for="pending-master-degree" class="checkbox one big pointer">
         <span class="fr">Master (bac + 5) en cours</span>
         <span class="en">Master (5 years higher education) underway (forthcoming) </span>
         </label>

      </div>
      <div class="field">
         <input type="radio"
            id="no-master-degree"
            ng-model="candidature.master_degree"
            ng-change="candidature.patch({master_degree: candidature.master_degree})"
            name="cMaster"
            ng-value="'N'"
            class="one check"
            />
         <label for="no-master-degree" class="checkbox one big pointer">
         <span class="fr">BAC + 7 années<br/><strong>d'expérience professionnelle attestée</strong></span>
         <span class="en">BAC or high school diploma + 7 years<br/><strong>of proven professional experience</strong></span>
         </label>
      </div>
      <div ng-if="candidature.master_degree=='N'">
         <p class="fr">En quoi cette expérience vous a-t-elle préparé au Fresnoy ? <em>(1 page max)</em></p>
         <p class="en">In what way this experience has prepared you for Le Fresnoy ? <em>(1 page max)</em> </p>
         <input id="exp-justification" ng-model="candidature.experience_justification" required hidden />
         <div ng-model="candidature.experience_justification"
            class="media-upload"
            ng-show="!candidature.experience_justification"
            ngf-select="upload(candidature.experience_justification, candidature, 'experience_justification')"
            ngf-capture="'camera'"
            accept="application/pdf"
            ngf-accept="'application/pdf'"
            ngf-pattern="'application/pdf'"
            ngf-model-invalid="invalidExperienceJustification"
            name="jExp"
            required
            >
            <span class="upload-file" />
         </div>
         <div class="item" ng-if="candidature.experience_justification" ng-init='RC_exp=false'>
            <a class="link" target='_blank' href="{{candidature.experience_justification}}"><img  /></a>
            <span class="name">{{candidature.experience_justification.split('.').pop()}}</span>
            <span class="trash" ng-click="RC_exp=true" />
            <div class="delete-pane" ng-show="RC_exp">
               <span class="trash" ng-click="candidature.experience_justification=''; RC_exp=false" />
               <span class="name"><span class="fr">Supprimer</span><span class="en">Delete</span></span>
               <span class="cancel" ng-click="RC_exp=false"></span>
            </div>
         </div>
         <div ng-show="invalidExperienceJustification.$errorMessages" ng-messages="invalidExperienceJustification.$errorMessages" class="help-block error">
            <div ng-message="pattern">
               <span class="fr">Format accepté :pdf</span>
               <span class="en">Accepted format : pdf</span>
            </div>
         </div>
         <label class="topborder" for="exp-justification">
         <span class="field-state"></span>
         <span class="fr">Justification d'expérience</span>
         <span class="en">Experience justification</span>
         </label>
      </div>
   </form>
   <div class="navigation">
      <a class="btn prev" ui-sref="candidature.photography"><span class="fr">Retour</span><span class="en">Back</span></a>
      <a class="btn next" ui-sref="candidature.cv"><span class="fr">Continuer</span><span class="en">Continue</span></a>
   </div>
</div>
