<div class="help-pane" ng-show='display_help' ng-init="show_help(false)">
   <span class="close" ng-click="show_help(false)">x</span>
   <h1><class class="fr">Aide</class><class class="en">Help</class></h1>
   <div class="fr">
      <p>Résumé du parcours et/ou des études.</p>
   </div>
   <div class="en">
      <p>Résumé of candidate’s career and/or studies.</p>
   </div>
</div>

<div class="">

  <h1>
     <span class="fr">Parcours artistique</span>
     <span class="en">Artistic career</span>
  </h1>

  <form name="form" ng-submit="form.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">

    <p class="fr">Résumé du parcours artistique : </p>
    <p class="en">Summary of your artistic career: </p>

          <div class="field">
                      <textarea
                        id="cursus"
                        class="small-font"
                          ng-model="user.profile.cursus"
                          ng-model-options='{ debounce: 1000 }'
                          ng-change="user.patch({profile : {cursus: (user.profile.cursus||'')}})"
                          placeholder="Année - Expérience, diplôme, ..."
                          rows="10"
                          name=uCursus
                          required
                          ng-if="language=='fr'"
                      />
                      <textarea
                        id="cursus"
                        class="small-font"
                          ng-model="user.profile.cursus"
                          ng-model-options='{ debounce: 1000 }'
                          ng-change="user.patch({profile : {cursus: (user.profile.cursus||'')}})"
                          placeholder="Year - Experience, diploma, ..."
                          rows="10"
                          name=uCursus
                          required
                          ng-if="language=='en'"
                      />
                      <div ng-show="form.uCursus.$touched && form.uCursus.$invalid" ng-messages="form.uCursus.$error" class="help-block error">
                        <div ng-message="required">
                          <span class="fr">Obligatoire</span>
                          <span class="en">required</span>
                        </div>
                      </div>
                      <label for="cursus">
                        <span class="field-state required"></span>
                        <span class="fr">Cursus</span>
                        <span class="en">Cursus</span>
                      </label>
              </div>


      <p class="fr">Nom d'artiste : </p>
      <p class="en">Artist name: </p>


              <div class="field">
                 <input id="nickname" type="text"  ng-model="artist.nickname"
                       ng-model-options='{ debounce: 1000 }'
                       ng-change="artist.patch({'nickname': artist.nickname})" name="aNickname" />
                 <label for="name">

                 <span class="fr">Nom d'artiste</span>
                 <span class="en">Artist name</span>
                 </label>
              </div>





      <p class="fr">Site(s) web : </p>
      <p class="en">website(s): </p>

      <div class="field">

        <div ng-repeat="item in artist.websites track by $index" >
           <div class="item" ng-init='removeConfirmation[$index]=false'>
              <span class="name left" ng-bind="item.link.substring(7)" />

              <span class="trash" ng-click="removeConfirmation[$index]=true" />
              <div class="delete-pane" ng-show="removeConfirmation[$index]">
                 <span class="trash" ng-click="removeItem(artist.websites, $index); removeConfirmation[$index]=false" />
                 <span class="name"><span class="fr">Supprimer</span><span class="en">Delete</span></span>
                 <span class="cancel" ng-click="removeConfirmation[$index]=false"></span>
              </div>
           </div>
        </div>

        <a ng-if="website.length>0 && form.aWebsite.$valid" ng-click='addWebsite(artist, artist.websites, website);' class="btn right add">
            +
        </a>

          <input
             type="text"
             id = "website"
             ng-model-options='{ debounce: 500 }'
             name = "aWebsite"
             ng-model="website"
             ng-change='form.aWebsite.$valid = true; form.aWebsite.$invalid = false '
             placeholder="Url"
             ng-value=""
             />
          <div ng-show="form.aWebsite.$touched && form.aWebsite.$invalid" ng-messages="form.aWebsite.$error" class="help-block error">
             <div ng-message="url">
                <span class="fr">Erreur dans l'URL</span>
                <span class="en">Error url</span>
             </div>
          </div>

          <label for="website">
              <span class="fr">Site Web <br/>(http://www.monsite.com)</span>
              <span class="en">Website <br/>(http://www.mywebsite.com)</span>
          </label>
      </div>

      <hr />
      <div class="Portfolio">
         <p  class="fr">Vous avez la possibilité de nous transmettre un portfolio au format PDF. <br/>
            Ce document demeure facultatif, il sera visionné lors du premier jury (présélection du dossier).
         </p>
         <p  class="en">You can optionally upload a portfolio in pdf. <br/>
           It will be examined by the jury <u>only if</u>
           your application gets preselected.
         </p>
         <div class="field">
            <input name="cPortfolio" ng-model="candidature.free_document" hidden />
            <div id="portfolio"
               class="media-upload"
               ng-show="!candidature.free_document"
               ng-model="candidature.free_document"
               name="cPortfolio"
               ngf-select="upload(candidature.free_document, candidature, 'free_document') " ngf-capture="'camera'"
               accept="application/pdf"
               ngf-accept="'application/pdf'"
               ngf-pattern="'application/pdf'"
               ngf-model-invalid="invalidFORTFOLIO"
               required
               >
               <span class="upload-file" />
            </div>
            <div class="item" ng-if="candidature.free_document" ng-init='RC_PORTFOLIO=false'>
               <a class="link" target='_blank' href="{{candidature.free_document}}"><img  /></a>
               <span class="name">{{candidature.free_document.split('.').pop()}}</span>
               <span class="trash" ng-click="RC_PORTFOLIO=true" />
               <div class="delete-pane" ng-show="RC_PORTFOLIO">
                  <span class="trash" ng-click="candidature.free_document=''; RC_PORTFOLIO=false; candidature.patch({'free_document': null});" />
                  <span class="name"><span class="fr">Supprimer</span><span class="en">Delete</span></span>
                  <span class="cancel" ng-click="RC_PORTFOLIO=false"></span>
               </div>
            </div>
            <div ng-show="invalidFORTFOLIO.$errorMessages" ng-messages="invalidFORTFOLIO.$errorMessages" class="help-block error">
               <div ng-message="pattern">
                  <span class="fr">Ce n'est pas un fichier pdf</span>
                  <span class="en">Only Pdf accepted</span>
               </div>
            </div>
            <div ng-show="form.cPortfolio.$touched && form.cPortfolio.$invalid" ng-messages="form.cPortfolio.$error" class="help-block error">

               <div ng-message="justification_letter">
                  <span class="fr">Valeur éronnée</span>
                  <span class="en">Value Error</span>
               </div>
            </div>
            <label class="topborder" for="portfolio">
            <span class="fr">Portfolio</span>
            <span class="en">Portfolio</span>
            </label>
         </div>



    </form>







  <div class="navigation">
     <a class="btn prev" ui-sref="candidature.cv"><span class="fr">Retour</span><span class="en">Back</span></a>
     <a class="btn next" ui-sref="candidature.visual-elements"><span class="fr">Continuer</span><span class="en">Continue</span></a>
  </div>
</div>
