<div class="help-pane" ng-show='display_help' ng-init="show_help(false)">
   <span class="close" ng-click="show_help(false)">x</span>
   <h1><class class="fr">Aide</class><class class="en">Help</class></h1>
   <div class="fr">
      <p></p>
   </div>
   <div class="en">
      <p></p>
   </div>
</div>

<div class="">

  <h1>
     <span class="fr">Parcours artistique</span>
     <span class="en">Artistic Background</span>
  </h1>


  <p>Résumé du parcours artistique : </p>

          <div class="field">
                      <textarea
                        id="cursus"
                          ng-model="user.profile.cursus"
                          ng-model-options='{ debounce: 1000 }'
                          ng-change="user.patch({profile : {'cursus': user.profile.cursus}})"
                          placeholder="2003 - Master de philosophie à Lille3
 2005 - Résidence  New York
 2008 - "
                          rows="10"
                          name=uCursus
                          required
                      />
                      <div ng-show="form.uCursus.$touched && form.uCursus.$invalid" ng-messages="form.uCursus.$error" class="help-block error">
                        <div ng-message="required">
                          <span class="fr">Obligatoire</span>
                          <span class="en">required</span>
                        </div>
                      </div>
                      <label for="cursus">
                        <span class="field-state required"></span>
                        <span class="fr">Cursus</span>
                        <span class="en">Cursus</span>
                      </label>
              </div>


              <div class="field">

                    <div ng-repeat="item in cursus_justifications.media | orderBy:'1*position' track by $index"
                          ng-model="cursus_justifications.media"
                          name="uCursus"
                          class="item-list">

                        <div class="item" ng-if="item.file || item.picture" ng-init='RC_CursusJustif[$index]=false'>
                          <a class="link" target='_blank' href="{{item.file || item.picture}}"><img  /></a>
                          <input class="name no-border" type="text" placeholder="Nom" ng-model="item.label" ng-change="item.patch({label: item.label})" class="no-border" required />
                          <span class="trash" ng-click="RC_CursusJustif[$index]=true" />
                          <div class="delete-pane" ng-show="RC_CursusJustif[$index]">
                              <span class="trash" ng-click="removeItem(cursus_justifications.media, $index); RC_CursusJustif[$index]=false" />
                              <span class="name"><span class="fr">Supprimer</span><span class="en">Delete</span></span>
                              <span class="cancel" ng-click="RC_CursusJustif[$index]=false"></span>
                          </div>
                        </div>

                      </div>

                      <div>
                        <div ng-model="file"
                          class="media-upload"
                          ngf-select="uploadFile(file, cursus_justifications)"
                          ngf-capture="'camera'"
                          accept="image/*, application/pdf"
                          ngf-accept="'image/*, application/pdf'"
                          ngf-pattern="'image/*,application/pdf'"
                          ngf-model-invalid="invalidFileCursusJustification"
                          name="jCursus"
                          required
                          >
                          <span class="upload-file" />
                        </div>
                        <div ng-show="invalidFileCursusJustification.$errorMessages" ng-messages="item.invalidFileCursusJustification.$errorMessages" class="help-block error">
                          <div ng-message="pattern">
                            <span class="fr">Formats acceptés : jpg / png / gif / pdf</span>
                            <span class="en">Accepted formats : jpg / png / gif / pdf</span>
                          </div>
                        </div>
                        <label class="topborder" for="cursus">
                          <span class="field-state required"></span>
                          <span class="fr">Ajouter un justificatif (diplôme, certification, ... )</span>
                          <span class="en">Add a document (degree, certificatie, ... )</span>
                        </label>
                      </div>

                      <p></p>


                </div>



  <div class="navigation">
     <a class="btn prev" ui-sref="candidature.cv"><span class="fr">Retour</span><span class="en">Back</span></a>
     <a class="btn next" ui-sref="candidature.previous-applications"><span class="fr">Continuer</span><span class="en">Continue</span></a>
  </div>
</div>
