<div class="help-pane" ng-show='display_help' ng-init="show_help(false)">
   <span class="close" ng-click="show_help(false)">x</span>
   <h1><class class="fr">Aide</class><class class="en">Help</class></h1>
   <div class="fr">
          <p>Une œuvre ou un ensemble d’extraits d’œuvres
    réalisés par le candidat et lui paraissant
    particulièrement représentatif de sa démarche
    artistique ou de son travail. Fichiers MP4 ou
    ProRes sur clé USB, durée maximale 8 minutes,
    organisation selon le souhait du candidat
    (exemple: 3 extraits vidéo, ou encore un
    diaporama de photographies, ou un ensemble
    d’extraits sonores, une ou plusieurs captations
    vidéo d’installations, etc…). <br/>Chaque extrait
    d’œuvre devra être précédé d’un carton texte
    spécifiant la nature et le contexte de l’œuvre. Ces
    éléments du dossier seront vus successivement
    par les deux jurys.</p>
    <p>
      Par ailleurs, le jury visionnera les éléments visuels de 8 minutes maximum figurant au dossier du candidat.
      L’attention du candidat est attirée sur l’importance de ces éléments, seuls documents le présentant qui seront examinés aux deux étapes de la sélection.
    </p>
   </div>
   <div class="en">
      <p>A work or several extracts of works made by the
      candidate and which are representative of his/
      her specific practice. MP4 or ProRes files on
      USB key, 8 minutes maximum, organised as the
      candidate wishes (for example: 3 video extracts,
      or a diaporama of photographs or a series of
      sound excerpts, or one or several views of video
      installations, etc.). Each extract of work should
      be preceded by a label indicating the nature and
      context of the work. This part of the application
      will be seen by two different juries.</p>
      <p>
        Moreover, the jury will look at the visual material
      lasting 8 minutes maximum in the candidate’s
      portfolio (see artistic portfolio above).
      The candidate should note the importance of
      these documents, which are the only ones to be
      examined at all two stages of the selection
      process.
    </p>
    </div>
</div>

<div class="">
   <h1>
      <span class="fr">Éléments Visuels</span>
      <span class="en">Visual elements</span>
   </h1>
   <form name="form1" ng-submit="form.$valid && submit()" class="css-form" novalidate>
     <div class="fr">
      <p>Saisir ci-dessous le lien vidéo vers une œuvre ou un ensemble d’extraits d’œuvres que vous avez réalisés et
         particulièrement représentatifs de votre démarche artistique.
      </p>
      <p>Cette vidéo d'une <strong>durée maximale de 8 minutes</strong> sera vue successivement par les deux jurys (de présélection et de l'entretien oral).</p>
    </div>
    <div class="en">
      <p>Please connect the video link towards a work or a series of extracts of your works that are particularly representative of your artistic approach</p>
      <p>This video of a maximum length of 8 minutes will be seen by two panels (during the pre-selection phase and the interview)</p>
    </div>
    <div class="field" ng-show="!candidature.physical_content">
         <input
            type="url"
            id = "video"
            name = "cVideo"
            ng-model="candidature.presentation_video"
            ng-model-options='{ debounce: 1000 }'
            ng-change="candidature.patch({presentation_video : candidature.presentation_video||''})"
            placeholder="Url"
            required
            />
         <div ng-show="form1.cVideo.$touched && form1.cVideo.$invalid" ng-messages="form1.cVideo.$error" class="help-block error">
            <div ng-message="required">
               <span class="fr">Obligatoire</span>
               <span class="en">required</span>
            </div>
            <div ng-message="url">
               <span class="fr">URL mal formatée</span>
               <span class="en">Error url</span>
            </div>
         </div>
         <label for="video">
             <span class="field-state required"></span>
             <span class="fr">Lien vidéo (8 minutes maximum) format mp4</span>
             <span class="en">VIDEO LINK (8 MINUTES MAXIMUM) MP4 FORMAT</span>
         </label>

         <p class="fr">Préciser la nature et le contexte des éléments visuels <br/>
                     <small>(si l'accès à la vidéo requiert un mot de passe, merci de l'indiquer ci dessous)</small> : </p>
         <p class="en">Please explain the nature and the context of the visual elements:<br/>
                     <small>(if access to the video requires a password, please indicate below)</small></p>
         <textarea
            ng-model="candidature.presentation_video_details"
            ng-model-options='{ debounce: 1000 }'
            ng-change="candidature.patch({presentation_video_details : candidature.presentation_video_details||''})"
            placeholder=""
            rows="2"
            required=""
            >
         </textarea>
         <label>
             <span class="field-state required"></span>
             <span class="fr">Contenus visuels</span>
             <span class="en">Visuel content</span>
         </label>
      </div>

      <div>
         <div ng-if="!candidature.physical_content && candidature.presentation_video">
            <iframe ng-if="_isAvailableVideo" height="100px" width="200px"  ng-src="{{trustSrc(candidature.presentation_video)}}" />
            <div ng-if="candidature.presentation_video && candidature.presentation_video.indexOf('player.vimeo.com/video')>0 && !_isAvailableVideo">
              <strong>
              <span class="fr">
               La vidéo est bien envoyée et sera disponible pour vérification dans quelques minutes,
               n'hésitez pas à revenir plus tard sur votre inscription pour la consulter
             </span>
             <span class="en">The video has been sent and will be available for verification in several minutes, do not hesitate to come back to your inscription to consult it.</span>
             </strong>

            </div>
           <a class="btn" ng-show="_isAvailableVideo && candidature.presentation_video.indexOf('player.vimeo.com/video')>0" ng-click='deleteVimeoVideo(candidature.presentation_video.split("/").pop(), candidature, "presentation_video")'>
                <span class="fr">Effacer la vidéo</span>
                <span class="en">delete video</span>
              </strong>
           </a>
         </div>
      </div>
      <br>
      <br>
      <hr/>
      <div class='bg-grey'>
        <div ng-show="!candidature.physical_content">
            <h4>

              <span class="fr">Si vous ne pouvez pas fournir un lien vers une vidéo,<br/>Vous avez la possibilité de :</span>
              <span class="en">If you cannot provide a link towards a video, <br/>YOU MAY</span>

            </h4>
            <div ng-if='!candidature.presentation_video'>
                <p class="fr"> - nous envoyer la vidéo (téléchargement), en cliquant ci-dessous : </p>
                <p class="en"> - send us the video (upload), by clicking below: </p>
                <div ng-model="video" name="uVideo"
                   ngf-select="uploadVimeo(video, candidature, 'presentation_video')"
                   ngf-capture="'camera'"
                   accept="video/*"
                   ngf-accept="'video/*'"
                   ngf-pattern="'video/*'"
                   ngf-model-invalid="invalidVideo"
                   ng-show="!candidature.presentation_video"
                   class="media-upload"
                   ng-show='!candidature.presentation_video'
                   >
                   <span class="upload-file" />
                </div>
            </div>
            <div ng-show="invalidVideo.$errorMessages" ng-messages="invalidVideo.$errorMessages" class="help-block error">
               <div ng-message="pattern">
                  <span class="fr">Fichier non reconnu comme étant une vidéo</span>
                  <span class="en">this is not a vidéo file</span>
               </div>
            </div>
            <p>
               <a href='https://vimeo.com/help/compression' target='_blank'>
                 <span class="fr">voir les spécifications pour un rendu optimal</span>
                 <span class="en">See specifications for optimal rendering</span>
             </a>
            </p>
      </div>
      <p class="fr">- nous envoyer la vidéo par courrier (cocher la case ci-dessous)</p>
      <p class="en">- send us the video by post (tick the box below)</p>
      <div class="field">
           <input
              type="checkbox"
              id="asynchronous-element"
              ng-model="candidature.physical_content"
              name="aAsynchone"
              class="one check"
              ng-value=true
              />
           <label class="check one pointer" for='asynchronous-element'>
               <span class="fr">J'envoie un fichier MP4 ou
               ProRes sur une clef USB en indiquant la référence de mon dossier</span>
               <span class="en">I am sending MP4 or ProRes files on a USB memory stick with my application reference.</span>
           </label>
           <div ng-if="!candidature.physical_content" class="alert" >
              <div ng-init='candidature.patch({physical_content_description: "", physical_content: false})' ></div>
           </div>
           <div ng-if="candidature.physical_content" class="alert" >
              <div ng-init='candidature.patch({physical_content_description: "Film sur Clef USB", physical_content: true})' ></div>
              <p class="fr">Préciser la nature et le contexte des éléments visuels : </p>
              <p class="en">Please explain the nature and the context of the visual elements:</p>
              <textarea
                 ng-model="candidature.presentation_video_details"
                 ng-model-options='{ debounce: 1000 }'
                 ng-change="candidature.patch({presentation_video_details : candidature.presentation_video_details||''})"
                 placeholder=""
                 rows="2"
                 required=""
                 >
              </textarea>
              <label>
                  <span class="field-state required"></span>
                  <span class="fr">Contenus visuels</span>
                  <span class="en">Visuel content</span>
              </label>
              <span class="fr"> Il est impératif d'indiquer la référence de votre dossier sur la clef USB.</span>
              <span class="en"> Don't forget to give us your application number </span>
              <strong>{{candidature.current_year_application_count}}</strong>
              <p>
                 à l'adresse suivante :
              </p>
              <p>
                 Pédagogie - Concours 2018<br/>
                 Le Fresnoy - Studio national <br/>des arts contemporains<br/>
                 22 rue du Fresnoy <br/>
                 BP 80179 <br/>
                 59202 Tourcoing Cedex <br/>
                 France
              </p>

           </div>
      </div>
    </div>
    <hr/>
    <div class="field">
         <input
            type="checkbox"
            id="honor"
            ng-model="honor"
            name="aHonor"
            class="one check"
            />
         <label class="check one pointer" for='honor'>
             <span class="fr">Je déclare sur l'honneur que tous
             les documents soumis au jury sont réalisés par moi seul, sans aucune aide ou intervention extérieure.</span>
             <span class="en">I declare that all the visual documents submitted have been created by me, without any help or outside sourcing.</span>
         </label>
    </div>
   </form>
   <div class="navigation">
      <a class="btn prev" ui-sref="candidature.artistic-background"><span class="fr">Retour</span><span class="en">Back</span></a>
      <a class="btn next" ui-sref="candidature.previous-applications" ng-class="{ 'has-error': honor==false }" ><span class="fr">Continuer</span><span class="en">Continue</span></a>
   </div>
</div>
