<div class="help-pane" ng-show='display_help' ng-init="show_help(false)">
   <span class="close" ng-click="show_help(false)">x</span>
   <h1><class class="fr">Aide</class><class class="en">Help</class></h1>
   <div class="fr">
      <p>Tous les textes peuvent être accompagnés de visuels.
      <ul>
         <li>Artistes et œuvres de référence (20 lignes). Ce document précise les artistes et œuvres de référence du
           candidat dans les domaines du cinéma, des arts plastiques, de la littérature, du spectacle vivant, etc…
           dans le champ particulier à chacune des deux années.            </li>
         <li>Projets envisagés pour les deux années au Fresnoy (1 page par projet).
           Plutôt que des projets précis, ce document doit indiquer le type d’œuvre que l’artiste envisage de réaliser
           au Fresnoy dans le champ particulier à chacune des deux années et dans une démarche transdisciplinaire :
           film, vidéo, photographie, installations interactives, sonores ou programmées, spectacle vivant...            </li>
      </ul>
      </p>
   </div>
   <div class="en">
      <p>Alongside with optional images, the project proposals must include :</p>
      <ul>
         <li>Artists and works of reference (20 lines). <br/>This document indicates the artists and works of reference
            of the candidate in the area of film, art, literature, live arts, etc, in the particular field of each of
            the two years.</li>
         <li>Projects envisaged for the two years at Le Fresnoy (1 page per project). Rather than very defined projects,
            this document should indicate the type of work that the artist envisages making at Le Fresnoy
            in the particular field of each of the two years and in a transdisciplinary mode: film, video, photography,
            sound, interactive or programmed installations, live arts, etc. </li>
      </ul>
      <p>First year: An art project based on traditional or digital: media, cinema, video or visual arts.<br>
         Second year: An art project based on a digital approach.
      </p>

   </div>
</div>


<div class="">
   <h1>
      <span class="fr">Intentions</span>
      <span class="en">Intentions</span>
   </h1>
   <form name="form" ng-submit="form.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">

     <h3 class='fr'>Candidature en duo</h3>
     <h3 class='en'>Applying as a duo </h3>
     <p>
       <span class='fr'>
         l est possible de candidater en duo, chacun des membres du duo doit s’inscrire, il y a donc deux dossiers administratifs
         distincts présentant le même dossier artistique (un même dossier artistique, pour un seul budget).
         Une candidature en duo n’est recevable qu’à la condition expresse que les membres du duo participent à l’intégralité
         des propositions pédagogiques (conjointement et non en alternance).<br/>
         Chaque candidat doit s'inscrire individuellement et mentionner le nom et le prénom du binôme.
       </span>
         <span class='en'>t is possible to apply as a duo. This means that both members of the duo must enrol, meaning that there will
            be two administrative files for the same artistic dossier (a single artistic dossier for a single budget).
            A double application is acceptable only on the express condition that both members of the duo participate fully
            in the pedagogical propositions (jointly and not alternately). <br/>
           Each member has to register individually and mention the name and first name of the other binominal.
         </span>
           <div class="field">
              <input
                 type="checkbox"
                 id="binomial-application"
                 ng-model="candidature.binomial_application"
                 name="cBinome"
                 ng-change="candidature.patch({binomial_application: candidature.binomial_application})"
                 class="one check"
                 ng-value="true"
                 />
              <label for="binomial-application" class="check one pointer">
              <span class="fr">
              Je candidate en binôme
              </span>
              <span class="en">
                I am applying as a duo
              </span>
              </label>
              <div class="" ng-if="candidature.binomial_application">
                 <div class="">
                    <input
                       id="binomial-application-with"
                       type="text"
                       ng-model="candidature.binomial_application_with"
                       ng-change="candidature.patch({binomial_application_with : candidature.binomial_application_with||''})"
                       ng-model-options='{ debounce: 1000 }'
                       name="cBinomeWith"
                       placeholder = ""
                       required
                       />
                    <div ng-show="form.cBinomeWith.$error.required" class="help-block error">

                           <span class="fr">
                           Champs requis
                           </span>
                           <span class="en">
                           required
                           </span>
                    </div>
                    <label for="binomial-application-with">
                    <span class="field-state"></span>
                    <span class="fr">Nom et Prénom du binôme</span>
                    <span class="en">Name and surname of the binomial</span>
                    </label>
                 </div>
              </div>
           </div>


     <hr/>
     <div class="fr">

         <h3>Projets envisagés durant le cursus du Fresnoy</h3>
         <p>Merci de lire impérativement les <a class="pointer" ng-click="show_help(true)">informations</a> avant de compléter cette étape.</p>
         <p><strong>Première année</strong><br/>Travail sur les supports traditionnels,
            argentiques et électroniques, du cinéma, de la
            photographie, de la vidéo et des arts visuels.<br>
        </p>
        <p>
            <strong>Deuxième année</strong><br/> Travail sur les supports de la création
            numérique et les écritures digitales.
         </p>
    </div>
    <div class="en">
        <h3>Projects imagined during Le Fresnoy course</h3>
        <p>Please read  <a class="pointer" ng-click="show_help(true)">the information</a> before completing this stage.</p>
        <p><strong>First year</strong><br/>A project based on traditional or digital media, cinema, video or visual arts.<br>
        </p>
        <p>
           <strong>Second year</strong><br/>An art project based on a digital approach.
        </p>
    </div>

   <h3>
     <span class="fr">Première année</span>
     <span class="en">First year</span>
   </h3>

   <div class="field">
      <input name="cProject1" ng-model="candidature.considered_project_1" hidden required />
      <div id="considered-project-1"
         ng-model="candidature.considered_project_1"
         name="cProject1"
         ngf-select="upload(candidature.considered_project_1, candidature, 'considered_project_1') " ngf-capture="'camera'"
         accept="application/pdf"
         ngf-accept="'application/pdf'"
         ngf-pattern="'application/pdf'"
         ngf-model-invalid="invalidFileProject1"
         required
         class="media-upload"
         ng-show='!candidature.considered_project_1'
         >
         <span class="upload-file" />
      </div>
      <div class="item" ng-if="candidature.considered_project_1" ng-init='RC_prj1=false'>
         <a class="link" target='_blank' href="{{candidature.considered_project_1}}"><img  /></a>
         <span class="name">{{candidature.considered_project_1.split('.').pop()}}</span>
         <span class="trash" ng-click="RC_prj1=true" />
         <div class="delete-pane" ng-show="RC_prj1">
            <span class="trash" ng-click="candidature.considered_project_1=''; RC_prj1=false" />
            <span class="name"><span class="fr">Supprimer</span><span class="en">Delete</span></span>
            <span class="cancel" ng-click="RC_prj1=false"></span>
         </div>
      </div>
      <div ng-show="invalidFileProject1.$errorMessages" ng-messages="invalidFileProject1.$errorMessages" class="help-block error">
         <div ng-message="pattern">
            <span class="fr">Format accepté : pdf</span>
            <span class="en">Accepted format : pdf</span>
         </div>
      </div>
      <div ng-show="form.cProject1.$touched && form.cProject1.$invalid" ng-messages="form.cProject1.$error" class="help-block error">
         <div ng-message="required">
            <span class="fr">Obligatoire</span>
            <span class="en">Required</span>
         </div>
         <div ng-message="considered_project_1">
            <span class="fr">Valeur éronnée</span>
            <span class="en">Value Error</span>
         </div>
      </div>
      <label class="topborder" for="considered-project-1">
      <span class="field-state required"></span>
      <span class="fr">Projet envisagé <br/>pour la première année (1 page)</span>
      <span class="en">PROJECT IMAGINED FOR THE FIRST YEAR (1 PAGE)</span>
      </label>
   </div>



   <div class="field">

     <div id="considered-referencies-project-1"
        ng-model="candidature.artistic_referencies_project_1"
        name="cARP1"
        ngf-select="upload(candidature.artistic_referencies_project_1, candidature, 'artistic_referencies_project_1') " ngf-capture="'camera'"
        accept="application/pdf"
        ngf-accept="'application/pdf'"
        ngf-pattern="'application/pdf'"
        ngf-model-invalid="invalidFileRefProject1"
        required
        class="media-upload"
        ng-show='!candidature.artistic_referencies_project_1'
        >
        <span class="upload-file" />
     </div>
     <input name="cRefProject1" ng-model="candidature.artistic_referencies_project_1" hidden required />
     <div class="item" ng-if="candidature.artistic_referencies_project_1" ng-init='RC_ref_prj1=false'>
        <a class="link" target='_blank' href="{{candidature.artistic_referencies_project_1}}"><img  /></a>
        <span class="name">{{candidature.artistic_referencies_project_1.split('.').pop()}}</span>
        <span class="trash" ng-click="RC_ref_prj1=true" />
        <div class="delete-pane" ng-show="RC_ref_prj1">
           <span class="trash" ng-click="candidature.artistic_referencies_project_1=''; RC_ref_prj1=false" />
           <span class="name"><span class="fr">Supprimer</span><span class="en">Delete</span></span>
           <span class="cancel" ng-click="RC_ref_prj1=false"></span>
        </div>
     </div>
     <div ng-show="invalidFileRefProject1.$errorMessages" ng-messages="invalidFileRefProject1.$errorMessages" class="help-block error">
        <div ng-message="pattern">
           <span class="fr">Format accepté : pdf</span>
           <span class="en">Accepted format : pdf</span>
        </div>
     </div>

      <div ng-show="form.cRefProject1.$touched && form.cRefProject1.$invalid" ng-messages="form.cRefProject1.$error" class="help-block error">
         <div ng-message="required">
            <span class="fr">Obligatoire</span>
            <span class="en">required</span>
         </div>
         <div ng-message="maxlength">
            <span class="fr">maxlength</span>
            <span class="en">maxlength</span>
         </div>
      </div>
      <label class="topborder" for="artistic-referencies-project-1">
            <span class="field-state required"></span>
            <span class="fr">Références artistiques (20 lignes, format pdf) </span>
            <span class="en">ARTISTIC REFERENCES (20 LINES, PDF FORMAT)</span>
      </label>
   </div>
   <div class="navigation">
      <a class="btn prev" ui-sref="candidature.motivations"><span class="fr">Retour</span><span class="en">Back</span></a>
      <a class="btn next" ui-sref="candidature.intentions-project-2"><span class="fr">Continuer</span><span class="en">Continue</span></a>
   </div>
</div>
