<div class="help-pane" ng-show='display_help' ng-init="show_help(false)">
   <span class="close" ng-click="show_help(false)">x</span>
   <h1><class class="fr">Aide</class><class class="en">Help</class></h1>
   <div class="fr">
        <p></p>
   </div>
   <div class="en">
      <p></p>
    </div>
</div>


<div class="">
   <h1>
      <span class="fr">Doctorat</span>
      <span class="en">Doctorate</span>
   </h1>
   <form name="form" ng-submit="form.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">
     <p>
       <span class='fr'>Le Fresnoy a inauguré en 2011 un programme doctoral, intitulé
         « <strong>doctorat en création artistique</strong> », s'adressant aux étudiants qui souhaiteraient conjuguer
         à leur activité artistique une dimension spéculative.
          Ce doctorat s‘effectue en cotutelle avec l’Université du Québec à Montréal, l'université Paris 8 ou avec l’Université de Lille.<br/>
          Comportant une formation théorique et méthodologique qui conduit, simultanément, à la création d'une œuvre
          et à une  thèse brève (~150 pages), cette <strong>option</strong> est proposée lors de la première année du
          cursus au Fresnoy et peut concerner chaque année un ou deux étudiants.<br/>
        </span>
         <span class='en'>
           In 2011 Le Fresnoy inaugurated a doctoral programme titled “<strong>doctorate in artistic creation</strong>” and designed
           for students wanting to combine their artistic activity with a speculative dimension.
           This doctorate is co-supervised with the University of Quebec in Montreal, the University Paris 8 and the Université de Lille.
           Comprising theoretical and methodological training and culminating, simultaneously, in both a short thesis
           (about 150 pages) and the creation of an artwork, this <strong>option</strong> is offered during the first year of the course
           at Le Fresnoy and is available for one or two students each year. <br/>
         </span>


           <div class="field">
              <input
                 type="checkbox"
                 id="doctorate-interest"
                 ng-model="candidature.doctorate_interest"
                 name="cBinome"
                 ng-change="candidature.patch({doctorate_interest: candidature.doctorate_interest})"
                 class="one check"
                 ng-value="true"
                 />
              <label for="doctorate-interest" class="check one pointer">
              <span class="fr">
              Le cursus doctoral du Fresnoy m'intéresse
              </span>
              <span class="en">
              I am interested in Le Fresnoy’s doctoral programme.
              </span>
              </label>

           </div>


     <hr/>
    </form>
   <div class="navigation">
      <a class="btn prev" ui-sref="candidature.intentions-project-2"><span class="fr">Retour</span><span class="en">Back</span></a>
      <a class="btn next" ui-sref="candidature.summary"><span class="fr">Continuer</span><span class="en">Continue</span></a>
   </div>
</div>
