<div class="help-pane" ng-show='display_help' ng-init="show_help(false)">
   <span class="close" ng-click="show_help(false)">x</span>
   <h1><class class="fr">Aide</class><class class="en">Help</class></h1>
   <div class="fr">
        <p></p>
   </div>
   <div class="en">
      <p></p>
    </div>
</div>


<div class="">
   <h1>
      <span class="fr">Doctorat</span>
      <span class="en">Doctorate</span>
   </h1>
   <form name="form" ng-submit="form.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">
     <p>
       <span class='fr'>
         Le Fresnoy a inauguré en 2011 un programme doctoral, intitulé  « <strong>doctorat en création artistique</strong> »,
         Ce programme s’adresse aux étudiants en cours de cursus au Fresnoy qui souhaitent conjuguer à leur activité artistique 
         une dimension spéculative.<br/><br/>
         Ce doctorat s’effectue en cotutelle avec l’Université du Québec à Montréal ou avec l’Université de Lille.<br/>
         Comportant une formation théorique et méthodologique qui conduit, simultanément, à la création d’une œuvre et à une thèse brève 
         (~150 pages), cette <strong>option</strong> est proposée à l’issue de la première année du cursus au Fresnoy.<br/>
         Elle peut concerner chaque année un ou deux étudiants.
        </span>
         <span class='en'>
           In 2011, Le Fresnoy inaugurated a doctoral program titled "<strong>Doctorate in Artistic Creation</strong>", 
           exclusively designed for current students at Le Fresnoy who wish to integrate their artistic practice 
           with a speculative dimension.<br/>
            This doctorate is jointly supervised with the University of Quebec in Montreal and the Université de Lille. <br/>
            It includes theoretical and methodological training, culminating in both a short thesis (about 150 pages) 
            and the creation of an artwork. This option becomes available at the end of the first year at Le Fresnoy.<br/>
            The program is open for one or two students each year.
         </span>


           <div class="field">
              <input
                 type="checkbox"
                 id="doctorate-interest"
                 ng-model="candidature.doctorate_interest"
                 name="cBinome"
                 ng-change="candidature.patch({doctorate_interest: candidature.doctorate_interest})"
                 class="one check"
                 ng-value="true"
                 />
              <label for="doctorate-interest" class="check one pointer">
              <span class="fr">
              Le cursus doctoral du Fresnoy m'intéresse
              </span>
              <span class="en">
              I am interested in Le Fresnoy’s doctoral programme.
              </span>
              </label>

           </div>


     <hr/>
    </form>
   <div class="navigation">
      <a class="btn prev" ui-sref="candidature.intentions-project-2"><span class="fr">Retour</span><span class="en">Back</span></a>
      <a class="btn next" ui-sref="candidature.summary"><span class="fr">Continuer</span><span class="en">Continue</span></a>
   </div>
</div>
