<div class="help-pane" ng-show='display_help' ng-init="show_help(false)">
   <span class="close" ng-click="show_help(false)">x</span>
   <h1><class class="fr">Aide</class><class class="en">Help</class></h1>
   <div class="fr">
     <p>Si vous n'avez pas reçu immédiatement un email qui notifie que vous avez bien envoyer votre dossier,
       vous devez
       <a ui-sref="candidature.finalization"> revalider </a> votre dossier ou
       <a href="mailto:selection@lefresnoy.net">nous envoyer un email</a></p>
   </div>
   <div class="en">
      <p>If you did not immediately receive an email notifying that you have sent your application,
        you have to
        <a ui-sref="candidature.finalization"> revalidate </a> your application or
        <a href="mailto:selection@lefresnoy.net"> send us an email </a> </p>
    </div>
</div>

<div class="confirmation">

  <div class="panel">
        <h1>
          <span class="fr">Procédure de sélection</span>
          <span class="en">Selection procedure</span>
        </h1>
        <p>
          <span class="fr">VOTRE CANDIDATURE A BIEN ÉTÉ TRANSMISE à l'équipe pédagogique du Fresnoy - Studio national.<br/>
          La référence de votre dossier est :</span>
          <span class="en">Your application has been sent to the teaching staff. <br/>
          Referenced by the number :</span>
        </p>
        <div style="text-align:center">
          <big><strong>
            {{ candidature.current_year_application_count}}
          </strong>
        </big>
        </div>

  </div>

  <div ng-if="!candidature.application_complete">

    <span class="fr">Nous procédons à sa vérification et nous vous enverrons un email de prise en compte de votre candidature sous 15 jours.</span>
    <span class="en">We check your submitted documents, a candidature's confirmation e-mail will be sent within 15 days.</span>

  </div>

  <br/>
  <div style="text-align:center"><strong>
      <p class="fr">Merci pour votre candidature !</p>
      <p class="en">Thank you for your application!</p>
    </strong>
  </div>

  <div ng-if="candidature.application_complete">
    <p></p>
    <span class="fr">Votre dossier de candidature a été vérifié et est transmise au jury</span>
    <span class="en">Your application material has benn validated and will be transferred to the jury </span>

  </div>
  <br/>
  <br/>
  
  <div class="fr">
    <h2>Entretiens</h2>
    <p>Les candidats présélectionnés sont conviés à un entretien avec un jury
      <strong>entre le
        {{ campaign.interviews_start_date | date : "EEEE dd MMMM" | translate_en_to_fr | lowercase }}
        et le
        {{ campaign.interviews_end_date | date : "EEEE dd MMMM yyyy" | translate_en_to_fr | lowercase }}</strong>.</p>

        <h2>Annonce des résultats</h2>
        <p>La liste des 24 candidats admis sera mise en ligne sur 
      <a href="https://www.lefresnoy.net/">lefresnoy.net</a>,
      le
      <strong>{{ campaign.selected_publish_date | date : "EEEE d MMMM yyyy à HH'h'" | translate_en_to_fr | lowercase }}</strong>. <br/>
      Les résultats peuvent être communiqués par téléphone le jour même de
       14h00 à 18h00 au <a href="tel:+33320283800">+33 (0) 3 20 28 38 00</a>.
      </p>
      <p>
        <u>Le jury statue à la majorité de ses membres et en cas de partage égal des voix, celle du président ou de la présidente 
          est prépondérante.<br/>
          Le jury est souverain et Le Fresnoy ne sera pas en mesure de répondre aux demandes de précision ou de commenter ses choix.</u>
      </p>
    <p>
    Les admissions sont valables pour l’année scolaire {{campaign.promotion.starting_year}}-{{campaign.promotion.starting_year+1}}. <br/>
    Aucun candidat admis ne peut prétendre différer son intégration, ni se prévaloir de son admission pour une autre année scolaire.</p>
  </div>
  <div class="en">
    <h2>Interviews</h2>
    <p>Shortlisted candidates will be invited for interview by the jury
      <strong>between
        {{ campaign.interviews_start_date | date : "EEEE MMMM d" }} to
        {{ campaign.interviews_end_date | date : "EEEE MMMM d, yyyy" }}</strong>.</p>
    <h2>Admitted applicants</h2>
    <p>The list of the 24 successful candidates will be posted up at Le Fresnoy and published on our website
      <a href="https://www.lefresnoy.net/">lefresnoy.net</a>
      on <strong>{{ campaign.selected_publish_date | date : "EEEE MMMM d, yyyy 'at' h a" }}</strong>. <br/>
      The results may also be given by telephone the same day by ringing from 2 pm to 6 pm at:
      <a href="tel:+33320283800">+33 (0) 3 20 28 38 00</a>.  <br/>
    </p>
    <p>
      <u>The jury rules by majority vote and in the case of a tie the president has the casting vote.<br/>
        The jury’s decision is final and Le Fresnoy cannot provide details or comments regarding its choices.
        </u>
    </p>
    <p>
      These results are only valid for the {{campaign.promotion.starting_year}}-{{campaign.promotion.starting_year+1}} term. 
      The admitted applicants may not postpone their date of admittance, nor expect to be
      admitted for a later school term.</p>

      
      
    </div>
    
    <!--<span class="" ng-bind-html='candidature_config.communication.poll[language].free_text' />-->
  </div>
