<div class="error-page-bug">
  <h1>Error :-{(  </h1>
  <div class="fr">
        <p>Une erreur s’est produite, veuillez essayer de vous
          <a class="pointer" ng-click="logout()" ui-sref="candidature.account.login">déconnecter</a>, vous
          reconnecter
          et de reprendre votre inscription.
        </p>
        <p>
          Vous pouvez aussi purger le cache de votre navigateur via la combinaison de touches :
          <br/>Ctrl + Maj + Suppr,<br/>
          <a target="_blank" href="https://fr.wikipedia.org/wiki/Aide:Purge_du_cache_du_navigateur">
            voir plus d'informations à ce sujet
          </a>
        </p>
        <p>
          Si ces anomalies persistent,
          <a href="https://goo.gl/forms/FEBMd0Idb5UqSPix2" target="_blank">
            donnez-nous plus d'informations</a>
          et <a href="mailto:polewebfresnoy@gmail.com" target="_blank">
            contactez nous</a> au plus vite
         </p>
  </div>
  <div class="en">
        <p>
          Something strange has happened, try to
          <a class="pointer" ng-click="logout()" ui-sref="candidature.account.login">disconnect</a>
          and go back to your application.
        </p>
        <p>You can also clear your browser's cache and cookies with this combination of keys:
          <br/>Ctrl + Maj + Suppr,<br/>
        </p>
        <p>
          If the problem persists, <a href="https://goo.gl/forms/FEBMd0Idb5UqSPix2" target="_blank">give us more information</a>
          and <a href="mailto:polewebfresnoy@gmail.com" target="_blank">contact us</a> quickly
        </p>
  </div>

  <div class="navigation">
       <a class="btn prev" ui-sref="candidature.account.login"><span class="fr">Retour</span><span class="en">Back</span></a>
  </div>

  </div>
