<div class="error-page-admin">
  <h1>/!\ Attention </h1>
  <p>Il semble que vous soyez un administrateur du système, pour des raisons évidentes vous ne pouvez pas candidater</p>
  <p>Si ce n'est pas le cas,
    <a class="pointer" ng-click="logout()">déconnectez vous</a> et reprenez votre inscription.
  </p>
  <p>
    Si rien ne change
    <a href="https://goo.gl/forms/FEBMd0Idb5UqSPix2" target="_blank">
      donnez nous plus d'informations,</a>
    et <a href="mailto:polewebfresnoy@gmail.com">
      contactez nous</a> en nous donnant votre identifiant, au plus vite
   </p>


   <div class="navigation">
           <a class="btn"
              ui-sref="candidature.account.login">
                 Retour
           </a>
   </div>








  </div>





</div>
