<div class="error-page-admin">
  <h1>/!\ Attention </h1>
  <p>En tant qu'administrateur du système vous ne pouvez pas candidater.</p>
  <p><a class="pointer" ng-click="logout('candidature.account.login')">Se déconnecter</a></p>
  <p><a href="https://goo.gl/forms/FEBMd0Idb5UqSPix2" target="_blank">Signaler un bug</a><br/>
    <a href="mailto:polewebfresnoy@gmail.com">Nous contacter</a>
   </p>


   <div class="navigation">
           <a class="btn"
              ui-sref="candidature.account.login">
                 Retour
           </a>
   </div>

 </div>

</div>
