<div class="expired-page">
  <h1>
    <span class="fr">Inscriptions closes&nbsp;!</span>
    <span class="en">End of application schedule ! </span>
  </h1>
  <p>
    <span class="fr">Les inscriptions
    pour l'année {{campain.promotion.starting_year}}/{{campain.promotion.starting_year+1}} sont closes.<br/>
Aucune modification ne peut être effectuée sur les dossiers déposés.<br/><br/>
Nous vous donnons rendez-vous l’année prochaine !
</span>
    <span class="en">The application phase
      for {{campain.promotion.starting_year}}/{{campain.promotion.starting_year+1}} is now closed.<br/>
You can no longer change your application.<br/><br/>
We look forward to hearing from you next year.
</span>
  </p>


   <div class="navigation">

   </div>
</div>
