<div class="expired-page">



  <h1>
    <span class="fr">Inscriptions closes !</span>
    <span class="en">End of application schedule ! </span>
  </h1>
  <p>
    <span class="fr">Les inscriptions pour l’année 2018/2019 sont closes.<br/>
Aucune modification ne peut être effectuée sur les dossiers déposés.<br/>
Nous vous donnons rendez-vous l’année prochaine !
</span>
    <span class="en">The application phase for 2018/2019 is now closed.<br/>
You can no longer change your application.<br/>
We look forward to hearing from you next year
</span>
  </p>


   <div class="navigation">
      <a class="btn prev" ui-sref="candidature.account.login"><span class="fr">Retour</span><span class="en">Back</span></a>
   </div>
</div>
