<div class="faq">

  <h1>FAQ</h1>
  <h3 class="pointer" ng-init="faq1 = false" ng-click="faq1 = !faq1">
    <span class="fr">Quelles données sont stockées, pendant combien de temps</span>
    <span class="en">What information is stored and for how long</span>
  </h3>
  <p ng-show="faq1">
    <span class="fr">
    Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par
    Le Fresnoy - Studio national pour la sélection des candidats<br/>
    Elles sont conservées pendant 5 ans et sont destinées aux services pédagogie, informatique, pôle web.<br/>
    Conformément à la loi <a href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee" target="_blank">« informatique et libertés »</a>,
    vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant :
    le service Informatique : <a href="mailto:rgpd@lefresnoy.net">rgpd@lefresnoy.net</a>
    </span>
    <span class="en">
      The information gathered on this form will be recorded in a data file by Le Fresnoy – Studio national and used
      for the selection of applicants. It is kept for five years and may be used by the school’s teaching,
      computing and web departments. In accordance with French law on
      <a href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee" target="_blank">
        “Information and Freedom”
      </a>
      , you have the right to access your personal data and have it corrected by contacting the IT personnel at:
      <a href="mailto:rgpd@lefresnoy.net">rgpd@lefresnoy.net</a>
  </p>

  <h3 class="hidden pointer" ng-init="faq2 = false" ng-click="faq2 = !faq2">
    <span class="fr">Je n'arrive pas à mettre mon film en ligne</span>
    <span class="en">I can't upload my film</span>
  </h3>
  <p ng-show="faq2">à compléter</p>

  <h3 class="pointer" ng-init="faq3 = false" ng-click="faq3 = !faq3">
    <span class="fr">Je n'ai pas reçu d'e-mail de confirmation.</span>
    <span class="en">I did not receive the confirmation email.</span>
  </h3>
  <p ng-show="faq3">
    <span class="fr">Tous les e-mails sont envoyés instantanément, si vous ne recevez pas d’e-mail de notre part,
      merci de vérifier vos spam, ou de nous écrire à
      <br/>selection-at-lefresnoy.net</span>
    <span class="en">Please check your spam folder.<br/>
      If you still can’t find our email, please contact us :
      <br/><a href="selection@lefresnoy.net">selection@lefresnoy.net</a>.</span>
  </p>

   <div class="navigation">
      <a class="btn prev" ui-sref="candidature.account.login"><span class="fr">Retour</span><span class="en">Back</span></a>
   </div>
</div>
