<div class="guide">
  <div class="help-pane" ng-show='display_help' ng-init="show_help(false)">
     <span class="close" ng-click="show_help(false)">x</span>
     <h1>Aide</h1>
     <div class="fr">
        <p>Aide contextualisée</p>
     </div>
     <div class="en">
        <p>Help exemple</p>
     </div>
  </div>

  <h1>
    <span class="fr">Notice d'utilisation</span>
    <span class="en">Users guide</span></h1>

  <p>
    <span class="fr">Sur toutes les pages, une aide contextuelle est disponible en cliquant sur l'élément du menu "Aide" en haut de cette page</span>
    <span class="en">On all the pages, assistance is available by clicking on the menu "Help" at the top of the page.</span>

  </p>

  <hr/>

  <div class="data-writing" style="position:static">
    <span class="fr">Données enregistrés</span><span class="en">Recorded information</span></div>
  <h2>
    <span class="fr">Données</span>
    <span class="en">Data</span>
    </h2>

  <p>
    <span class="fr">Vos données sont enregistrées après chaque modification, il n'est pas nécessaire de valider.</span>
    <span class="en">Your information is recorded after each change, it is not necessary to validate it.</span>
  </p>
  <div class="bg-grey">
    <p class="fr">
      Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par
      Le Fresnoy - Studio national pour la sélection des candidats.<br/>
  Elles sont conservées pendant 5 ans et sont destinées aux services pédagogie, informatique, pôle web.<br/>
  Conformément à la loi <a href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee" target="_blank">« informatique et libertés »</a>,
  vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant le service Informatique : <a href="mailto:rgpd@lefresnoy.net">rgpd@lefresnoy.net</a>.
    </p>
    <p class="en">
      The information gathered on this form will be recorded in a data file by Le Fresnoy – Studio national and used
      for the selection of applicants. It is kept for five years and may be used by the school’s teaching,
      computing and web departments. In accordance with French law on
      <a href="https://www.cnil.fr/fr/loi-78-17-du-6-janvier-1978-modifiee" target="_blank">
        “Information and Freedom”</a>, you have the right to access your personal data and have it corrected by contacting the IT personnel at:
      <a href="mailto:rgpd@lefresnoy.net">rgpd@lefresnoy.net</a>
    </p>
 </div>

  <hr/>
  <h2>
    <span class="fr">Couleurs de champs</span>
    <span class="en">Colours of the forms fields</span>
    </h2>
  <label for="family-status">
    <span class="field-state invalid"></span>
    <span class="fr">Données non valides</span>
    <span class="en">Data not valid</span>
  </label>
  <label for="family-status">
    <span class="field-state valid"></span>
    <span class="fr">Données validées</span>
    <span class="en">Data valid</span>
  </label>
  <label for="family-status">
    <span class="field-state required"></span>
    <span class="fr">Donnée requises</span>
    <span class="en">Data required</span>
  </label>

  <hr/>
  <h2>
    <span class="fr">Fichiers</span>
    <span class="en">Files</span>
    </h2>






  <p>
    <span class="fr">Le symbole suivant vous invite à mettre en ligne un fichier.</span>
    <span class="en">The following symbol invites you to upload a file.</span>
  </p>
  <div class="media-upload" ><span class="upload-file" /></div>
  <p>
    <span class="fr">Types de fichiers acceptés : </span>
    <span class="en">Types of files accepted: </span>
    </p>
  <ul><li>
    <span class="fr">images au formats Jpg, Png, Gif</span>
    <span class="en">images in Jpg, Png, Gif format</span>
    </li>
    <li>
      <span class="fr">documents au format Pdf</span>
      <span class="en">documents in Pdf format</span>
      </li>
    <li>
      <span class="fr">vidéo au tous formats</span>
      <span class="en">videos of all formats</span>
    </li>
  </ul>
  <hr/>
  <h2>
    <span class="fr">Suppression</span>
    <span class="en">Delete</span>
    </h2>
  <p>
    <span class="fr">Pour supprimer une information, cliquer cet icône :</span>
    <span class="en">To delete information, click on the icon.</span>
  </p>
  <div class="item">
    <span class="name" />
    <span class="trash" />
  </div>
  <br/>
  <p>
    <span class="fr">Confirmer en répétant l'opération, annuler en appuyant sur la croix</span>
    <span class="en">Confirm by repeating the operation, cancel by pressing on the cross</span>
  </p>
  <div class="item">
    <br/>
     <div class="delete-pane">
        <span class="trash" ></span>
        <span class="name"><span class="fr">Supprimer</span><span class="en">Delete</span></span>
        <span class="cancel"></span>
     </div>
  </div>







   <div class="navigation">
      <a class="btn prev" ui-sref="candidature.account.login"><span class="fr">Retour</span><span class="en">Back</span></a>
   </div>

</div>
