<div class="content">

        <h1>
          Canditdature
        </h1>

            <form name="form" ng-submit="form.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">

              LANGUAGE

                <a class="btn" ui-sref="candidature.etat-civil-adress">
                  Retour
                </a>

                <a ng-class="{ 'has-error': form.$invalid }" class="btn" ui-sref="candidature.etat-civil-photo">
                  Continue
                </a>


        </form>

</div>
