<div class="content">

        <h1>
          Canditdature
        </h1>

            <form name="form" ng-submit="form.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">



                <label for="homeland_country">
                  <span class="fr">Adresse</span>
                  <span class="en">Adress</span>
                </label>
                <textarea
                   name="uHomelandAdress"
                   ng-model="adress.street"
                   id="homeland_country"
                   placeholder="23 rue de J. KENNEDY
APPT 12"
                  ng-change="save(user)"
                  ng-model-options='{ debounce: 1000 }'
                  required
                /></textarea>
                <div ng-show="form.$submitted || form.uHomelandAdress.$touched">
                     <span ng-show="form.uHomelandAdress.$error.required">Requis</span>
                </div>




                <label for="homeland_zip">
                  <span class="fr">Code postal</span>
                  <span class="en">Zip code</span>
                </label>
                <input type="number"
                   name="uHomelandZip"
                   id="homeland_zip"
                   ng-model="adress.zip"
                   ng-model-options='{ debounce: 1000 }'
                   ng-change="save(user)"
                   required
                />
                <div ng-show="form.$submitted || form.uHomelandZip.$touched">
                     <span ng-show="form.uHomelandZip.$error.required">Requis</span>
                </div>



                <label for="homeland_town">
                  <span class="fr">Ville</span>
                  <span class="en">City</span>
                </label>
                <input type="text"
                   name="uHomelandCity"
                   id="homeland_city"
                   ng-model="adress.city"
                   ng-change="save(user)"
                   ng-model-options='{ debounce: 1000 }'
                   required
                />
                <div ng-show="form.$submitted || form.uHomelandCity.$touched">
                     <span ng-show="form.uHomelandCity.$error.required">Requis</span>
                </div>



                  <label for="homeland_country">
                    <span class="fr">Pays d'origine</span>
                    <span class="en">Homeland Country</span>
                  </label>
                  <select ng-model="user.profile.homeland_country"
                          id="homeland_country"
                          name="uHomelandCountry"
                          ng-change="save(user)"
                          required
                          >
                    <option value="">-- Select a Country --</option>
                    <option ng-repeat="(country,code) in countries" value="{{code}}">{{country}}</option>
                  </select>
                  <div ng-show="form.$submitted || form.uHomelandCountry.$touched">
                       <span ng-show="form.uHomelandCountry.$error.required">Requis</span>
                  </div>


                  <label>
                    <span class="fr">Numéro de téléphone</span>
                    <span class="en">Phone number</span>
                  </label>
                  <input
                    type="text"
                    ng-change="save(user)"
                    placeholder="+33-320283982"
                    name="uHomelandPhone"
                    ng-pattern="phone_pattern"
                    ng-model="user.profile.homeland_phone"
                    ng-minlength="10" ng-maxlength="15" required
                  />
                  <div ng-show="form.$submitted || form.uHomelandPhone.$touched">
                    <span class="block" ng-show="form.uHomelandPhone.$error.required">
                      <span class="fr">Champ obligatoire</span>
                      <span class="en">Required</span>
                    </span>
                    <span class="block" ng-show="form.uHomelandPhone.$error.minlength">
                        <span class="fr">Au moin 10 caractères</span>
                        <span class="en">Phone no not less that 10 char.</span>
                    </span>
                    <span class="block" ng-show="form.uHomelandPhone.$error.maxlength">Phone no not more than 11 char.</span>
                    <span class="block" ng-show="form.uHomelandPhone.$error.pattern">Le numéro doit être du type [+33-123456789]</span>
                  </div>









                <a class="btn" ui-sref="candidature.etat-civil-1">
                  Retour
                </a>

                <a ng-class="{ 'has-error': form.$invalid }" class="btn" ui-sref="candidature.etat-civil-language">
                  Continue
                </a>


        </form>

</div>
