<h1>
  Inscription
</h1>
<div >
  <form name="form" class="css-form" novalidate>

    <div class="control-group" ng-class="{error: myForm.name.$invalid}">

        <label>Nom / Name</label>
        <input type="text" ng-model="user.name" name="uName" required />
        <div ng-show="form.$submitted || form.uName.$touched">
          <span ng-show="form.uName.$error.required">Tell us your name.</span>
        </div>

        <label>Prénom / First Name</label>
        <input type="text" ng-model="user.firstname" name="uFirstName" required />
        <div ng-show="form.$submitted || form.uName.$touched">
          <span ng-show="form.uFirstName.$error.required">Tell us your first-name.</span>
        </div>

        <label>E-mail</label>
        <input type="email" ng-model="user.email" name="uEmail" required />
        <div ng-show="form.$submitted || form.uEmail.$touched">
          <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
          <span ng-show="form.uEmail.$error.email">E-mail non valid / This is not a valid email.</span>
        </div>

        <label>Genre</label>
        <select ng-model="user.gender" name="uGender" required>
          <option value="">---Choisir / Please select---</option> <!-- not selected / blank option -->
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="T">Transgender</option>
          <option value="O">Other</option>
        </select>
        <div ng-show="form.$submitted || form.uGender.$touched">
          <span ng-show="form.uGender.$error.required">Tell us your gender.</span>
          <span ng-show="form.uGender.$error.gender"> Value error </span>
        </div>


        <label>Date de naissance / Birthdate</label>
        <input type="date" ng-model="user.birthdate" name="uBirthDate" required
             placeholder="{{birthdateMin | date:'dd-MM-yyyy'}}"
             max="{{birthdateMin | date:'yyyy-MM-dd'}}" />
        <div ng-show="form.$submitted || form.uBirthDate.$touched">
           <span ng-show="form.uBirthDate.$error.required">Tell us your Birthday.</span>
           <span ng-show="form.uBirthDate.$error.max"> Il faut être nés avant le {{birthdateMin | date:'dd MMMM yyyy'}} </span>
        </div>


        <label>Pays de naissance / Birth Place</label>
        <select ng-model="user.birthcountry" name="uBirthCountry" required>
          <option value="">-- Select a Country --</option>
          <option ng-repeat="(country,code) in countries" value="{{code}}">{{country}}</option>
        </select>

        <div ng-show="form.$submitted || form.uBirthCountry.$touched">
           <span ng-show="form.uBirthCountry.$error.required"> Tell us your Birth Place </span>
           <span ng-show="form.uBirthCountry.$error.birthcountry">This must be a country code!</span>
        </div>


        <label>Adresse pays d'origine / Homeland Adresse</label>
        <input type="text" ng-model="user.homeland_adress" name="uHomelandAdress" />

        <div ng-show="user.homeland_adress">
          <blockquote>
            <label> > Pays  / Homeland  Country</label>
            <select ng-model="user.homeland_country" name="uHomelandCountry">
              <option value="">-- Select a Country --</option>
              <option ng-repeat="(country,code) in countries" value="{{code}}">{{country}}</option>
            </select>

            <div ng-show="form.$submitted || form.uHomelandCountry.$touched">
               <span ng-show="form.uHomelandCountry.$error.homeland_country">This must be a country code!</span>
            </div>
          </blockquote>
        </div>


        <label>Adresse pays de résidence / Residence Adresse</label>
        <input type="text" ng-model="user.residence_address" name="uResidenceAdress" />

        <div ng-show="user.residence_address">
          <blockquote>
            <label> > Pays  / Residence  Country</label>
            <select ng-model="user.residence_country" name="uResidenceCountry">
              <option value="">-- Select a Country --</option>
              <option ng-repeat="(country,code) in countries" value="{{code}}">{{country}}</option>
            </select>

            <div ng-show="form.$submitted || form.uResidenceCountry.$touched">
               <span ng-show="form.uResidenceCountry.$error.residence_adress">This must be a country code!</span>
            </div>
          </blockquote>
        </div>






        <input type="submit" ng-click="update(user,form)" value="Save" />

    </div>
  </form>
  <div ng-show="form.$valid">
    <pre ng-repeat="(type,info) in infos">
      {{type}} = {{info | json}}
    </pre>

  </div>
</div>
