<div class="row">
  <div class="col-md-6 col-sd-12">
                <h1>
                  Inscription
                </h1>

                <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

                <div ng-controller="AuthForm">
                    <ng-include ng-if="!isAuthenticated" src="'views/partials/auth-form.html'" ></ng-include>
                    <div ng-if="isAuthenticated">
                      <span> Vous êtes identifiés, vous pouvez vous inscrire : </span>
                      <br/>
                      <a ui-sref="candidature-form"> > Inscription </a>
                      <button ng-click="logout()">Logout</button>
                    </div>
                </div>

                <div >
                  <form name="form" class="css-form" novalidate enctype="multipart/form-data">

                    <div class="control-group" ng-class="{error: myForm.name.$invalid}">

                        <label>Username</label>
                        <input type="text" ng-model="user.username" name="uUserName" required />
                        <div ng-show="form.$submitted || form.uUserName.$touched">
                          <span ng-show="form.uUserName.$error.required">Tell us your name.</span>
                        </div>


                        <label>Nom / Name</label>
                        <input type="text" ng-model="user.last_name" name="uName" required />
                        <div ng-show="form.$submitted || form.uName.$touched">
                          <span ng-show="form.uName.$error.required">Tell us your name.</span>
                        </div>

                        <label>Prénom / First Name</label>
                        <input type="text" ng-model="user.first_name" name="uFirstName" required />
                        <div ng-show="form.$submitted || form.uFirstName.$touched">
                          <span ng-show="form.uFirstName.$error.required">Tell us your first-name.</span>
                        </div>

                        <label>E-mail</label>
                        <input type="email" ng-model="user.email" name="uEmail" required />
                        <div ng-show="form.$submitted || form.uEmail.$touched">
                          <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
                          <span ng-show="form.uEmail.$error.email">E-mail non valid / This is not a valid email.</span>
                        </div>

                        <label>Pseudo / Nickname</label>
                        <input type="text" ng-model="artist.nickname" name="aNickname" />
                        </div>

                        <label>Photo</label>
                        <button type="file" ng-model="user.profile.photo" name="uPhoto"
                          ngf-select="upload(user.profile.photo, user.profile.url)"
                          accept="image/*" ngf-max-size="10MB">
                          Choisir une photo</button>
                          <span ng-show="form.uPhoto.$valid">
                            <span ng-show="upload_percentage < 0"> {{ upload_percentage }} </span>
                            <span class="student-card" ng-show="form.uPhoto.$valid">
                              <br>
                              <img class="caption" ngf-thumbnail="user.profile.photo || '/thumb.jpg'">
                            </span>

                        </span>
                        <div ng-show="form.$submitted || form.uPhoto.$touched">
                            <span ng-show="form.uPhoto.$error.required"> Give us a photo please</span>
                            <span ng-show="form.uPhoto.$error.photo"> Value error </span>
                        </div>



                        <label>Genre</label>
                        <select ng-model="user.profile.gender" name="uGender" required>
                          <option value="">---Choisir / Please select---</option> <!-- not selected / blank option -->
                          <option value="M">Male</option>
                          <option value="F">Female</option>
                          <option value="T">Transgender</option>
                          <option value="O">Other</option>
                        </select>
                        <div ng-show="form.$submitted || form.uGender.$touched">
                          <span ng-show="form.uGender.$error.required">Tell us your gender.</span>
                          <span ng-show="form.uGender.$error.gender"> Value error </span>
                        </div>


                        <label>Date de naissance / Birthdate</label>
                        <input type="date" ng-model="profile.birthdate" name="uBirthDate" required
                             placeholder="{{birthdateMin | date:'dd-MM-yyyy'}}"
                             min="{{birthdateMin | date:'yyyy-MM-dd'}}"
                             max="{{birthdateMax | date:'yyyy-MM-dd'}}" />
                        <div ng-show="form.$submitted || form.uBirthDate.$touched">
                           <span ng-show="form.uBirthDate.$error.required">Tell us your Birthday.</span>
                           <span ng-show="form.uBirthDate.$error.min"> Il faut avoir moins de 35 ans (être nés avant  le {{birthdateMax | date:'dd MMMM yyyy'}}) </span>
                           <span ng-show="form.uBirthDate.$error.max"> Il faut être majeur (nés après le {{birthdateMax | date:'dd MMMM yyyy'}}) </span>
                        </div>


                        <label>Pays de naissance / Birth Place</label>
                        <select ng-model="user.profile.birthcountry" name="uBirthCountry" required>
                          <option value="">-- Select a Country --</option>
                          <option ng-repeat="(country,code) in countries" value="{{code}}">{{country}}</option>
                        </select>

                        <div ng-show="form.$submitted || form.uBirthCountry.$touched">
                           <span ng-show="form.uBirthCountry.$error.required"> Tell us your Birth Place </span>
                           <span ng-show="form.uBirthCountry.$error.birthcountry">This must be a country code!</span>
                        </div>


                        <label>Adresse du pays d'origine / Homeland Adresse</label>
                        <input type="text"
                    		   ng-places-autocomplete
                    		   pa-options="paOptions"
                    		   pa-on-place-ready="placesCallback"
                    		   pa-trigger="paTrigger"
                           name="uHomelandAdress"
                           ng-model="user.profile.homeland_adress"
                  			/>
                        <div ng-show="user.profile.homeland_adress">
                          <blockquote>
                            <label> > Pays  / Homeland  Country</label>
                            <select ng-model="user.profile.homeland_country" name="uHomelandCountry">
                              <option value="">-- Select a Country --</option>
                              <option ng-repeat="(country,code) in countries" value="{{code}}">{{country}}</option>
                            </select>

                            <div ng-show="form.$submitted || form.uHomelandCountry.$touched">
                               <span ng-show="form.uHomelandCountry.$error.homeland_country">This must be a country code!</span>
                            </div>
                          </blockquote>
                        </div>


                        <label>Adresse du pays de résidence / Residence Adresse</label>

                        <input type="text"
                    		   ng-places-autocomplete
                    		   pa-options="paOptions"
                    		   pa-on-place-ready="placesCallback"
                    		   pa-trigger="paTrigger"
                           name="uResidenceAdress"
                           ng-model="user.profile.residence_address"
                  			/>
                        <div ng-show="user.profile.residence_address">
                          <blockquote>
                            <label> > Pays  / Residence  Country</label>
                            <select ng-model="user.profile.residence_country" name="uResidenceCountry">
                              <option value="">-- Select a Country --</option>
                              <option ng-repeat="(country,code) in countries" value="{{code}}">{{country}}</option>
                            </select>

                            <div ng-show="form.$submitted || form.uResidenceCountry.$touched">
                               <span ng-show="form.uResidenceCountry.$error.residence_adress">This must be a country code!</span>
                            </div>
                          </blockquote>
                        </div>


                      <label>Numéro de téléphone pays d'origine   / Homeland Phone number</label>
                      <input type="text" placeholder="+33-320283982" name="uHomelandPhone"
                        ng-pattern="phone_pattern" ng-model="user.profile.homeland_phone"
                        ng-minlength="10" ng-maxlength="15" required
                      />
                      <div ng-show="form.$submitted || form.uResidenceCountry.$touched">
                        <span class="block" ng-show="form.uHomelandPhone.$error.required">Required!</span>
                        <span class="block" ng-show="form.uHomelandPhone.$error.minlength">Phone no not less that 10 char.</span>
                        <span class="block" ng-show="form.uHomelandPhone.$error.maxlength">Phone no not more than 11 char.</span>
                        <span class="block" ng-show="form.uHomelandPhone.$error.pattern">Please match pattern [+33-123456789]</span>
                      </div>



                      <label>Numéro de téléphone Résidence / Residence Phone number</label>
                      <input type="text" placeholder="+33-320283982" name="uResidencePhone"
                        ng-pattern="phone_pattern" ng-model="user.profile.residence_phone"
                        ng-minlength="10" ng-maxlength="15" required
                      />
                      <div ng-show="form.$submitted || form.uResidencePhone.$touched">
                        <span class="block" ng-show="form.uResidencePhone.$error.required">Required!</span>
                        <span class="block" ng-show="form.uResidencePhone.$error.minlength">Phone no not less that 10 char.</span>
                        <span class="block" ng-show="form.uResidencePhone.$error.maxlength">Phone no not more than 11 char.</span>
                        <span class="block" ng-show="form.uResidencePhone.$error.pattern">Please match pattern [+33-123456789]</span>
                      </div>


                      <label>Numéro de sécurité sociale / Insurance number</label>
                      <input type="text" placeholder="" name="uInsuranceNumber" ng-model="user.profile.insurance_number" required />
                      <div ng-show="form.$submitted || form.uInsuranceNumber.$touched">
                        <span class="block" ng-show="form.uInsuranceNumber.$error.required">Required!</span>
                      </div>

                      <label>Situation de famille / Family status</label>
                      <select ng-model="user.profile.family_status" name="uFamilyStatus" required>
                        <option value="">---------</option>
                        <option value="S" selected="selected">Single</option>
                        <option value="E">Engaged</option>
                        <option value="M">Married</option>
                        <option value="D">Divorced</option>
                        <option value="W">Widowed</option>
                        <option value="C">Civil Union</option>
                      </select>
                      <div ng-show="form.$submitted || form.uFamilyStatus.$touched">
                        <span ng-show="form.uFamilyStatus.$error.required">Tell us your Family status.</span>
                        <span ng-show="form.uFamilyStatus.$error.gender"> Value error </span>
                      </div>

                      <label>Langue maternelle / Mother tongue</label>
                      <select ng-model="user.profile.mother_tongue" name="uMotherTongue" required>
                        <option value="">-- Select a Language --</option>
                        <option ng-repeat="(name, item) in LANGUAGES" value="{{name}}">{{item.englishName}} ({{name}})</option>
                      </select>
                      <div ng-show="form.$submitted || form.uMotherTongue.$touched">
                        <span ng-show="form.uFamilyStatus.$error.required">Tell us your Mother language.</span>
                        <span ng-show="form.uFamilyStatus.$error.gender"> Value error </span>
                      </div>

                      <label>Autres lmangues / Other tongue</label>
                      <select ng-model="user.profile.other_language" name="uOtherLanguage" multiple >
                        <option ng-repeat="(name, item) in LANGUAGES" value="{{name}}">{{item.englishName}} ({{name}})</option>
                      </select>

                      <label>Cursus</label>
                      <div>
                        <div ng-repeat="(index,item) in cursus.items" ng-model="cursus.items" name="uCursus"  >
                          <select ng-model="cursus.items.items[index].year"  >
                            <option value="">-- Select Year --</option>
                            <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                          </select>
                          <input type="text" placeholder="Diplome " ng-model="cursus.items[index].infos" >
                          <button type="file" ng-model="cursus.items[index].photo"
                            ngf-select="upload(cursus.items[index].photo)"
                            accept="image/*" ngf-max-size="10MB" >
                            justificatif</button>
                            <span class="student-card" >
                              <span ng-show="upload_percentage < 100 "> {{ upload_percentage }} </span>
                                <img class="caption" ng-if="cursus.items[index].photo" ngf-thumbnail="cursus.items[index].photo">
                            </span>

                          </span>
                          <div class="inline"  ng-show="form.$submitted || user.cursus[index].$touched">
                              <span ng-show="cursus[index].$error.required"> Give us a photo please</span>
                              <span ng-show="cursus[index].$error.photo"> Value error </span>
                          </div>

                          <button class="inline" ng-click="removeItem(cursus.items,index)"> - </button>
                        </div>
                      </div>
                      <button ng-click="addItem(cursus.items)"> + </button>

                      <label> Réseaux sociaux / Social Network</label>
                      <input type="url" placeholder="Twitter Account" name="aTwitter" ng-model="artist.social.twitter" />
                      <input type="url" placeholder="Facebook Account" name="aFacebook" ng-model="artist.social.facebook" />
                      <input type="url" placeholder="Website" name="aWebsite" ng-model="artist.social.website" />


                      <label>Première inscription au Fresnoy </label>
                      <input type="radio" ng-model="application.first_time" name="saFirstTime" value="true" required /> Oui / yes
                      <br/>
                      <input type="radio" ng-model="application.first_time" name="saFirstTime" value="false" required  /> Non / No
                      <div class="inline" ng-show="application.first_time=='false'">
                        <select ng-model="application.last_application_year"  name="saLastApplication" ng-required="application.first_time=='false'"  >
                          <option value="">-- Select Year --</option>
                          <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                        </select>
                        <div class="inline" ng-show="form.$submitted || form.saLastApplication.$touched">
                            <span ng-show="form.saLastApplication.$error.required"> Give us the year</span>
                            <span ng-show="form.saLastApplication.$error.value"> Give us a year </span>
                        </div>
                      </div>

                      <label>Oeuvres / artworks </label>
                      <div>
                        <div ng-repeat="(index,item) in artwork_galleries.items" ng-model="artwork_galleries.items" name="saAwGalleries"  >

                          <input type="text" placeholder="Nom de l'oeuvre " ng-model="item.title" />
                          <textarea placeholder="Description complète" ng-model="item.infos" />

                          <div class="inline" ng-repeat="(mediaIndex,mediaItem) in item.medias">

                            <button ng-if="!item.medias[mediaIndex].media"  type="file"
                              ngf-select="upload(item.medias[mediaIndex].media)" name="saMedia" ng-model="item.medias[mediaIndex].media"
                              accept="image/*" ngf-max-size="10MB">
                              Média
                            </button>
                            <span class="student-card" >
                              <span ng-show="upload_percentage < 100 "> {{ upload_percentage }} </span>
                                <img class="caption"  ngf-thumbnail="item.medias[mediaIndex].media">
                            </span>

                          </div>

                          <div ngf-drop ngf-select ng-model="item.medias.media" class="inline drop-box"
                            ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                            accept="image/*,application/pdf"
                            ngf-pattern="'image/*,application/pdf'">Drop pdfs or images here or click to upload</div>
                            <div ngf-no-file-drop>-------------------------------<br/>
                              File Drag/Drop is not supported for this browser
                            <br/> ------------------------------------------------</div>
                            <ul class="student-card" >
                                <li class="inline" ng-repeat="f in item.medias.media" style="font:smaller">
                                  <img class="caption"  ngf-thumbnail="f">
                                </li>
                          </ul>

                          <button ng-click="addItem(item.medias)">Ajouter une image</button>

                          <button ng-click="removeItem(artwork_galleries.items,index)"> supprimer cette oeuvre </button>
                        </div>
                      </div>
                      <button ng-click="addItem(artwork_galleries.items)">Ajouter une oeuvre</button>


                      <label>Entretiens</label>
                      <input type="checkbox" ng-model="application.remote_interview"  /> Je ne peux pas etre présent le 31 avril 2017
                      <div ng-show="application.remote_interview">
                        <div>Je passe l'entretient par </div>
                          <input type="text" placeholder="skype, facebook, appear in, " ng-model="application.remote_interview_type" />
                          <input type="text" placeholder="identifiant" ng-model="application.remote_interview_info" />
                      </div>
                      <label>Envois d'éléments par courrier </label>
                      <input type="checkbox" ng-model="application.asynchronous_element" />
                      <div class="inline" ng-show="application.asynchronous_element">

                          <textarea placeholder="Description de l'envoie" ng-model="application.asynchronous_element_description" />

                          <input type="checkbox" ng-model="application.asynchronous_element" readonly  /> Item non reçu

                      </div>

                <label>Remarques </label>
                <textarea placeholder="remarques générales " ng-model="application.remark" />

                <input type="submit" ng-click="create(form)" value="Create" />

              </div>
            </form>
    </div>

    <div class="col-md-6 visible-md" ui-view="application_breadcrumb_view"></div>

</div>
