

  <div class="content">
        <h1>
                Bienvenue
        </h1>
        <h2>
          Modalités d’inscription au concours
        </h2>
        <p>
          La procédure de sélection est ouverte à tous les
          candidats, sans distinction de sexe ou de nationalité,
          âgés de 35 ans au plus au 1er janvier de l’année
          du concours (nés après le 31 décembre 1980).
        </p>
        <p>
          Les candidats doivent pouvoir justifier :
          • soit du Baccalauréat (ou équivalence reconnue)
          et 5 années d’études attestées par un titre ou diplôme,
          • soit du Baccalauréat (ou équivalence reconnue) et
          7 années d’expérience artistique ou professionnelle,
          et sous réserve de joindre au dossier d’inscription
          administrative un argumentaire, une page maximum,
          précisant en quoi leur expérience les a préparés
          au cursus du Fresnoy.</p>
          <p>
          Les candidatures présentées sous cette deuxième
          condition auront fait l’objet d’un examen par une
          commission spéciale, apte à les évaluer et à les
          valider, et dont les décisions sont sans appel.
          La participation à la procédure de sélection est
          gratuite. Les frais de voyage et de séjour des
          candidats pour les épreuves d’admission sont
          à la charge des candidats.
        </p>

        <a class="btn" ui-sref="candidature.account.login" ng-click="setLang('fr')">
              Continuer en Français
        </a>
        <a class="btn" ui-sref="candidature.account.login" ng-click="setLang('en')">
              Continue in English
        </a>
    </div>
