    <h1>
              Confirmation
    </h1>


                Merci de confimer la
            création de votre compte
            en cliquant sur le lien de
            confimation envoyé sur
            l’email


      <span class="">{{user.email}}</span>


        <div class="navigation">
          <a class="btn" ui-sref="candidature.step1">
            Retour
          </a>
          <a class="btn desabled"  ng-show="!isAuthenticated" class="btn">
            Continue
          </a>
          <a class="btn"  ng-show="isAuthenticated" class="btn" ng-click="create(form)" ui-sref="candidature.user-profile">
            Continue
          </a>
        </div>
