<div class="content">

        <h1>
          Canditdature
        </h1>

            <form name="form" ng-submit="form.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">

              <p class="fr">

                À l’issue de la présélection, 65 candidats au
maximum sont invités à se présenter aux épreuves
d’admission. Les épreuves de la sélection finale
se déroulent au Fresnoy - Studio national.<br />
Les candidats présélectionnés sont conviés à un
entretien avec un jury entre le lundi 4 et le vendredi
8 juillet 2016. <br />
Les candidats hors continent européen, ont la
possibilité de passer l’entretien oral au Fresnoy
ou par skype (Le Fresnoy ne peut être tenu pour
responsable en cas de problème technique).<br />
Le ou la candidat(e) présente et commente son
travail personnel et s’entretient avec les membres
du jury de ses projets et motivations. Le jury est
composé de représentants de disciplines artistiques
différentes et du directeur du Fresnoy. L’entretien
dure 40 minutes.

<br/>
<br/>


              </p>
              <p class="en">

                At the end of the pre-selection, up to 65 applicants
will be invited to attend interviews  at Le Fresnoy.
The final selection takes place at Le Fresnoy.
Shortlisted candidates will be invited for interview
by the jury between Monday July 4, and Friday
July 8, 2016.<br />
Applicants from outside Europe can take the oral
interview on Skype (note that Le Fresnoy cannot
be held responsible in the case of any technical
incident).<br />
 Applicants will be invited to present
their work and then discuss their project and
expectations. The jury is made up of people from
different artistic backgrounds, the Inspecteur
Général à la Création Artistique (or somebody
representing him), and the director of Le Fresnoy.
Each interview lasts 40 minutes.
<br/>
<br/>

              </p>

          <div>
              <label for="remote-interview">
                <span class="fr">
                  Je me rendrai disponible pour venir à Tourcoing :
                </span>
                <span class="en">
                  I can go to Le Fresnoy for interviews :
                </span>
              </label>
              <input type="radio"
                id="remote-interview"
                ng-model="candidature.remote_interview"
                ng-change="candidature.save()"
                name="cInterview"
                ng-value="true"
                required
              />
              <span class="fr">Oui</span>
              <span class="en">Ok</span>
              <input type="radio"
                id="remote-interview"
                ng-model="candidature.remote_interview"
                ng-change="candidature.save()"
                name="cInterview"
                ng-value="false"
              />
              <span class="fr">Non désolé</span>
              <span class="en">No, sorry</span>


              <div class="" ng-if="!candidature.remote_interview">

                <label>
                  <span class="fr">Entretien via</span>
                  <span class="en">Remote interview Type</span>
                </label>
                <select id="remote_interview_type"
                  ng-change="save(user)"
                  name="cInterviewType"
                  ng-model="candidature.remote_interview_type"
                  required
                >
                <option value="">--</option>
                <option ng-repeat="value in INTERVIEW_TYPES" value="{{value}}">
                  {{value}}
                </option>
                <div ng-show="form.$submitted || form.cInterviewType.$touched">
                  <span ng-show="form.cInterviewType.$error.required">
                    <span class="fr">
                      Champs requis
                    </span>
                    <span class="en">
                      required
                    </span>
                </div>
                </select>

                <div class="" ng-if="candidature.remote_interview_type">
                  <label for="remote-interview-info">
                    <span class="fr">Identifiants</span>
                    <span class="en">Identifiants</span>
                  </label>
                  <input
                    id="remote-interview-info"
                    type="text"
                    ng-model="candidature.remote_interview_info"
                    ng-change="candidature.save()"
                    ng-model-options='{ debounce: 1000 }'
                    name="cInterviewInfos"
                    placeholder = "URL / ID / infos"
                    required
                    />

                </div>


              </div>


          </div>



          </form>

          <a class="btn" ui-sref="candidature.media">
            Retour
          </a>

          <a ng-class="{ 'has-error': form.$invalid }" class="btn" ui-sref="candidature.message">
            Continue
          </a>




</div>
