
<div class="content">
      <h1>
        Media
      </h1>

          <form name="form" ng-submit="form.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">


            <div ng-repeat="artwork in artworks"


            >
            <label for="title-{{$index}}">
              <span class="fr">
                Titre
              </span>
              <span class="en">
                Title
              </span>
            </label>
              <input
                  type="text" placeholder="titre"
                  id="title-{{$index}}"
                  ng-model="artwork.label"
                  ng-model-options='{ debounce: 1000 }'
                  ng-change="artwork.save()"
                  required
              />
              <label for="description-{{$index}}">
                <span class="fr">
                  Description
                </span>
                <span class="en">
                  Description
                </span>
              </label>

              <textarea
                  placeholder="Desciption"
                  ng-model="artwork.description"
                  ng-model-options='{ debounce: 1000 }'
                  ng-change="artwork.save()"
                  required
              />

              <div
                class="mediabox"
                ng-model="item.picture"
                ngf-select="uploadFiles($files, artwork)"
                ngf-drop="uploadFiles($files, artwork)"
                ngf-drag-over-class="'dragover'"
                multiple="multiple"
                ngf-capture="'camera'"
                accept="image/*"
                >
                <span class=""

                >
                  <span class="fr">
                    Déposez vos média ici
                  </span>
                  <span class="en">
                    Drop your Image here
                  </span>
                </span>

              </div>
              <a ng-click="addMedia">Ajouter un lien</a>
              <div ng-repeat="(medium_index,medium) in artwork.media" class="inline">
                  <a ng-if="medium.picture" class="icon image" href="{{medium.picture}}" >
                    <img src="{{medium.picture}}" height="50px" />
                  </a>
                  <a ng-if="medium.medium_url" class="icon image" href="{{medium.medium_url}}" >
                    url
                  </a>
                  <a class="btn remove" ng-click="removeMedium(medium, artwork, medium_index)" >

                  </a>
              </div>


              <a class="btn btn-inv block remove"
                 ng-click="removeArtwork(artworks, $index)">
                 <span class="fr">
                   Efface cette oeuvre
                 </span>
                 <span class="en">
                   Remove artwork
                 </span>
              </a>

            </div>


            <div>
              <a class="btn block" ng-click="addArtwork(artwork_gallery)">
                <span class="fr">Ajouter un projet </span>
                <span class="en">Add a project </span>
              </a>
            </div>



          <a class="btn" ui-sref="candidature.etat-civil-photo">
            Retour
          </a>
          <a ng-class="{ 'has-error': form.$invalid }" class="btn" ui-sref="candidature.media">
            Continue
          </a>

        </form>

</div>
