
<div class="content">
      <h1>
        Media
      </h1>

          <form name="form" ng-submit="form.$valid && submit()" class="css-form" novalidate enctype="multipart/form-data">


            <div ng-repeat="(artwork_index, artwork) in artworks track by $index"
                  class="item-list"
                  ng-class="{ active: artwork.id == state.selected }"
                  ng-click="state.selected = artwork.id"
            >

                <div class="item-summary">
                  {{artwork.label}}
                  <div class="" ng-if="artwork.media.length">
                    + {{artwork.media.length}} media
                  </div>

                </div>
                <div class="item-infos">
                  <label for="title-{{artwork_index}}">
                    <span class="fr">
                      Titre
                    </span>
                    <span class="en">
                      Title
                    </span>
                  </label>
                    <input
                        type="text"
                        placeholder="titre"
                        id="title-{{artwork_index}}"
                        name="aTitle-{{artwork_index}}"
                        ng-model="artwork.label"
                        ng-model-options='{ debounce: 1000 }'
                        ng-change="artwork.save()"
                        required
                    />
                    <div ng-show="form.$submitted || form['aTitle-{{artwork_index}}'].$touched">
                      <span ng-show="form['aTitle-{{artwork_index}}'].$error.required">
                        <span class="fr">Titre requis</span>
                        <span class="en">Title required</span>
                      </span>
                    </div>



                    <label for="description-{{artwork_index}}">
                      <span class="fr">
                        Description
                      </span>
                      <span class="en">
                        Description
                      </span>
                    </label>

                    <textarea
                        placeholder="Desciption"
                        id="description-{{artwork_index}}"
                        ng-model="artwork.description"
                        name="aDescription-{{artwork_index}}"
                        ng-model-options='{ debounce: 1000 }'
                        ng-change="artwork.save()"
                        required
                    />

                    <div ng-show="form.$submitted || form['aDescription-{{artwork_index}}'].$touched">
                      <span ng-show="form['aDescription-{{artwork_index}}'].$error.required">
                        <span class="fr">Description requise</span>
                        <span class="en">Description required</span>
                      </span>
                    </div>


                    <div
                      class="mediabox"
                      ng-model="artwork.picture"
                      ngf-select="uploadFiles($files, artwork)"
                      ngf-drop="uploadFiles($files, artwork)"
                      ngf-drag-over-class="'dragover'"
                      multiple="multiple"
                      ngf-capture="'camera'"
                      accept="image/*"
                      >

                        <span class="fr">
                          Déposez vos images (gif, jpeg, png) ici
                        </span>
                        <span class="en">
                          Drop your Image (gif, jpeg, png) here or click on it
                        </span>

                    </div>

                    <a class="btn block" ng-click="addMediumLink(artwork)">Ajouter un lien</a>
                    <ul class="list-unstyled">
                      <li ng-repeat="(medium_index, medium) in artwork.media" class="">
                          <a ng-if="medium.picture" class="icon image" href="{{medium.picture}}" >
                            <img src="{{medium.picture}}" height="50px" />
                          </a>
                          <div ng-if="!medium.picture">
                            <label for="aGallery-{{artwork_index}}-aMedium{{medium_index}}">
                              URL
                            </label>
                            <input
                              type="url"
                              id = "aGallery-{{artwork_index}}-aMedium-{{medium_index}}"
                              name = "aGallery-{{artwork_index}}-aMedium-{{medium_index}}"
                              ng-model="medium.medium_url"
                              ng-change="medium.save()"
                              placeholder="Url"
                              required
                                  />

                                  <div ng-show="form.$submitted || form['aGallery-{{artwork_index}}-aMedium-{{medium_index}}'].$touched">
                                    <span ng-show="form['aGallery-{{artwork_index}}-aMedium-{{medium_index}}'].$error.required">Requis</span>
                                    <span ng-show="form['aGallery-{{artwork_index}}-aMedium-{{medium_index}}'].$error.url">not valid URL</span>
                                  </div>


                          </div>
                          <a class="btn remove" ng-click="removeMedium(medium, artwork, medium_index)" >

                          </a>
                      </li>
                    </ul>


                    <a class="btn btn-inv block remove"
                       ng-click="removeArtwork(artworks, artwork_index)">
                       <span class="fr">
                         Efface cette oeuvre
                       </span>
                       <span class="en">
                         Remove artwork
                       </span>
                    </a>

                  </div>

              </div>
            <div>
              <a class="btn block" ng-click="addArtwork(artwork_gallery)">
                <span class="fr">Ajouter un projet </span>
                <span class="en">Add a project </span>
              </a>
            </div>



            <div class="formElt">
              <input
                type="checkbox"
                ng-model="candidature.asynchronous_element"
                ng-change="candidature.save()"
                name="aAsynchone"
                />
                <span class="fr">Je vous envoie des éléments par courrier</span>
                <span class="en">Send Element by mail</span>
                <div ng-show="candidature.asynchronous_element" class="alert" >
                  <textarea
                      ng-model="candidature.asynchronous_element_description"
                      ng-model-options='{ debounce: 1000 }'
                      ng-change="candidature.save()"
                      placeholder="Desciption des éléments"
                  />
                  <span class="fr"> N'oubliez pas de précisez votre numéro de cadidature : </span>
                  <span class="en"> Don't forget to give us your application number </span>
                    <strong>{{candidature.current_year_application_count}}</strong>

                </div>



            </div>



          <a class="btn" ui-sref="candidature.etat-civil-cursus">
            Retour
          </a>
          <a ng-class="{ 'has-error': form.$invalid }" class="btn" ui-sref="candidature.message">
            Continue
          </a>

        </form>

</div>
