<div class="confirmation">
   <h1>
      Confirmation
   </h1>
   <p class="fr"> Pour valider la création de votre compte, merci de cliquer sur le lien de confirmation qui vous a été envoyé à l'adresse e-mail suivante : </p>
   <p class="en"> To confirm the creation of your account, click on the confirmation link we just send you
     in the following email: </p>
   <br/>
   <form name="formConfirmation">
      <div>
        <p>
         <a ng-show="!edit_email" > {{user.email}} </a>
        </p>
      </div>
      <div ng-show="edit_email">
         <input id="email" type="email" ng-model="user.email" name="uEmail" unique-user-field
          ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
          required />
         <div ng-show="formConfirmation.uEmail.$touched  && formConfirmation.uEmail.$invalid" ng-messages="formConfirmation.uEmail.$error" class="help-block error">
            <div ng-message="required">
              <span class="fr">Champs obligatoire</span>
              <span class="en">Required field</span>
            </div>
            <div ng-message="pattern">
               <span class="fr">E-mail non valide</span>
               <span class="en">Invalid email</span>
            </div>

            <div ng-message="email">
               <span class="fr">E-mail non valide</span>
               <span class="en">This is not a valid email</span>
            </div>
            <div ng-message="uniqueUserField">
               <span class="fr">Cet email est déjà associé à un utilisateur, <a ui-sref="candidature.account.login">connectez vous</a></span>
               <span class="en">Email is already use by an account, <a ui-sref="candidature.account.login">connect you</a></span>
            </div>
         </div>
         <label for="email">
            <span class="field-state required" ng-class="{ 'error': form.uEmail.$error, 'valid':form.uEmail.$valid, 'touched': form.uEmail.$touched }"></span>
            <span class="fr">E-mail</span>
            <span class="en">Email</span>
         </label>
         <a class="btn" ng-click="edit_email = false; update_infos(formConfirmation, user)" ng-class="{ 'has-error': formConfirmation.$invalid }" >
           <span class="fr">Valider l'adresse et renvoyer l'e-mail</span>
           <span class="en">Valid address and resend e-mail</span>
         </a>
      </div>

   </form>
   <p>
     <span class="fr">Si vous ne recevez pas d'e-mail :</span>
     <span class="en">If it doesn't show up in a few minutes, </span>
  </p>
  <ul>
    <li>
        <span class="fr">vérifier votre courier indésirable</span>
        <span class="en">check your spam folder</span>
    </li>
    <li>
      <span class="fr">vérifier que l'email ci-dessus est correct</span>
      <span class="en">double check the email address above </span>

    </li>
    <li><a class="pointer" ng-click="edit_email = true; send_email=2">
      <span class="fr">corriger l'email {{user.email}}</span>
      <span class="en">click here to modify the email address: {{user.email}}</span>
      </a></li>
  </ul>

   <div class="navigation">
      <a class="btn btn-inv" ng-click="update_infos(formConfirmation, user)" ng-show="(!formConfirmation.$invalid && send_email>=1 && !edit_email)" >

      <span class="fr">Réenvoyer l'email</span>
      <span class="en">re-send email</span>
      </a>
      
      <div ng-show="resendemail_error!='' " class="help-block error">
         <p ng-repeat="(key, value) in resendemail_error">{{key}}: {{value[0]}}</p>
      </div>
   </div>
   
</div>
