<div class=forgot-password-page>
   <h1>
      <span class="fr">Réinitialisation du mot de passe</span>
      <span class="en"> Password reset</span>
   </h1>
   <p class="fr">
      Veuillez entrer votre email
    </p>
    <p class="en">
       Veuillez entrer votre email
     </p>
   <div class="">
      <form name="form" class="" ng-submit="form.$valid && submit()" novalidate>
         <div class="field">
            <input id="email" type="email" ng-model="email" name="uEmail" required />
            <div ng-show="form.uEmail.$touched  && form.uEmail.$invalid" ng-messages="form.uEmail.$error" class="help-block error">
               <div ng-message="required">
                  <span class="fr">Requis</span>
                  <span class="en">required</span>
               </div>
               <div ng-message="email">
                  <span class="fr">E-mail non valide</span>
                  <span class="en">This is not a valid email</span>
               </div>
            </div>
            <label for="email">
            <span class="field-state required" ng-class="{ 'error': form.uEmail.$error, 'valid':form.uEmail.$valid, 'touched': form.uEmail.$touched }"></span>
            <span class="fr">E-mail</span>
            <span class="en">Email</span>
            </label>
         </div>
         <div ng-show="emailSended">
            <span class="fr">Vous avez reçu un email comportant le lien pour réinitialiser votre mot de passe</span>
            <span class="en">You received an email with the link to reset your password</span>
         </div>
         <div ng-show="$scope.form.error">
            <span class="fr">Erreur dans l'envoie de l'email</span>
            <span class="en">Email send error</span>
         </div>
      </form>
      <br/>
      <a class="btn green" ng-class="{ 'has-error': form.$invalid }" ng-click="submit()">
            <span class="fr">Réinitialiser le mot de passe</span>
            <span class="en">Reset my password</span>
      </a>
      <div class="navigation">

         <a class="btn" ui-sref="candidature.account.login">Retour</a>
      </div>
   </div>

</div>
