<div class="page-reset-password">

  <h1>
    <span class="fr">Mot de passe</span>
    <span class="en">Password</span>
  </h1>
  <p>Votre email a été confirmé, merci de créer votre mot de passe : </p>
    <div ng-show="user_id">
        <form name="form" ng-submit="form.$valid && submit()" novalidate>

          <div class="field">
              <input id="username" type="text" ng-model="username" name="uUsername" readonly required />
              <label for="username">
                <span class="field-state required" ng-class="{ 'error': form.uUsername.$error, 'valid':form.uUsername.$valid, 'touched': form.uUsername.$touched }"></span>
                <span class="fr">Nom d'utilisateur</span>
                <span class="en">User name</span>
              </label>
          </div>




          <div class="field">
            <input id="password" type="password" name="uPassword" ng-model="new_password1"
                   ng-minlength="8"
                   ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(.*){8,}$/"
                   required
            />
            <div ng-show="form.uPassword.$touched && form.uPassword.$invalid" ng-messages="form.uPassword.$error" class="help-block error">
              <div ng-message="required">
                <span class="fr">Requis</span>
                <span class="en">Requis</span>
              </div>
              <div ng-message="minlength">
                <span class="fr">8 lettres minimum dont une majuscules et une minuscule</span>
                <span class="en">8 char min with maj & min</span>
              </div>
              <div ng-message="pattern">
                <span class="fr">Maj/min/chiffre...</span>
                <span class="en">Uppersace LowerCase Number...</span>
              </div>
            </div>
            <label for="password">
              <span class="field-state required" ng-class="{ 'error': form.uPassword.$error, 'valid':form.uPassword.$valid, 'touched': form.uPassword.$touched }"></span>
              <span class="fr">Mot de passe</span>
              <span class="en">Password</span>
            </label>
          </div>




          <div class="field">
            <input id="password2" type="password" name="uConfirmPassword" ng-model="new_password2"
                   same-value-as="new_password1"
                   required
            />
            <div ng-show="form.uConfirmPassword.$touched && form.uConfirmPassword.$invalid" ng-messages="form.uConfirmPassword.$error" class="help-block error">
              <div ng-message="required">
                <span class="fr">Requis</span>
                <span class="en">Requis</span>
              </div>
              <div ng-message="sameValueAs">
                <span class="fr">Les password ne correspondent pas</span>
                <span class="en">Passwords doesn't match</span>
              </div>
            </div>
            <label for="password2">
              <span class="field-state required" ng-class="{ 'error': form.uConfirmPassword.$error, 'valid':form.uConfirmPassword.$valid, 'touched': form.uConfirmPassword.$touched }"></span>
              <span class="fr">Confimation du mot de passe</span>
              <span class="en">Confirm password</span>
            </label>
          </div>


          <div ng-if="form.error" class="alert alert-danger">{{form.error}}</div>

        </form>
        <div class="navigation">
            <a class="btn green" ng-class="{ 'has-error': form.$invalid }" ng-click="submit(form, user)">
              Valider le mot de passe
            </a>
        </div>
  </div>

    <div ng-show='!user_id'>
      <p>

        Une erreur est survenue,
        <a class="btn" ui-sref="candidature.account.password-forgot">
          retour à la page de demande de changement de mot de passe
        </a>

      </p>

    </div>

</div>
