<nav class="navbar navbar-inverse navbar-fixed-top" ng-show="user.id">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#accountbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="accountbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="user"><a>{{user.username}}</a></li>
        <li><a ng-click="logout()">Déconnection</a></li>
      </ul>
    </div>
  </div>
</nav>
