<div class="confirmation content">

    <h1>
              Confirmation
    </h1>


    <p>    Merci de confimer la
            création de votre compte
            en cliquant sur le lien de
            confimation envoyé sur
            l’email :

      <div class="">
        <h3 class=""> {{user.email}} </h3>
      </div>

    </p>
        <div class="navigation">
          <a class="btn btn-inv" ui-sref="candidature.account.login">
            Connection
          </a>
        </div>
</div>
