<div class="content">

    <div ng-if="!user_created">
          <h1>
                    Identification
          </h1>


          <form name="form" class="css-form" ng-submit="form.$valid && login()" novalidate>

                <label>Nom / Name</label>
                <input type="text" ng-change="setUserName(form, user)" ng-model="user.last_name" name="uName" required />
                <div ng-show="form.$submitted || form.uName.$touched">
                  <span ng-show="form.uName.$error.required">Tell us your name.</span>
                </div>

                <label>Prénom / First Name</label>
                <input type="text" ng-change="setUserName(form, user)" ng-model="user.first_name" name="uFirstName" required />
                <div ng-show="form.$submitted || form.uFirstName.$touched">
                  <span ng-show="form.uFirstName.$error.required">Tell us your first-name.</span>
                </div>

                <label>Username</label>
                <input type="text" ng-model="user.username" ng-minlength="4" name="uUserName" unique-user-field required />
                <div ng-show="form.$submitted || form.uUserName.$touched">
                  <span ng-show="form.uUserName.$error.minlength">Minimum 4 signes</span>
                  <span ng-show="form.uUserName.$error.required">Tell us your name.</span>
                  <span ng-show="form.uUserName.$error.uniqueUserField">Ce nom d'utilisateur est déjà utilisé, choisissez en un autre</span>
                </div>

                <label>E-mail</label>
                <input
                    type="email" ng-model="user.email" name="uEmail"
                    unique-user-field required
                />
                <div ng-show="form.$submitted || form.uEmail.$touched">
                  <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
                  <span ng-show="form.uEmail.$error.email">E-mail non valid / This is not a valid email.</span>
                  <span ng-show="form.uEmail.$error.uniqueUserField">
                      Cet email est déjà associé à un utilisateur, <a ui-sref="candidature.account.login">connectez vous</a>
                  </span>
                </div>

                <label>repeat your E-mail</label>
                <input type="email" ng-model="emailconfirm" name="uEmailComfim" same-value-as="user.email" required />

                <div ng-show="form.$submitted || form.uEmailComfim.$touched || form.uEmail.$touched">
                  <span ng-show="form.uEmailComfim.$error.sameValueAs"> >Les deux emails doivent être les mêmes</span>
                </div>
                <div ng-if="form.error" class="alert alert-danger">{{form.error}}</div>

                <div class="navigation">

                  <div>
                    <a class="btn" ui-sref="candidature.account.login">
                      Retour
                    </a>

                      <a class="btn" ng-class="{ 'has-error': form.$invalid }" ng-click="create(form, user)">
                        Continue
                      </a>
                  </div>
                </div>

            </form>
      </div>

      <div ng-if="user_created ">

        <h1>
                  Confirmation
        </h1>
        <p>    Merci de confimer la
                  création de votre compte
                  en cliquant sur le lien de
                  confimation envoyé sur
                  l’email :
        </p>

          <form name="formConfirmation">

                <div ng-click="edit_email = true"  >
                  <a ng-show="!edit_email" > - {{user.email}} </a>
                </div>
                <div ng-show="edit_email">
                    <input
                        type="email" ng-model="user.email" name="uEmail"
                        required
                    />

                      <div ng-show="formConfirmation.$submitted || formConfirmation.uEmail.$touched">
                        <span ng-show="formConfirmation.uEmail.$error.required">Tell us your email.</span>
                        <span ng-show="formConfirmation.uEmail.$error.email">E-mail non valid / This is not a valid email.</span>
                      </div>

                    <a class="btn" ng-click="edit_email = false" ng-class="{ 'has-error': formConfirmation.$invalid }" >
                      OK
                    </a>
                </div>
                <div ng-show="send_email<1">
                  Vous ne pouvez plus renvoyer d'email
                </div>

                <div ng-if="form.error" class="alert alert-danger">{{formConfirmation.error}}</div>

                  <div class="navigation">
                    <a class="btn btn-inv" ui-sref="candidature.account.login">
                      Connection
                    </a>
                    <a class="btn btn-inv" ng-click="update_infos(formConfirmation, user)" ng-class="{ 'has-error': (formConfirmation.$invalid || send_email<1) }" >
                      Renvoyer l'email
                    </a>

                  </div>

          </form>
      </div>


</div>
