<div class="content">

        <div ng-if="!isAuthenticated">
              <a class="btn green" ui-sref="candidature.account.create-user">
                Créer un utilisateur
              </a>
        </div>

        <h1>Login</h1>

        <div ng-if="!isAuthenticated">

              <form name="form" ng-submit="form.$valid && vm.login()" novalidate>
                      <label for="username">Username</label>
                      <input type="text" name="username" ng-model="vm.username" required />
                      <div ng-messages="form.$submitted && form.username.$error" class="help-block">
                          <div ng-message="required">Username is required</div>
                      </div>
                      <label for="password">Password</label>
                      <input type="password" name="password"2 ng-model="vm.password" required />
                      <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                          <div ng-message="required">Password is required</div>
                      </div>
                      <div><a ui-sref="candidature.account.password-forgot">Mot de passe oublié</a></div>
                      <a class="btn" ui-sref="candidature">
                        Retour
                      </a>
                      <button ng-click="login(form, vm)" class="btn btn-primary">Login</button>
                      <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
              </form>


        </div>

        <div ng-if="isAuthenticated">
          <button ng-click='logout()' >
              Logout
          </button>

          <a class="btn" ui-sref="candidature.etat-civil-1">
            Continuer
          </a>


        </div>
</div>
