<div class=content>

    <h1>
              Password reset
    </h1>


    <p>
      Veuillez entrer votre email

      <div class="">
          <form name="form" class="" ng-submit="form.$valid && submit()" novalidate>
            <input type='email' ng-model="email" name="uEmail" required />
              <div ng-show="form.$submitted || form.uEmail.$touched">
                <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
                <span ng-show="form.uEmail.$error.email">E-mail non valid / This is not a valid email.</span>
              </div>
              <div ng-if="form.success" class="">{{form.success}}</div>
              <div ng-if="form.error" class="alert alert-danger">{{form.error}}</div>

              <a class="btn" ui-sref="candidature.account.login">Retour</a>
              <a class="btn" ng-class="{ 'has-error': form.$invalid }" ng-click="submit()">
                Continue
              </a>
          </form>


    </div>

    </p>
</div>
