<h1>Reset du mot de passe</h1>


      <form name="form" ng-submit="form.$valid && submit()" novalidate>

        <input type="password" name="uPassword"
                ng-model="new_password1"
                required
                />


        <input type="password" name="uConfirmPassword"
                ng-model="new_password2"
                required
                same-value-as="new_password1" />


        <div ng-messages="form.$submitted && form.uPassword.$error" class="help-block">
            <div ng-message="required">Error</div>
        </div>

        <div ng-show="form.$submitted || form.uPassword.$touched || form.uConfirmPassword.$touched">
          <span ng-show="form.uPassword.$error.required">Tell us your pass.</span>
          <span ng-show="form.uConfirmPassword.$error.sameValueAs">Not same</span>
        </div>

        <div ng-if="form.error" class="alert alert-danger">{{form.error}}</div>



        <input type="submit" value="change" />
        <a class="btn" ui-sref="candidature.resume">
          Retour
        </a>

      </form>
