<div class="navigation header">
  <div id="ref-candidature" ng-if="isAuthenticated">
    <div class=""  ng-show='candidature.current_year_application_count' >
      <div id="timer-countdown" ng-if='timer_countdown>0'>
        <span class="fr">Il reste </span>
        <span class="en">Registration phase will close in </span>
        <timer language="language"
              countdown="timer_countdown" interval="1000" >
                  <span class='fr'>{{monthUnit | translate_en_to_fr }}</span>
                  <span class='en'>{{monthUnit}}</span>
              </timer>
      </div>
      <div>Candidature n° <span class="number">{{ candidature.current_year_application_count }}</span></div>
    </div>

  </div>
  <ul class="list-inline small">
    <li class="help"><a class="pointer" ui-sref="candidature"><span class='fr'>Accueil</span><span class='en'>Home</span></a> |</li>
    <li class="help"><a class="pointer" ui-sref="candidature.user-guide"><span class='fr'>Guide</span><span class='en'>User guide</span></a> |</li>
    <li class="help"><a class="pointer" ui-sref="candidature.faq">FAQ</a> | </li>
    <li class="help"><a href="https://goo.gl/forms/FEBMd0Idb5UqSPix2" target="_blank">Bug ?</a> | </li>
    <li class="help"><a class="pointer"  ng-click="setLang('fr')" >FR</a> |</li>
    <li class="help"><a class="pointer" ng-click="setLang('en')" >EN</a> |</li>
    <li class="help" ng-show="help_exist"><a class="pointer" ng-click="show_help(true)">
                            <span class='fr'>Aide</span>
                            <span class='en'>Help</span></a>|</li>
    <li ng-if="isAuthenticated"><a class="pointer" ng-click="logout('candidature.account.login')" title="{{user.username}}">
                            <span class='fr'>Déconnexion</span>
                            <span class='en'>Log out</span></a></li>
  </ul>

</div>
