<div class="navigation breadcrumb " ng-show="isAuthenticated && !upload_percentage<99">
  <ul class="list-inline small">
    <li ng-class="{'current': candidature_config.screen[step.current].page.group == 'administrative-informations'}">
      <a class="pointer" ui-sref="candidature.administrative-informations">
      <div class="loading" ng-class="{'completed' : progress_admin == 100}"><span class="bar" ng-style="{'width' : getProgression('administrative-informations')+'%'}" /></div>
      <span class="icon icon-idcard" ng-class="{'active': candidature_config.screen[step.current].page.group =='administrative-informations'}"></span>
      <div class="name"><span class="fr">Etat civil</span><span class="en">Personal info</span></div>
    </a></li>
    <li ng-class="{'current': candidature_config.screen[step.current].page.group == 'curiculum'}">
      <a class="pointer" ui-sref="candidature.curiculum">
      <div class="loading" ng-class="{'completed' : progress_curiculum == 100}">
        <span class="bar" ng-style="{'width' : getProgression('curiculum')+'%'}" /></div>
      <span class="icon icon-graduation" ng-class="{'active': candidature_config.screen[step.current].page.group =='curiculum'}"></span>
      <div class="name"><span class="fr">Cursus</span><span class="en">Cursus</span></div>
    </a></li>
    <li ng-class="{'current': candidature_config.screen[step.current].page.group =='portfolio'}">
      <a class="pointer" ui-sref="candidature.artistic-background">
      <div class="loading" ng-class="{'completed' : progress_portfolio == 100}">
        <span class="bar" ng-style="{'width' : getProgression('portfolio')+'%'}" /></div>
      <span class="icon icon-folder" ng-class="{'active': candidature_config.screen[step.current].page.group =='portfolio'}" ></span>
      <div class="name"><span class="fr">Portfolio</span><span class="en">Portfolio</span></div>
    </a></li>
    <li ng-class="{'current': candidature_config.screen[step.current].page.group =='intentions'}">
      <a class="pointer" ui-sref="candidature.previous-applications">
      <div class="loading" ng-class="{'completed' : progress_intentions == 100}" >
        <span class="bar" ng-style="{'width' : getProgression('intentions')+'%'}" /></div>
      <span class="icon icon-arrows" ng-class="{'active': candidature_config.screen[step.current].page.group =='intentions'}"></span>
      <div class="name"><span class="fr">Intentions</span><span class="en">Intentions</span></div>
    </a></li>
    <li ng-class="{'current': candidature_config.screen[step.current].page.group =='summary'}">
      <a class="pointer" ui-sref="candidature.summary">
      <span class="icon icon-check" ng-class="{'active': candidature_config.screen[step.current].page.group =='summary'}"></span>
      <div class="name"><span class="fr">Récapitulatif</span><span class="en">////</span></div>
    </a></li>

  </ul>
</div>
