<div class="navigation header">
  <div id="ref-candidature" ng-if="isAuthenticated">
    <div class=""  ng-show='candidature.current_year_application_count' >
      <div id="timer-countdown"><span class="fr">Il reste </span>
      <span class="en"></span>
        <timer countdown="countdown" language="{{language}}"
              max-time-unit="'day'" interval="1000"
              finish-callback="console.log('finish')">{{monthUnit}}</timer>
      <span class="en">left</span>
      </div>
      <div>Candidature n° <span class="number">{{ candidature.current_year_application_count }}</span></div>
    </div>

  </div>
  <ul class="list-inline small">
    <li class="help"><a class="pointer" ui-sref="candidature.user-guide"><span class='fr'>Guide</span><span class='en'>User guide</span></a> |</li>
    <li class="help"><a class="pointer" ui-sref="candidature.faq">FAQ</a> | </li>
    <li class="help"><a href="https://goo.gl/forms/FEBMd0Idb5UqSPix2" target="_blank">Bug ?</a> | </li>
    <li class="help"><a class="pointer"  ng-click="setLang('fr')" >FR</a> |</li>
    <li class="help"><a class="pointer" ng-click="setLang('en')" >EN</a> |</li>
    <li class="help" ng-show="help_exist"><a class="pointer" ng-click="show_help(true)">
                            <span class='fr'>Aide</span>
                            <span class='en'>Help</span></a>|</li>
    <li ng-if="isAuthenticated"><a class="pointer" ng-click="logout('candidature.account.login')" title="{{user.username}}">
                            <span class='fr'>Déconnexion</span>
                            <span class='en'>Log out</span></a></li>
  </ul>

</div>
