<div class="modal-body" ng-swipe-left="Lightbox.nextImage()"
    ng-swipe-right="Lightbox.prevImage()">

  <div class="lightbox-nav">
    <button class="close" aria-hidden=true ng-click="$dismiss()">×</button>
    <div class="btn-group">
      <a class="btn btn-xs btn-default" ng-click="Lightbox.prevImage()">‹ Précédente</a>
      <a ng-if="!(Lightbox.image.isvideo) && (Lightbox.image.picture | isFresnoyUrl)" class="btn btn-xs btn-default" target="_blank" href="http://media.lefresnoy.net/?url=http://api.lefresnoy.net/{{ Lightbox.image.picture }}&op=noop" download="Image"><i class="glyphicon glyphicon-link"></i>&nbsp;Lien vers l'original</a>
      <a ng-if="!(Lightbox.image.isvideo) && !(Lightbox.image.picture | isFresnoyUrl) " class="btn btn-xs btn-default" target="_blank"
       href="{{ Lightbox.image.medium_url}}" download="Image"><i class="glyphicon glyphicon-link"></i>&nbsp;Lien vers l'original</a>
      <a ng-if="Lightbox.image.isvideo" class="btn btn-xs btn-default" target="_blank" href="{{ Lightbox.image.medium_url}}"><i class="glyphicon glyphicon-link"></i>&nbsp;Lien vers l'original</a>


      <a class="btn btn-xs btn-default" ng-click="Lightbox.nextImage()">Suivante ›</a>
    </div>
  </div>
  <!-- video -->
  <!-- image -->
  <div class="lightbox-image-container">
    <!-- Video api Fresnoy -->
    <video ng-if="(Lightbox.image.picture | isFresnoyUrl) && (Lightbox.image.medium_url) && (!Lightbox.image.iframe)"
      poster="http://media.lefresnoy.net/?url=http://api.lefresnoy.net/{{ Lightbox.image.picture }}&op=noop" ng-if="Lightbox.image.medium_url"
      controls ng-src="{{ Lightbox.image.medium_url }}">{{ Lightbox.image.description }}
    </video>
    <!-- Video anywhere  -->
    <video ng-if="!(Lightbox.image.picture | isFresnoyUrl) && Lightbox.image.medium_url && (!Lightbox.image.iframe)"
      poster="{{ Lightbox.image.picture }}"
      controls ng-src="{{ Lightbox.image.medium_url }}">{{ Lightbox.image.description }}
    </video>
    <!-- iframe  -->
    <iframe ng-if='Lightbox.image.iframe' ng-src='{{Lightbox.image.medium_url}}'/>
    <img ng-if="(Lightbox.image.picture | isFresnoyUrl) && !Lightbox.image.medium_url" lightbox-src="http://media.lefresnoy.net/?url=http://api.lefresnoy.net/{{ Lightbox.image.picture }}&w=1500&fmt=jpg"/>
    <img ng-if="!(Lightbox.image.picture | isFresnoyUrl) && !Lightbox.image.medium_url" lightbox-src="{{ Lightbox.image.picture }}"/>
    <p ng-bind-html="Lightbox.image.description | nl2br" />
  </div>

</div>
