<div class="header">
  <div class="overlay"></div>
  <fresnoy-thumbnail thurl="artwork.picture" thwidth="1920" thheight="200"></fresnoy-thumbnail>
  <h1>{{ artwork.title }}</h1>
  <h2 ng-if="artwork.subtitle"> {{ artwork.subtitle }}</h2>
</div>

<div class="nature">
  {{ artwork.type }}
  <ul class="genres list list-inline">
    <li ng-repeat="genre in artwork.genres">
      <a ui-sref="genre({genre: genre.label})">{{ genre.label }}</a></li>
  </ul>
  de
  <ul class="authors list list-inline">
    <li ng-repeat="author in artwork.authors">
      <a ui-sref="school.student({id: author.id})"><span class="firstname">{{ author.user.first_name }}</span> <span class="lastname">{{ author.user.last_name }}</span></a></li>
  </ul>
</div>

<div class="technic">
  <ul class="list list-unstyled list-inline" ng-if="artwork.type=='film'">
    <li ng-if="artwork.duration" class="duration" title="Durée">{{ artwork.duration | time:"hh:mm:ss":"hh h mm minutes ss"  }}</li>
    <li ng-if="artwork.shooting_format" class="format" title="Format">{{ artwork.shooting_format }}</li>
    <li ng-if="artwork.process" class="process" title="Procédé">{{ artwork.process }}</li>
    <li ng-if="artwork.aspect_ratio" class="ratio" title="Ratio">{{ artwork.aspect_ratio  }}</li>
  </ul>
</div>


<div class="row">
  <div class="col-md-10">
    <!-- Nav tabs menu -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a data-target ="#infos" aria-controls="home" role="tab" data-toggle="tab">
          <i class="glyphicon glyphicon-info-sign"></i>&nbsp;A propos
        </a>
      </li>
      <li role="presentation">
        <a data-target ="#media" aria-controls="media" role="tab" data-toggle="tab">
          <i class="glyphicon glyphicon-picture"></i>&nbsp;Media
        </a>
      </li>
      <li role="presentation" ng:class="ame_access==0||ame_artwork_gallery.media.length==0 ? 'disabled' : ''">
        <a data-target ="#archive" aria-controls="archive" role="tab" data-toggle="tab">
          <i class="glyphicon disabled glyphicon-film"></i>&nbsp;Archive
        </a>
      </li>
    </ul>
    <!-- Nav tabs content -->
    <tabset class="tab-content artwork-about">
      <div role="tabpanel" class="tab-pane active" id="infos">
        <tabset class="api-field">
          <!-- Desciption  tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="text">
                <h3>Description</h3>
            </li>
            <li role="presentation" class="active">
              <a data-target ="#description-fr" aria-controls="description-fr" role="tab" data-toggle="tab">
                <flag-icon country="fr"></flag-icon>
              </a>
            </li>
            <li role="presentation">
              <a data-target ="#description-en" aria-controls="description-en" role="tab" data-toggle="tab">
                <flag-icon country="uk"></flag-icon>
              </a>
            </li>
            <li ng-if="artwork.description_short_fr" role="presentation">
              <a data-target ="#description-short-fr" aria-controls="description-short-fr" role="tab" data-toggle="tab">
                Courte <flag-icon country="fr"></flag-icon>
              </a>
            </li>
            <li ng-if="artwork.description_short_en" role="presentation">
              <a data-target ="#description-short-en" aria-controls="description-short-en" role="tab" data-toggle="tab">
                Courte <flag-icon country="uk"></flag-icon>
              </a>
            </li>
          </ul>
            <!-- Desciption  content -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="description-fr">
              <div ng-bind-html="artwork.description_fr|markdown"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="description-en">
              <div ng-bind-html="artwork.description_en|markdown"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="description-short-fr">
              <div ng-bind-html="artwork.description_short_fr|markdown"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="description-short-en">
              <div ng-bind-html="artwork.description_short_en|markdown"></div>
            </div>
          </div>
        </tabset>
        <tabset class="api-field">
          <!-- Copyright  tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="text">
                <h3>Copyright</h3>
            </li>
            <li role="presentation" class="active">
              <a data-target ="#copyright-fr" aria-controls="copyright-fr" role="tab" data-toggle="tab">
                <flag-icon country="fr"></flag-icon>
              </a>
            </li>
            <li role="presentation">
              <a data-target ="#copyright-en" aria-controls="copyright-en" role="tab" data-toggle="tab">
                <flag-icon country="uk"></flag-icon>
              </a>
            </li>
          </ul>
          <!-- Copyright  content -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="copyright-fr">
              <div ng-bind-html="artwork.copyright_fr|markdown"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="copyright-en">
              <div ng-bind-html="artwork.copyright_en|markdown"></div>
            </div>
          </div>
        </tabset>
        <tabset class="api-field">
          <!-- Crédits  tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="text">
                <h3>Crédits</h3>
            </li>
            <li role="presentation" class="active">
              <a data-target ="#credits-fr" aria-controls="credits-fr" role="tab" data-toggle="tab">
                <flag-icon country="fr"></flag-icon>
              </a>
            </li>
            <li role="presentation">
              <a data-target ="#credits-en" aria-controls="credits-en" role="tab" data-toggle="tab">
                <flag-icon country="uk"></flag-icon>
              </a>
            </li>
          </ul>
          <!-- Crédits  content -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="credits-fr">
              <div ng-bind-html="artwork.credits_fr|markdown"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="credits-en">
              <div ng-bind-html="artwork.credits_en|markdown"></div>
            </div>
            <ul class="list list-unstyled">
              <li ng-repeat="collaborator in artwork.collaborators">{{ collaborator.task.label }} : {{ collaborator.staff.user.first_name }} {{ collaborator.staff.user.last_name }}</li>
            </ul>

          </div>
        </tabset>


      </div>

      <div role="tabpanel" class="tab-pane" id="media">
        <h4><i class="glyphicon glyphicon-picture"></i>&nbsp;Visuel principal</h4>
        <fresnoy-gallery gallery="main_picture_gallery"></fresnoy-gallery>

        <div class="clearfix"></div>

        <div ng-if="artwork.teaser_galleries.length">
          <h4><i class="glyphicon glyphicon-map-marker"></i>Teaser</h4>
          <div ng-repeat="gallery in artwork.teaser_galleries">
            <h5>{{ gallery.label }} ({{ gallery.description }})</h5>
            <fresnoy-gallery gallery="gallery"></fresnoy-gallery>
            <div class="clearfix"></div>
          </div>
        </div>

        <div ng-if="artwork.in_situ_galleries.length">
          <h4><i class="glyphicon glyphicon-map-marker"></i>&nbsp;In Situ</h4>
          <div ng-repeat="gallery in artwork.in_situ_galleries">
            <h5>{{ gallery.label }} ({{ gallery.description }})</h5>
            <fresnoy-gallery gallery="gallery"></fresnoy-gallery>
            <div class="clearfix"></div>
          </div>
        </div>

        <div ng-if="artwork.mediation_galleries.length">
          <h4><i class="glyphicon glyphicon-user"></i>&nbsp;Médiation</h4>
          <div ng-repeat="gallery in artwork.mediation_galleries">
            <h5>{{ gallery.label }} ({{ gallery.description }})</h5>
            <fresnoy-gallery gallery="gallery"></fresnoy-gallery>
            <div class="clearfix"></div>
          </div>
        </div>

        <div ng-if="artwork.press_galleries.length">
          <h4><i class="glyphicon glyphicon-paperclip"></i>&nbsp;Presse</h4>
          <div ng-repeat="gallery in artwork.press_galleries">
            <h5>{{ gallery.label }} ({{ gallery.description }})</h5>
            <fresnoy-gallery gallery="gallery"></fresnoy-gallery>
            <div class="clearfix"></div>
          </div>
        </div>

        <div ng-if="artwork.process_galleries.length">
          <h4><i class="glyphicon glyphicon-cog"></i>&nbsp;Processus</h4>
          <div ng-repeat="gallery in artwork.process_galleries">
            <h5>{{ gallery.label }} ({{ gallery.description }})</h5>
            <fresnoy-gallery gallery="gallery"></fresnoy-gallery>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="archive">
        <h4><i class="glyphicon glyphicon-video"></i>&nbsp;Archive</h4>
        <fresnoy-gallery gallery="ame_artwork_gallery"></fresnoy-gallery>
      </div>
    </tabset>
  </div>

  <div class="col-md-2 sidebar">
    <h3><i class="glyphicon glyphicon-bullhorn"></i>&nbsp;Diffusions</h3>
    <ul>
      <li ng-repeat="event in events">{{ event.title }}</li>
    </ul>

    <h3><i class="glyphicon glyphicon-th-large"></i>&nbsp;Partenaires</h3>
    <ul>
      <li ng-repeat="partner in artwork.partners track by $index">{{ partner.organization.name }} ({{ partner.task.label }})</li>
    </ul>

  </div>


</div>
