<div class="header">
  <div class="overlay"></div>
  <fresnoy-thumbnail thurl="artwork.picture" thwidth="1920" thheight="200"></fresnoy-thumbnail>
  <h1>{{ artwork.title }}</h1>
  <h2 ng-if="artwork.subtitle"> {{ artwork.subtitle }}</h2>
</div>

<div class="nature">
  {{ artwork.type }}
  de
  <ul class="authors">
    <li ng-repeat="author in artwork.authors">
      <a ui-sref="artist({id: author.id})"><span class="firstname">{{ author.user.first_name }}</span> <span class="lastname">{{ author.user.last_name }}</span></a></li>
  </ul>
</div>

<div class="row">
  <div class="col-md-10">
    <tabset class="artwork-about">
      <tab>
        <tab-heading>
          <i class="glyphicon glyphicon-info-sign"></i>&nbsp;A propos
        </tab-heading>

        <tabset class="api-field">
          <h3>Description</h3>

          <tab>
            <tab-heading><flag-icon country="fr"></flag-icon></tab-heading>
            <div ng-bind-html="artwork.description_fr|markdown"></div>
          </tab>

          <tab ng-if="artwork.description_en">
            <tab-heading><flag-icon country="uk"></flag-icon></tab-heading>
            <div ng-bind-html="artwork.description_en|markdown"></div>
          </tab>

          <tab ng-if="artwork.description_short_fr">
            <tab-heading>Courte <flag-icon country="fr"></flag-icon></tab-heading>
            <div ng-bind-html="artwork.description_short_fr|markdown"></div>
          </tab>

          <tab ng-if="artwork.description_short_en">
            <tab-heading>Courte <flag-icon country="uk"></flag-icon></tab-heading>
            <div ng-bind-html="artwork.description_short_en|markdown"></div>
          </tab>
        </tabset>

        <tabset class="api-field">
          <h3>Copyright</h3>
          <tab>
            <tab-heading><flag-icon country="fr"></flag-icon></tab-heading>
            <div ng-bind-html="artwork.copyright_fr|markdown"></div>
          </tab>
          <tab ng-if="artwork.copyright_en" heading="EN">
            <tab-heading><flag-icon country="uk"></flag-icon></tab-heading>
            <div ng-bind-html="artwork.copyright_en|markdown"></div>
          </tab>
        </tabset>

        <tabset class="api-field">
          <h3>Crédits</h3>
          <tab>
            <tab-heading><flag-icon country="fr"></flag-icon></tab-heading>
            <div ng-bind-html="artwork.credits_fr|markdown"></div>
          </tab>
          <tab ng-if="artwork.credits_en">
            <tab-heading><flag-icon country="uk"></flag-icon></tab-heading>
            <div ng-bind-html="artwork.credits_en|markdown"></div>
          </tab>
        </tabset>

      </tab>
      <tab>
        <tab-heading>
          <i class="glyphicon glyphicon-picture"></i>&nbsp;Media
        </tab-heading>

        <h4><i class="glyphicon glyphicon-picture"></i>&nbsp;Visuel principal</h4>
        <fresnoy-gallery gallery="main_picture_gallery"></fresnoy-gallery>

        <div class="clearfix"></div>

        <div ng-if="artwork.in_situ_galleries.length">
          <h4><i class="glyphicon glyphicon-map-marker"></i>&nbsp;In Situ</h4>
          <div ng-repeat="gallery in artwork.in_situ_galleries">
            <h5>{{ gallery.label }} ({{ gallery.description }})</h5>
            <fresnoy-gallery gallery="gallery"></fresnoy-gallery>
            <div class="clearfix"></div>
          </div>
        </div>

        <div ng-if="artwork.mediation_galleries.length">
          <h4><i class="glyphicon glyphicon-user"></i>&nbsp;Médiation</h4>
          <div ng-repeat="gallery in artwork.mediation_galleries">
            <h5>{{ gallery.label }} ({{ gallery.description }})</h5>
            <fresnoy-gallery gallery="gallery"></fresnoy-gallery>
            <div class="clearfix"></div>
          </div>
        </div>

        <div ng-if="artwork.press_galleries.length">
          <h4><i class="glyphicon glyphicon-paperclip"></i>&nbsp;Presse</h4>
          <div ng-repeat="gallery in artwork.press_galleries">
            <h5>{{ gallery.label }} ({{ gallery.description }})</h5>
            <fresnoy-gallery gallery="gallery"></fresnoy-gallery>
            <div class="clearfix"></div>
          </div>
        </div>

        <div ng-if="artwork.process_galleries.length">
          <h4><i class="glyphicon glyphicon-cog"></i>&nbsp;Processus</h4>
          <div ng-repeat="gallery in artwork.process_galleries">
            <h5>{{ gallery.label }} ({{ gallery.description }})</h5>
            <fresnoy-gallery gallery="gallery"></fresnoy-gallery>
            <div class="clearfix"></div>
          </div>
        </div>


      </tab>
    </tabset>
  </div>

  <div class="col-md-2 sidebar">
    <h3><i class="glyphicon glyphicon-bullhorn"></i>&nbsp;Diffusions</h3>
    <ul>
      <li ng-repeat="event in events">{{ event.title }}</li>
    </ul>

    <h3><i class="glyphicon glyphicon-th-large"></i>&nbsp;Partenaires</h3>
    <ul>
      <li ng-repeat="partner in artwork.partners">{{ partner.name }}</li>
    </ul>

  </div>


</div>
