<div class="candidatures" ng-if="!user.is_superuser">
        <div class="centered">
          <h2 class="text-center">Veuillez vous connecter <span ng-show="isAuthenticated"><br/>avec un compte administrateur<br/></span> pour acceder à cette page</h2>
        </div>
</div>
<div class="candidatures" ng-if="user.is_superuser">
  <div class="row">

    <div class="col-md-12">
      <h1>Candidatures ({{ candidatures_filtered.length }})</h1>
      <div class="row">
        <div class="col-md-3">
          <select id="gender" ng-change="show_candidatures(critere)" ng-model="critere" name="cShow">
             <option ng-repeat="(item, value) in select_critere" value="{{value}}">{{item}} ({{ count_candidatures(value) }})</option>
          </select>
        </div>
        <div class="col-md-3">
          <select id="gender" ng-change="order_candidatures(order, critere)" ng-model="order" name="cSort">
             <option ng-repeat="(item, value) in select_order" value="{{value}}">{{item}}</option>
          </select>
        </div>

        <div class="col-md-3">
          <input type="text"
             ng-model="search_candidat"
             ng-change="search(search_candidat)"
             placeholder="Recherche"
             />
        </div>



      </div>

      <ng-include src="'views/partials/candidat_card.html'" ng-repeat="candidature in candidatures_filtered"></ng-include>
    </div>

  </div>
</div>
