<div class="candidat" ng-if="!user.is_superuser">
        <div class="centered">
          <h2 class="text-center">Veuillez vous connecter <span ng-show="isAuthenticated">(avec un compte admin!)</span> avec un compte admin pour acceder à cette page</h2>
        </div>
</div>
<div class="candidat" ng-if="user.is_superuser">
  <div class="info col-xs-9 col-md-9 col-lg-9">
    <h1>
        {{ artist.user.first_name }}  {{ artist.user.last_name }}
      </h1>

    <p><i class="glyphicon glyphicon-dashboard"></i>&nbsp;
        Inscription n° {{ candidature.current_year_application_count }}</p>

    <p><i class="glyphicon glyphicon-flag"></i>&nbsp;Nationalité(s)</p>
    <ul class="list-inline">
      <li class="website" ng-repeat="nationality in artist.user.profile.nationality.split(', ')">
        <span class="flag-icon flag-icon-{{nationality | lowercase}}" title="{{country.codeToCountry[nationality]}}">
          {{country.codeToCountry[nationality]}}
        </span>
      </li>
    </ul>
    <i class="glyphicon glyphicon-link"></i>&nbsp;Web :
    <ul class="list-inline">
      <li class="website" ng-repeat="website in artist.websites">
        <a href="{{ website.link }}" target="_blank">{{ website.link }}</a>
      </li>
    </ul>
  </div>

  <div class="photo col-xs-3 col-md-3 col-lg-3">
    <div class="thumbnail" ng-if="artist.user.profile.photo" >
      <img src="{{artist.user.profile.photo}}" height="300px" />
    </div>
  </div>

  <div class="info col-xs-9 col-md-9 col-lg-9">

    <div class="person">
      <p>
        Né(e) en {{country.codeToCountry[artist.user.profile.birthplace_country]}} le {{ artist.user.profile.birthdate }}
        ({{artist.user.profile.birthdate | ageFilter}} ans) - <a target="_blank" ng-href="{{candidature.identity_card}}">Justificatif</a>
        <br/>Genre :  {{ gender[artist.user.profile.gender].fr }}
      </p>

      <iframe  class="print" width="100%" height="100%" ng-if='candidature.identity_card'
        src="{{trustSrc(candidature.identity_card)}}"></iframe>
      <br/>
      <strong><i class="glyphicon glyphicon-home"></i> Adresse</strong>
      <p>
          {{artist.user.profile.homeland_address}}<br/>
          {{artist.user.profile.homeland_zipcode}}<br/>
          {{artist.user.profile.homeland_town}}<br/>
          {{country.codeToCountry[artist.user.profile.homeland_country]}}<br/>
      </p>



      <div ng-if="artist.user.profile.cursus">
        <h3>Cursus</h3>
        <div ng-bind-html="artist.user.profile.cursus|markdown"></div>
      </div>





      <div class="links">
        <ul>
          <li class="phone">
            <i class="glyphicon glyphicon-earphone"></i>&nbsp;<a href="tel:{{artist.user.profile.homeland_phone}}" class="" target="_blank">{{ artist.user.profile.homeland_phone }}</a>
          </li>
          <li class="websites" ng-if="artist.websites.length">

          </li>

        </ul>
      </div>
    </div>
  </div>



</div>
