<div class="candidat" ng-if="!user.is_superuser">
        <div class="centered">
          <h2 class="text-center">Veuillez vous connecter <span ng-show="isAuthenticated">(avec un compte admin!)</span> avec un compte admin pour acceder à cette page</h2>
        </div>
</div>
<div class="candidat" ng-if="user.is_superuser">


  <div class="photo visible-xs col-xs-12">
    <!-- MOBILE VIEW -->
    <div class="thumbnail" ng-if="artist.user.profile.photo" >
      <img src="{{artist.user.profile.photo}}" />
    </div>
    <!-- WEB -->
    <div ng-if='artist.websites.length' >
      <i class="glyphicon glyphicon-link"></i>&nbsp;Web :
        <span class="website" ng-repeat="website in artist.websites track by $index">
          <a href="{{ website.link }}" target="_blank">{{ $(website.link).attr('hostname'); }}</a>
        </span>
    </div>
    <!-- LAST APPLICATIONS -->
    <p ng-if="candidature.last_applications_years">A déjà candidaté en {{candidature.last_applications_years}}</p>
    <p ng-if="!candidature.last_applications_years">Première candidature</p>

    <!-- ITW -->
    <p ng-if="candidature.remote_interview">Désire passer l'entretien par Skype</p>


  </div>
  <div class="info col-md-9 col-lg-9">
    <h1>
        {{ artist.user.first_name }}  {{ artist.user.last_name }}
      </h1>

    <p><i class="glyphicon glyphicon-dashboard"></i>
        Inscription n° {{ candidature.current_year_application_count }}</p>
    <p><i class="glyphicon glyphicon-flag"></i>&nbsp;Nationalité(s)</p>
    <ul class="list-inline">
      <li class="nationality" ng-repeat="nationality in artist.user.profile.nationality.split(', ') track by $index">
        <span class="flag-icon flag-icon-{{nationality | lowercase}}" title="{{country.codeToCountry[nationality]}}"></span>
      </li>
    </ul>
    <br/>
    <div ng-if="candidature.presentation_video">
      <i class="glyphicon glyphicon-facetime-video"></i>&nbsp;
      <a class="pointer" ng-click='singleLightbox(candidature.presentation_video, candidature.presentation_video_details)'>
        Voir la vidéo de 8 minutes</a>
      <span ng-show="candidature.presentation_video_password!=''">
          <br/>
          <div class="btn btn-info" clipboard text='candidature.presentation_video_password'
            on-copied="copySuccess()" on-error="copyFail(err)"
            title="Copier le mot de passe de la vidéo dans le presse papier !">
            <span class="glyphicon glyphicon-copy"></span>
            Copier le mot de passe
          </div>
          <div ng-click="resetCopy()" ng-if="password_to_clipboard === true" class="btn alert-success" role="alert">
            Mot de passe copié dans le presse papier
            <button type="button"  class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div ng-if="password_to_clipboard === false"  class="btn alert-danger" role="alert">
            Erreur de copie du mot de passe : {{ candidature.presentation_video_password }}
            <button type="button"   class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
      </span>
    </div>
    <div ng-if="!candidature.presentation_video">
      <span class="text-danger warning">Vidéo absente</span>
    </div>
    <div ng-if="candidature.presentation_video_details" class="pointer" ng-init="show_video_details = false">
      <p ng-click="show_video_details = !show_video_details">
        Voir la description de la vidéo
        <i ng-class="{'glyphicon-triangle-bottom':!show_video_details, 'glyphicon-triangle-top':show_video_details  }" class="small glyphicon glyphicon-triangle-bottom"></i>
      </p>
      <p ng-show="show_video_details" ng-bind-html="candidature.presentation_video_details | linky:'_blank' | nl2br  " />
    </div>
  </div>

  <div class="photo hidden-xs col-md-3 col-lg-3">
    <div class="thumbnail" ng-if="artist.user.profile.photo" >
      <img src="{{artist.user.profile.photo}}" />
    </div>

    <!-- WEB -->
    <div ng-if='artist.websites.length' >
      <i class="glyphicon glyphicon-link"></i>&nbsp;Web :
        <span class="website" ng-repeat="website in artist.websites track by $index">
          <a href="{{ website.link }}" title="{{ website.link }}" target="_blank">{{ website.link }}</a>
        </span>
    </div>
    <!-- LAST APPLICATIONS -->
    <p ng-if="candidature.last_applications_years">Candidaté en {{candidature.last_applications_years}}</p>
    <p ng-if="!candidature.last_applications_years">Première candidature</p>

    <!-- ITW -->
    <p ng-if="candidature.remote_interview">Désire passer l'entretien par Skype</p>
  </div>

  <div class="info col-xs-12 col-md-12 col-lg-12">
      <tabset class="api-field">
        <!-- Desciption  tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="admin-infos" class="">
            <a data-target ="#admin-infos" role="tab" data-toggle="tab">
              Infos
            </a>
          </li>
          <li role="contact" class="">
            <a data-target ="#contact" role="tab" data-toggle="tab">
              Contact
            </a>
          </li>
          <li role="cursus" class="">
            <a data-target ="#cursus" role="tab" data-toggle="tab">
              Cursus
            </a>
          </li>
          <li role="intentions" class="active">
            <a data-target ="#intentions" role="tab" data-toggle="tab">
              Intentions
            </a>
          </li>
          <li role="message" class="">
            <a data-target ="#message" role="tab" data-toggle="tab">
              Message
            </a>
          </li>
          <li role="observations" class="admin">
            <a data-target ="#observations" role="tab" data-toggle="tab">
              Notes du Jury
            </a>
          </li>
          <li role="actions" class="admin">
            <a data-target ="#actions" role="tab" data-toggle="tab">
              Actions
            </a>
          </li>
        </ul>
          <!-- Desciption  content -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="admin-infos">
            <div class="person">
              <p>
                Né(e) en {{country.codeToCountry[artist.user.profile.birthplace_country]}} le {{ artist.user.profile.birthdate }}
                ({{artist.user.profile.birthdate | ageFilter}} ans) -
                  <a ng-show='candidature.identity_card' ng-click='singleLightbox(candidature.identity_card,"Justificatif d’identité")'>Justificatif</a>
                  <span ng-if='!candidature.identity_card' class="text-danger warning">Justificatif d'identité absent</span>
                <br/>Genre :  {{ gender[artist.user.profile.gender].fr }}
                <br/>Statut familial : {{artist.user.profile.family_status}}
              </p>
              <br/>

            </div>
            <p>Numéro de Sécurité sociale : {{artist.user.profile.social_insurance_number}}</p>

          </div>



          <div role="tabpanel" class="tab-pane" id="contact">
            <h3>Contact</h3>
            <i class="glyphicon glyphicon-earphone"></i>&nbsp;<a href="tel:{{artist.user.profile.homeland_phone}}" class="" target="_blank">{{ artist.user.profile.homeland_phone }}</a>
            <br/>
            <i class="glyphicon glyphicon-envelope"></i>&nbsp;<a href="mailto:{{artist.user.email}}" class="" target="_blank">{{ artist.user.email }}</a>
            <br/>
            <i class="glyphicon glyphicon-facetime-video"></i>&nbsp;Skype : <a href="skype:{{candidature.remote_interview_info}}?call" class="">{{ candidature.remote_interview_info }}</a>
            <br/>
            <i class="glyphicon glyphicon-bullhorn" title="Langues parlées"></i>&nbsp; Langues parlées :
            <span class="name" ng-bind="LANGUAGES_NAME_short[artist.user.profile.mother_tongue].englishName.split('(')[0]" />
            <span ng-if="artist.user.profile.other_language">
              <span class="language" ng-repeat="language in artist.user.profile.other_language.split(', ')  track by $index">,
                <span class="name" ng-bind="LANGUAGES_NAME_short[language].englishName.split('(')[0]" /></span>
            </span>
            <br/>
            <p><i class="glyphicon glyphicon-home"></i> Adresse :<br/>
                <span ng-bind-html="artist.user.profile.homeland_address | nl2br" /><br/>
                {{artist.user.profile.homeland_zipcode}}
                {{artist.user.profile.homeland_town}}<br/>
                {{country.codeToCountry[artist.user.profile.homeland_country]}}<br/>
            </p>
          </div>



          <div role="tabpanel" class="tab-pane" id="cursus">
            <h3>Cursus</h3>
            <a ng-show="candidature.curriculum_vitae" ng-click='singleLightbox(candidature.curriculum_vitae, "CV")'>Consulter le CV</a>
              <span ng-if='!candidature.curriculum_vitae' class="text-danger warning">CV absent</span>
            <p ng-if='candidature.master_degree=="Y"'>Diplome : Bac +5</p>
            <p ng-if='candidature.master_degree=="P"'>Diplome : Bac +5 en cours</p>
            <p ng-if='candidature.master_degree=="N"'>
              Pas de Bac +5 :
              <a ng-if="candidature.experience_justification" ng-click='singleLightbox(candidature.experience_justification, "7 années Expérience artistiques jusification")' target="_blanck">
                Consulter le justificatif d'expérience artistique</a>
                <span ng-if='!candidature.experience_justification' class="text-danger warning">Justificatif d'expérience artistique absent</span>
            </p>
            <div ng-if="candidature.cursus_justifications.media.length">
              <h4>Justificatifs de diplômes</h4>
              <ul>
              <li class="justificatifs" ng-repeat="justif in candidature.cursus_justifications.media track by $index">
                <a ng-click='singleLightbox(justif.file || justif.picture, justif.label)'>{{justif.label}} </a> /
              </li>
              </ul>
            </div>
            <span ng-if='!candidature.cursus_justifications.media.length && !candidature.experience_justification'
              class="text-danger warning">Pas de justificatifs de diplômes</span>

            <div ng-if="candidature.free_document">
              <h4>Document libre / Portfolio</h4>
              <p>
                <a ng-click='singleLightbox(candidature.free_document, "Document libre")'>Consulter le document</a>
              </p>
            </div>

            <h4>Résumé du parcours artistique</h4>
            <p ng-bind-html="artist.user.profile.cursus | nl2br" />

          </div>



        <div role="tabpanel" class="tab-pane active" id="intentions">
          <h3>Intentions</h3>
          <a ng-if='candidature.justification_letter'
            ng-click='singleLightbox(candidature.justification_letter, "Lettre de motivation")' >
            Lire la lettre de motivation </a>
            <span ng-if='!candidature.justification_letter' class="text-danger warning">Lettre de motivation absente</span>
          <br/>
          <div ng-if="candidature.binomial_application">
            <h4>Candidature en binôme</h4>
            <p>Candidate en binôme avec : <a ui-sref="candidatures.list.candidat({id: binominal_link_id})" ng-click="$parent.$parent.candidat_id = binominal_link_id;">{{candidature.binomial_application_with}}</a></p>
            <span ng-if='!candidature.binomial_application_with' class="text-danger warning">Nom du binome absent</span>
          </div>
          <h4>Projet 1ere année</h4>
          <a ng-if='candidature.considered_project_1'
            ng-click='singleLightbox(candidature.considered_project_1, "Projet de première année")' >
            Consulter la description du projet de première année</a>
            <span ng-if='!candidature.considered_project_1' class="text-danger warning">Description absente</span>
          <br/>
          <a ng-if='candidature.artistic_referencies_project_1'
            ng-click='singleLightbox(candidature.artistic_referencies_project_1, "Références artistiques du projet de première année")' >
            Consulter les références artistiques pour ce projet</a>
            <span ng-if='!candidature.artistic_referencies_project_1' class="text-danger warning">Références absentes</span>
          <h4>Projet 2nd année</h4>
          <a ng-if='candidature.considered_project_2'
            ng-click='singleLightbox(candidature.considered_project_2, "Projet de deuxième année")' >
            Consulter la description du projet de deuxième année</a>
            <span ng-if='!candidature.considered_project_2' class="text-danger warning">Description absente</span>
          <br/>
          <a ng-if='candidature.artistic_referencies_project_2'
            ng-click='singleLightbox(candidature.artistic_referencies_project_2, "Références artistiques du projet de deuxième année")' >
            Consulter les références artistiques pour ce projet</a>
            <span ng-if='!candidature.artistic_referencies_project_2' class="text-danger warning">Références absentes</span>
          <div ng-if="candidature.doctorate_interest">
            <h4>Doctorat</h4>
            <p>Interêt pour le cursus doctoral</p>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="message">
          <h3>Message</h3>
          <p ng-bind-html="candidature.remark | linky:'_blank' | nl2br" />
        </div>

        <div role="tabpanel" class="tab-pane admin" id="observations">
            <h3>Notes du jury</h3>

              <p>Ces notes sont partagées avec le jury</p>
               <textarea
                  ng-model="jury_observation"
                  ng-model-options='{ debounce: 1000 }'
                  ng-change="add_observation('jury', jury_observation )"
                  placeholder="Message"
                  rows="10"
                  />

              <h3>Mes notes</h3>
              <p>Ces notes sont personnelles <br/>
                <small>Utilisateur: <strong>{{user.username}}</strong></small></p>
                  <textarea
                     ng-model="personal_observation"
                     ng-model-options='{ debounce: 1000 }'
                     ng-change="add_observation(user.username, personal_observation)"
                     placeholder="Message"
                     rows="10"
                     />


        </div>


        <div role="tabpanel" class="tab-pane admin" id="actions">
          <h3>Actions</h3>
          <p>Statut :
            <span ng-show="candidature.unselected">Ce candidat n'a pas été selectionné par le jury</span>
            <span ng-show="!candidature.unselected && candidature.application_completed && !candidature.application_complete">En attente de validation</span>
            <span ng-show="!candidature.unselected && candidature.application_completed && candidature.application_complete && !candidature.wait_listed_for_interview && !candidature.selected_for_interview && !candidature.wait_listed && !candidature.selected">
              Candidature visée</span>
            <span ng-show="!candidature.unselected && candidature.application_complete && candidature.wait_listed_for_interview && !candidature.selected_for_interview && !candidature.wait_listed && !candidature.selected">
              En liste d'attente pour l'entretien
            </span>
            <span ng-show="!candidature.unselected && candidature.application_complete && candidature.selected_for_interview && !candidature.wait_listed && !candidature.selected">
              Sélectionné<ng-pluralize count="artist.user.profile.gender.indexOf('F')" when="{'0': 'e'}"></ng-pluralize> pour l'entretien
              <span ng-class='{"alert-danger":!candidature.interview_date}'>le <em>{{ candidature.interview_date | date : "EEEE d MMMM yyyy à HH'h'mm" | translate_en_to_fr }}</em></span>
            <span ng-show="!candidature.unselected && candidature.application_complete && candidature.selected_for_interview && candidature.wait_listed && !candidature.selected">
              Admis<ng-pluralize count="artist.user.profile.gender.indexOf('F')" when="{'0': 'e'}"></ng-pluralize> sur liste d'attente
            </span>
            <span ng-show="!candidature.unselected && candidature.application_complete && candidature.selected_for_interview && !candidature.wait_listed && candidature.selected">
              Admis<ng-pluralize count="artist.user.profile.gender.indexOf('F')" when="{'0': 'e'}"></ng-pluralize>
            </span>



            <div ng-show="!candidature.unselected">

                <!-- STATE 1 = Candidature completed => Candidature complete  -->
                <div ng-show="candidature.application_completed && !candidature.application_complete" ng-init="click_cComplete=false" >
                  <button ng-show="!click_cCompleted" type="button" ng-click='click_cComplete=!click_cComplete' class="btn btn-success btn-md">
                    Cette candidature est complète</button>
                  <div ng-show="click_cComplete" >
                    <p class="alert alert-warning" role="alert">
                      Attention cette action valide cette candidature pour consultation du jury
                      <br/>Cette action <strong>envoie un email</strong> automatique au Candidat
                    </p>
                    <button type="button"
                      ng-click="candidature.application_complete = true;
                      candidature.patch({application_complete: candidature.application_complete});
                      click_cComplete=false"
                      class="btn btn-primary btn-md btn-success">Valider</button>
                    <button type="button" ng-click='click_cComplete=false' class="btn btn-primary btn-md btn-danger">Annuler</button>
                  </div>

                  <button ng-show="!click_cComplete" type="button" ng-click='click_cCompleted=!click_cCompleted' class="btn btn-warning btn-md">
                    Rendre cette candiature rééditable pour que <span ng-bind="artist.user.first_name" /> puisse la compléter</button>
                  <div ng-show="click_cCompleted" >
                    <p class="alert alert-warning" role="alert">
                      Attention cette action permettra au candidat de rééditer sa candidature (n'envoie aucun email)
                      <br/> Vous ne pourrez plus accéder à la candidature tant <span ng-bind="artist.user.first_name" />
                      n'a pas revalidé son dossier
                    </p>
                    <button type="button"
                      ng-click="candidature.application_completed = false; candidature.patch({application_completed: candidature.application_completed})"
                      class="btn btn-primary btn-md btn-success">Valider</button>
                    <button type="button" ng-click='click_cCompleted=false' class="btn btn-primary btn-md btn-danger">Annuler</button>
                  </div>

                </div>






                <!-- STATE 2 = Candidature complete => Candidature interview  -->
                <div ng-show="candidature.application_complete && !candidature.selected_for_interview && !candidature.wait_listed && !candidature.selected" ng-init="click_cInterview=false" >
                  <button ng-show="!click_cInterview_wait" type="button"
                    ng-click='click_cInterview=!click_cInterview' class="btn btn-primary btn-md btn-block">
                      Sélectionné<ng-pluralize count="artist.user.profile.gender.indexOf('F')" when="{'0': 'e'}">
                      </ng-pluralize>
                    pour l'entretien</button>
                  <div ng-show="click_cInterview" ng-init="itw_modif=false" >
                    <div ng-show="!candidature.interview_date || itw_modif==true">
                      Le
                      <input type="date" size=50 name="cItwDate" ng-model="itw_date" />
                      à
                      <input  type="time" size=50 name="cItwTime" ng-model="itw_date"/>
                      <button class="btn btn-success" ng-click="
                                        candidature.interview_date = (itw_date | date:'yyyy-MM-ddTHH:mm:ss');
                                        candidature.patch({'interview_date': candidature.interview_date});
                                        itw_modif=false;
                                        " >Valider</button>
                    </div>
                    <div ng-show="candidature.interview_date && itw_modif==false">
                       Le {{ candidature.interview_date | date : "EEEE d MMMM yyyy à HH'h'mm" | translate_en_to_fr }}
                       <a ng-class='{"alert-link":!candidature.interview_date}' ng-click="itw_modif=true" ><i class="glyphicon glyphicon-edit"></i> </a>
                        <p class="alert alert-warning" role="alert">
                          Attention cette action selectionne le candidat pour l'entretien
                          <br/><strong>Cette action <big>envoie un email avec le rendez-vous</big> au candidat !</strong>
                        </p>
                        <button type="button"
                          ng-click="candidature.selected_for_interview = true; candidature.wait_listed_for_interview = false;
                          candidature.patch({selected_for_interview: candidature.selected_for_interview, wait_listed_for_interview: candidature.wait_listed_for_interview });
                          click_cInterview=false"
                          class="btn btn-primary btn-md btn-warning">Valider</button>
                        <button type="button" ng-click='click_cInterview=false; click_cInterview_wait=false' class="btn btn-primary btn-md btn-danger">Annuler</button>
                    </div>
                  </div>

                </div>

                <!-- STATE 2 = Candidature complete => Candidature waiting list interview  -->
                <div ng-show="candidature.application_complete && !candidature.selected_for_interview && !candidature.wait_listed_for_interview && !candidature.wait_listed && !candidature.selected" ng-init="click_cInterview=false" >
                  <button ng-show="!click_cInterview" type="button"
                    ng-click='click_cInterview_wait=!click_cInterview_wait' class="btn btn-outline-primary btn-md btn-block">
                    <span class="glyphicon glyphicon-time"> </span>
                    Sélectionné<ng-pluralize count="artist.user.profile.gender.indexOf('F')" when="{'0': 'e'}"></ng-pluralize>
                    en liste d'attente pour l'entretien </button>


                  <div ng-show="click_cInterview_wait" >

                    <p ng-show="candidature.interview_date" class="alert alert-warning" role="alert">
                      Attention cette action selectionne le candidat sur la liste d'attente pour l'entretien
                      <br/><strong>Cette action n'envoie pas d'email au candidat !</strong>
                    </p>
                    <button type="button"
                      ng-click="candidature.wait_listed_for_interview = true;
                      candidature.patch({wait_listed_for_interview: candidature.wait_listed_for_interview});
                      click_cInterview=false; click_cInterview_wait=false"
                      class="btn btn-primary btn-md btn-warning">Valider</button>
                    <button type="button" ng-click='click_cInterview=false; click_cInterview_wait=false' class="btn btn-primary btn-md btn-danger">Annuler</button>
                  </div>

                </div>

                <!-- STATE 3 = Candidature interview => Candidature liste d'attente  -->
                <div ng-show="candidature.selected_for_interview && !candidature.wait_listed" ng-init="click_cWaitListed=false" >

                    <button type="button" ng-click='click_cWaitListed=!click_cWaitListed' class="btn btn-primary btn-md btn-block">
                      Admis<ng-pluralize count="artist.user.profile.gender.indexOf('F')" when="{'0': 'e'}"></ng-pluralize> sur liste d'attente</button>
                    <div ng-show="click_cWaitListed" >
                      Date :
                        <input type="date" size=50 name="cItwDate" ng-model="itw_date" />
                        à
                        <input  type="time" size=50 name="cItwTime" ng-model="itw_date"/>

                        <button class="btn btn-success" ng-click="
                                          candidature.interview_date = (itw_date | date:'yyyy-MM-ddTHH:mm:ss');
                                          candidature.patch({'interview_date': candidature.interview_date});
                                          itw_modif=!itw_modif;
                                          " >Valider</button>

                        <!-- // SET DATE D'ENTRETIEN -->

                      <p class="alert alert-warning" role="alert">
                        Attention cette action selectionne le candidat pour la liste d'attente
                        <br/><strong>Cette action n'envoie pas d'email au candidat !</strong>
                      </p>
                      <button type="button"
                        ng-click="candidature.wait_listed = true;
                        candidature.selected = false;
                        candidature.patch({wait_listed: candidature.wait_listed, selected: candidature.selected});
                        click_cWaitListed=false;"
                        class="btn btn-primary btn-md btn-warning">Valider</button>
                      <button type="button" ng-click='click_cWaitListed=false' class="btn btn-primary btn-md btn-danger">Annuler</button>
                    </div>


                </div>

                <!-- STATE 4 = Candidature interview => Candidature liste d'attente  -->
                <div ng-show="candidature.selected_for_interview && !candidature.selected" ng-init="click_cSelected=false" >

                    <button type="button" ng-click='click_cSelected=!click_cSelected' class="btn btn-success btn-md btn-block">
                      Admis<ng-pluralize count="artist.user.profile.gender.indexOf('F')" when="{'0': 'e'}"></ng-pluralize></button>
                    <div ng-show="click_cSelected" >
                      <p class="alert alert-warning" role="alert">
                        Attention cette action selectionne le candidat pour la rentrée prochaine
                        <br/><strong>Cette action n'envoie pas d'email au candidat !</strong>
                      </p>
                      <button type="button"
                        ng-click="candidature.selected = true;
                        candidature.wait_listed = false;
                        candidature.patch({selected: candidature.selected, wait_listed: candidature.wait_listed});
                        click_cSelected=false;"
                        class="btn btn-primary btn-md btn-warning">Valider</button>
                      <button type="button" ng-click='click_cSelected=false' class="btn btn-primary btn-md btn-danger">Annuler</button>
                    </div>


                </div>
                <!-- ANNULATIONS -->
                <!-- entretien -->
                <button ng-show="candidature.selected_for_interview && !candidature.wait_listed && !candidature.selected "
                type="button" ng-click="candidature.selected_for_interview = false;
                candidature.patch({selected_for_interview: candidature.selected_for_interview});
                " class="btn btn-outline-secondary btn-md btn-block">
                  Ne plus sélectionner pour l'entretien</button>

                <!-- liste d'attente -->
                <button ng-show="candidature.selected_for_interview && candidature.wait_listed && !candidature.selected "
                type="button" ng-click="candidature.wait_listed = false;
                candidature.patch({wait_listed: candidature.wait_listed});" class="btn btn-outline-secondary btn-md btn-block">
                  Retirer des admis en liste d'attente</button>

                  <!-- liste d'attente -->
                  <button ng-show="candidature.selected_for_interview && !candidature.wait_listed && candidature.selected "
                  type="button" ng-click="candidature.selected = false;
                  candidature.patch({selected: candidature.selected});" class="btn btn-outline-secondary btn-md btn-block">
                    Retirer des admis</button>

            </div>

            <!-- UNSELECT  -->
            <hr />
            <br />
            <div ng-show="!candidature.unselected">
              <button type="button" ng-click='click_unselect=!click_unselect' class="btn btn-danger btn-md btn-block">
                Ne pas selectionner cette candidature
              </button>
              <div ng-show="click_unselect" >
                <p class="alert alert-warning" role="alert">
                  Attention cette action refuse le candidat à la selection
                  <br/><strong>Cette action n'envoie pas d'email au candidat !</strong>
                </p>
                <button type="button"
                  ng-click="candidature.unselected = true;
                  candidature.patch({unselected: candidature.unselected});
                  click_unselect=false"
                  class="btn btn-primary btn-md btn-danger">Ne pas sélectionner ce candidat</button>
                <button type="button" ng-click='click_unselect=false' class="btn btn-primary btn-md btn-warning">Annuler</button>
              </div>

            </div>








            </div>




          <br/>




        </div>



        </div>
      </tabset>
  </div>



</div>
