<div class="candidatures" ng-if="!user.is_superuser">
        <div class="centered">
          <h2 class="text-center">Veuillez vous connecter <span ng-show="isAuthenticated"><br/>avec un compte administrateur<br/></span> pour acceder à cette page</h2>
        </div>
</div>
<div class="candidatures" ng-if="user.is_superuser">
  <div class="row">

    <div class="col-md-12">

      <h1>Candidatures ({{ candidatures.length }})

        <a ng-click='download_data = make_data()' ng-href="{{download_data}}" target="_blank"
      download="candidatures_{{sortby.title}}_{{today|date:'dd.MM.y_hh.mm.ss'}}.csv" type="button"
      ng-style="{'opacity': (loading.status() != 0) ? '0.5':'1'  }"
       class="btn btn-success btn-xs pull-right hidden-xs">
       <span ng-show="loading.status() == 0">Télécharger le fichier Excel</span>
       <span ng-show="loading.status() != 0">{{(100*loading.status())| number:0}}%</span>
      </a>

      </h1>


      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="col-md-6" ng-show="!show_order_param">

            <p>Rechercher un(e) candidat(e)</p>

             <div class="inner-addon right-addon">
               <i class="glyphicon glyphicon-search"></i>
               <input type="text" class="form-control"
                  type="text"
                  ng-model="search_candidat"
                  ng-change="search(search_candidat)"
                  placeholder="Rechercher un candidat" />
             </div>

          </div>
          <div class="col-md-6" ng-show="!show_order_param" ng-init='show_order_param = false'>
            <p>Filter / classer les candidatures</p>
             <div class="btn-group " ng-click="show_order_param=true">

                 <span class="btn btn-default">{{select_criteres[critere].title}} ({{select_criteres[critere].count}})</span>

                 <span type="button" class="btn btn-default">{{select_orders[order].title}}</span>

                 <span type="button" class="btn btn-default " ng-class="{'dropup': asc!='true'}"><span class="caret"></span>

            </div>

          </div>

          <div class="col-xs-12 col-md-12" ng-show="show_order_param">
              <label>Afficher les candidatures : </label>
              <select ng-model="critere">
                <option ng-repeat="item in select_criteres track by $index"
                value="{{$index}}">{{item.title}} ({{item.count}})</option>
              </select>

              <label>Trier les candidatures par : </label>
              <select ng-model="order">
                <option ng-repeat="item in select_orders track by $index"
                value="{{$index}}">{{item.title}}</option>
              </select>

              <label>Ordre : </label>
              <select ng-model="asc">
                <option value="true" ng-selected="asc == 'true'">Ascendant</option>
                <option value="false" ng-selected="asc == 'false'">Descendant</option>
              </select>

              <hr/>
                <a class="btn block btn-success" ui-sref="{sortby: critere, orderby: order, asc: asc}">
                  Valider
                </a>

                <a class="btn block btn-default" ng-click="show_order_param=!show_order_param">
                  Annuler
                </a>

          </div>


        </div><!-- 12 -->

      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6" ng-class="{'hidden-xs' : candidat_id}" ng-show="!show_order_param">
          <ng-include src="'views/partials/candidat_card.html'" ng-repeat="candidature in candidatures track by $index"></ng-include>
        </div>
        <div ng-show="candidat_id" class="col-xs-12 col-md-6" ng-show="!show_order_param">

          <div ui-view="candidat_view" class="candidat_view">
            <a ui-sref="candidatures" ng-click="candidat_id = null">X</a>
          </div>
        </div>
      </div>

      <table style="width:100%" id="data_candidatures" class="hidden">
        <tr><th>Version du {{ today | date :  "dd.MM.y - hh:mm" }} //// {{ today.getTime() }}</th></tr>
        <tr><th></th></tr>
        <tr>
          <th>Date arrivée</th>
          <th>Nom / n° dossier</th>
          <th>Prénom</th>
          <th>Sexe</th>
          <th>Date naiss</th>
          <th>Nationalité</th>
          <th>Email	</th>
          <th>Adresse postale</th>
          <th>Matériel</th>
          <th>Oral	</th>
          <th>Note finale	</th>
          <th>SKYPE	</th>
          <th>Note sélection 2</th>
          <th>Note sélection 3</th>
          <th>Diplôme	</th>
          <th>Observations/commission	</th>
        </tr>
        <tr ng-repeat="candidature in candidatures">
            <th>{{candidature.created_on.split("T")[0] | date:'dd/MM'}}</th>
            <th>{{candidature.artist.user.last_name}} {{(candidature.current_year_application_count)}}</th>
            <th>{{candidature.artist.user.first_name}}</th>
            <th>{{candidature.artist.user.profile.gender}}</th>
            <th>{{candidature.artist.user.profile.birthdate | date:'dd/MM/yyyy' }}</th>
            <th>
              <span ng-repeat="nationality in candidature.artist.user.profile.nationality.split(', ') track by $index">
                {{country.codeToCountry[nationality]}}
              </span>
            </th>
            <th>{{candidature.artist.user.email}}</th>
            <th>{{candidature.artist.user.profile.homeland_adress}}
              {{candidature.artist.user.profile.homeland_zipcode}}
              {{candidature.artist.user.profile.homeland_town}}</th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{candidature.remote_interview ? 'X' : ''}}	</th>
            <th></th>
            <th></th>
            <th>
              <span class="justificatifs" ng-repeat="justif in candidature.cursus_justifications.media track by $index">
                {{justif.label}}
              </span>
            </th>
            <th></th>
        </tr>
      </table>


    </div>

  </div>
</div>
