<div class="candidatures" ng-if="!user.is_superuser">
        <div class="centered">
          <h2 class="text-center">Veuillez vous connecter <span ng-show="isAuthenticated"><br/>avec un compte administrateur<br/></span> pour acceder à cette page</h2>
        </div>
</div>
<div class="candidatures" ng-if="user.is_superuser">
  <div class="row">

    <div class="col-md-12">
      <h1>Candidatures ({{ candidatures_filtered.length }})</h1>
      <div class="row">
        <div class="col-md-3">
          <select
                ng-change="show_candidatures(critere, order)" ng-model="critere" ng-selected="critere"
                ng-options="(item.title+' ('+count_candidatures(item)+')') for item in select_critere" >
                  {{item.title}}({{count_candidatures(item)}})
          </select>
        </div>
        <div class="col-md-3">
          <select
                ng-change="show_candidatures(critere, order)" ng-model="order" ng-selected="order"
                ng-options="item.title for item in select_order" >
                  {{item.title}}
          </select>
        </div>

        <div class="col-md-3">
          <input type="text"
             ng-model="search_candidat"
             ng-change="search(search_candidat)"
             placeholder="Recherche"
             />
        </div>



      </div>

      <ng-include src="'views/partials/candidat_card.html'" ng-repeat="candidature in candidatures_filtered"></ng-include>
    </div>

  </div>
</div>
