<div class="row">
  <div class="col-md-2 sidebar no-print">
    <h2>Promotions</h2>
    <ul class="nav nav-sidebar" class="promotions">
      <li class="promotion" ng-repeat="promotion in promotions">
        <a ui-sref-active="active" ui-sref="school.promotion({id: promotion.id})">
          <span class="label label-primary">{{ promotion.starting_year }}-{{ promotion.ending_year }}</span>
          <span>{{ promotion.name }}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="col-md-10">
    <div ui-view=content_school_view></div>
  </div>

</div>
