<h1><i class="glyphicon glyphicon-user"></i>&nbsp;
  <span ng-if="student.artist.nickname">"{{ student.artist.nickname }}"</span>
  <span ng-if="!student.artist.nickname">{{ student.user.first_name }} {{ student.user.last_name }}</span>
</h1>
<div class="promotion">
  Promotion <a ui-sref="school.promotion({id: promotion.id})">{{ promotion.name }}</a>
</div>

<div class="info col-sm-9">

  <div class="person">

    <h2><i class="glyphicon glyphicon-question-sign"></i>&nbsp;A propos</h2>

    <div ng-if="student.user.birthdate || student.user.birthplace">
      Né(e) <span ng-if="student.user.birthdate">le {{ student.user.birthdate | date : "d MMMM"  | translate_en_to_fr }}</span> <span ng-if="student.user.birthplace">à {{ student.user.birthplace }}</span>.
    </div>

    <div class="links">
      <ul>
        <li class="phone" ng-if="student.user.homeland_phone && isAuthenticated">
          <i class="glyphicon glyphicon-earphone "></i>&nbsp;<a href="tel:{{ student.user.homeland_phone }}" class="" target="_blank">{{ student.user.homeland_phone }}</a>
        </li>
        <li class="websites" ng-if="student.websites.length">
          <i class="glyphicon glyphicon-link"></i>&nbsp;Web :
          <ul>
            <li class="website" ng-repeat="website in student.artist.websites"><a href="{{ website.url }}" target="_blank">{{ website.title_fr }}</a></li>
          </ul>
        </li>
        <li class="socialnetworks">
          <ul>
            <li class="twitter" ng-if="student.twitter_account"><i class="glyphicon glyphicon-comment"></i>&nbsp;<a href="{{ student.twitter_account }}" target="_blank">Twitter</a></li>
            <li class="facebook" ng-if="student.facebook_profile"><i class="glyphicon glyphicon-comment"></i>&nbsp;<a href="{{ student.facebook_profile }}" target="_blank">Facebook</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div>

      <tabset class="api-field">
        <!-- Desciption  tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="text">
              <h3>Biographie</h3>
          </li>
          <li role="presentation" class="active">
            <a data-target ="#bio-fr" aria-controls="description-fr" role="tab" data-toggle="tab">
              <flag-icon country="fr"></flag-icon>
            </a>
          </li>
          <li role="presentation">
            <a data-target ="#bio-en" aria-controls="description-en" role="tab" data-toggle="tab">
              <flag-icon country="uk"></flag-icon>
            </a>
          </li>
          <li ng-if="student.bio_short_fr" role="presentation">
            <a data-target ="#bio-short-fr" aria-controls="bio-short-fr" role="tab" data-toggle="tab">
              Courte <flag-icon country="fr"></flag-icon>
            </a>
          </li>
          <li ng-if="student.bio_short_en" role="presentation">
            <a data-target ="#bio-short-en" aria-controls="bio-short-en" role="tab" data-toggle="tab">
              Courte <flag-icon country="uk"></flag-icon>
            </a>
          </li>
        </ul>
          <!-- Desciption  content -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="bio-fr">
            <div ng-bind-html="student.artist.bio_fr|markdown"></div>
          </div>
          <div role="tabpanel" class="tab-pane" id="bio-en">
            <div ng-bind-html="student.artist.bio_en|markdown"></div>
          </div>
          <div role="tabpanel" class="tab-pane" id="bio-short-fr">
            <div ng-bind-html="student.artist.bio_short_fr|markdown"></div>
          </div>
          <div role="tabpanel" class="tab-pane" id="bio-short-en">
            <div ng-bind-html="student.artist.bio_short_en|markdown"></div>
          </div>

        </div>
      <ul class="nav nav-tabs" role="tablist" ng-if="user.is_superuser" >
        <li role="presentation" class="text">
            <h3>Autres informations</h3>
        </li>

        <li role="presentation">
          <a data-target ="#more-infos" aria-controls="more-infos" role="tab" data-toggle="tab">
             <i class="glyphicon glyphicon-user text-muted"></i>
          </a>
        </li>

        <li role="presentation">
          <a data-target ="#more-cursus" aria-controls="more-cursus" role="tab" data-toggle="tab">
             <i class="glyphicon glyphicon-road text-muted"></i>
          </a>
        </li>
        <li role="presentation">
          <a data-target ="#more-artistic" aria-controls="more-artistic" role="tab" data-toggle="tab">
             <i class="glyphicon glyphicon-eye-open text-muted"></i>
          </a>
        </li>

      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="more-infos">
          <h4>Contact</h4>
          <p>
             Nom : {{more.artist.user.last_name}} - Prénom : {{more.artist.user.first_name}} <br/>
             Nationalité :
             <span class="nationality" ng-repeat="nationality in more.artist.user.profile.nationality.split(', ') track by $index">
                <small title={{country.codeToCountry[nationality]}}>{{nationality}}</small>
             </span> <br/>
             Date de naissance : {{ more.artist.user.profile.birthdate}}<br/>
             Tel : {{ more.artist.user.profile.homeland_phone}}<br/>
             E-mail : {{more.artist.user.email}}<br/>
             Adresse  : <span ng-bind-html="more.artist.user.profile.homeland_address | nl2br" />
             {{more.artist.user.profile.homeland_zipcode}} {{more.artist.user.profile.homeland_town}} {{more.country.codeToCountry[artist.user.profile.homeland_country]}}<br/>
             <span ng-show="more.artist.user.profile.social_insurance_number">Numéro de Sécurité sociale : {{ more.artist.user.profile.social_insurance_number}}</span><br/>
             <span ng-show="more.INE">Numéro INE : {{ more.INE}}</span><br/>
            <a class="pointer" ng-show='more.identity_card' ng-href="{{more.identity_card}}" target="_blank" >Justificatif d'identité</a>
              <br/>
        </p>
        </div>


        <div role="tabpanel" class="tab-pane" id="more-cursus">
          <h4>Cursus</h4>
          <p ng-bind-html="student.user.cursus|markdown"></p>
          <p>Curiculum Vitae : <a ng-show="more.curriculum_vitae" ng-href='{{more.curriculum_vitae}}' target="_blank">{{more.curriculum_vitae}}</a></p>
        </div>

        <div role="tabpanel" class="tab-pane" id="more-artistic">

          <p>
            <span ng-if="more.binomial_application">En binome avec {{more.binomial_application_with}}<br/></span>
          </p>
          <h4>Dans le cadre de sa candidature au Fresnoy</h4>
          <p>
            <span ng-if="more.free_document">Document libre : <a ng-if="more.free_document" class="pointer" ng-href="{{more.free_document}}" target="_blank">{{more.free_document}}</a><br/></span>
              <!-- Propositions -->
            Propositions initiale : <a ng-href="{{more.considered_project_1}}" target="_blank">1ere année</a> / <a ng-href="{{more.considered_project_2}}" target="_blank">2nd année</a>
            <br/>
            <!-- VIDEO -->
            Vidéo de présentation de son travail : <a class="pointer" ng-href="{{more.presentation_video}}" target="_blank" title="{{more.presentation_video_details}}">{{more.presentation_video}}</a>
            <span ng-show="more.presentation_video_password!=''"> >(mdp: {{more.presentation_video_password}})</span>
          </p>
          <p>
            <!-- WEB -->
            <!-- <span class="website" ng-repeat="website in more.artist.websites track by $index">
              <a href="{{ website.link }}" title="{{ website.link }}" target="_blank">{{ website.link }}</a>
            </span> -->
          </p>



        </div>

      </div>





  </div>


</div>


<div class="photo col-sm-3">
  <div class="thumbnail" ng-if="student.user.photo" >
    <fresnoy-thumbnail thurl="'media/'+student.user.photo" thwidth="300" thheight="400"></fresnoy-thumbnail>
  </div>
</div>

<div class="info col-sm-12">
  <h2><i class="glyphicon glyphicon-flash"></i>Oeuvres</h2>

  <div class="row">
    <ng-include src="'views/partials/artwork_card.html'" ng-repeat="artwork in artworks"></ng-include>
  </div>
</div>
